﻿@model TVG.Admin.Models.EditUserViewModel

@{
    ViewBag.Title = "Sửa thông tin tài khoản";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/usersadmin"><i class="fa fa-dashboard"></i> Danh sách tài khoản</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Thông tin tài khoản</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Edit", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            if(Model.IsLocked)
            {
                <div class="alert alert-warning"><i class="fa fa-lock"></i> Tài khoản đang bị khóa</div>
            }
            <div class="form-group">
                <label class="col-md-2 control-label">Tên tài khoản</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly", placeholder = "Tên tài khoản" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Họ</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Họ" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tên</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Tên" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Xác nhận email</label>
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.EmailConfirmed)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Nhóm", new { @class = "control-label col-md-2" })
                <span class=" col-md-10">
                    @if (Model != null && Model.RolesList != null)
                    {
                        foreach (var item in Model.RolesList)
                        {
                            <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                            @Html.Label(item.Text, new { @class = "control-label" })
                        }
                    }
                </span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    @if (Model.IsLocked)
                    {
                        <button type="button" id="btnUnlockUser" class="btn btn-success"><i class="fa fa-unlock"></i> Mở khóa tài khoản</button>
                    }
                    else
                    {
                        <button type="button" id="btnLockUser" class="btn btn-warning"><i class="fa fa-lock"></i> Khóa tài khoản</button>
                    }
                    @Html.ActionLink("Quay lại", "Index", null, new { @class="btn btn-default" })
                </div>
            </div>
        }

        @using (Html.BeginForm("LockUser", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="formLockUser" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="LockUserId" value="@Model.Id" />
        }
        @using (Html.BeginForm("Unlock", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formUnlockUser" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.Id" />
        }
    </div>
</div>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Đặt lại mật khẩu</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("ResetPassword", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="formResetPassword" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            
            <div class="form-group">
                <label class="col-md-2 control-label">Mật khẩu mới</label>
                <div class="col-md-10">
                    <input type="password" name="Password" id="Password" class="form-control" required placeholder="Nhập mật khẩu mới" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Nhập lại mật khẩu</label>
                <div class="col-md-10">
                    <input type="password" name="ConfirmPassword" class="form-control" data-rule-equalTo="#Password" required placeholder="Nhập lại mật khẩu mới" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    
                    <button type="button" id="btnResetPassword" class="btn btn-danger"><i class="fa fa-key"></i> Đặt lại mật khẩu</button>

                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        @*//hiện thông báo (nếu có)*@
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }
        $('#btnLockUser').on('click', function () {
            if (confirm('Bạn có chắc muốn khóa tài khoản này?')) {
                $('#formLockUser').submit();
            }
        });
        $('#btnUnlockUser').on('click', function () {
            if (confirm('Bạn có chắc muốn mở khóa tài khoản này?')) {
                $('#formUnlockUser').submit();
            }
        });
        $("#formResetPassword").validate();
        $('#btnResetPassword').on('click', function () {
            if (confirm('Bạn có chắc muốn đổi mật khẩu của tài khoản này?')) {
                $('#formResetPassword').submit();
            }
        });
    });
</script>