﻿@*@model IEnumerable<TVG.Identity.ApplicationUser>*@
@model NPoco.Page<User>
@{
    ViewBag.Title = "Quản lý tài khoản";

    string filterUsername = ValueHelper.TryGet(ViewBag.FilterUsername, "");
    string filterEmail = ValueHelper.TryGet(ViewBag.FilterEmail, "");
    string filterRoleId = ValueHelper.TryGet(ViewBag.FilterRoleId, "");
    List<Role> roles = ViewBag.Roles ?? new List<Role>();

    bool canInsert = (bool)ViewBag.CanInsert;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-search"></i>Tìm kiếm</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    @using (Html.BeginForm("Index", "UsersAdmin", FormMethod.Get, new { id = "formSearch" }))
    {

        <div class="box-body form-horizontal">
            <div class="col-md-6">
                <div class="">
                    <div class="form-group">
                        <label class="control-label col-md-3">Tên đăng nhập</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" value="@filterUsername" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email" value="@filterEmail" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Thuộc nhóm</label>
                    <div class="col-md-8">
                        <select name="roleId" id="roleId" class="form-control">
                            <option value="0">-- Chọn nhóm --</option>
                            @foreach(var role in roles)
                            {
                                <option value="@role.Id" @Html.SetSelect(role.Id.ToString(), filterRoleId)>@role.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer text-center">
            <button class="btn btn-primary" type="submit">Tìm</button>
        </div>
    }
</div>



<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Danh sách tài khoản</h3>
        <div class="box-tools">
            @if (canInsert)
            {
                @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn btn-sm btn-primary" })
            }            
        </div>
    </div>
    <div class="box-body">

        <table class="table table-hover table-data">
            <thead>
                <tr class="table-header">
                    <th>Tài khoản</th>
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td data-th="Tài khoản">
                            @Html.ActionLink(item.UserName, "Edit", new { id = item.Id })
                            @if(item.LockoutEnabled && item.LockoutEndDateUtc > DateTime.UtcNow)
                            {
                               <div><span class="label label-warning">Bị khóa</span></div>
                            }
                        </td>
                        <td data-th="Họ Tên">
                            @(item.LastName + " " + item.FirstName)
                        </td>
                        <td data-th="Email">
                            @Html.DisplayFor(modelItem => item.Email)
                            @if (!item.EmailConfirmed)
                            {
                                <div><span class="label label-warning">Chưa xác nhận</span></div>
                            }
                        </td>
                        <td data-th="Phone">
                            @item.PhoneNumber
                        </td>
                        <td data-th="">
                            @if (canEdit)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            }                            
                            @*@if (item.LockoutEnabled && !item.IsLock && canDelete)
                            {
                                @Html.Raw(" | ") @Html.ActionLink("Lock", "LockUser", new { id = item.Id })
                            }*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="box-footer clearfix">
            @Html.Pager(Model.TotalPages, Model.CurrentPage, Model.ItemsPerPage, Request.Url.PathAndQuery)
        </div>
    </div>
</div>