﻿@model IEnumerable<TVG.Identity.ApplicationUser>

@{
    ViewBag.Title = "Tài khoản bị khoá";
    bool canInsert = (bool)ViewBag.CanInsert;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Danh sách tài khoản</h3>
        <div class="box-tools">

        </div>
    </div>
    <div class="box-body">

        <table class="table table-hover table-data">
            <thead>
                <tr class="table-header">
                    <th>Tài khoản</th>
                    <th>Email</th>
                    <th>Họ Tên</th>
                    <th>Thời hạn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-th="Tài khoản">
                            @Html.ActionLink(item.UserName, "Edit", new { id = item.Id })
                        </td>
                        <td data-th="Email">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td data-th="Họ Tên">
                            @(item.LastName + " " + item.FirstName)
                        </td>
                        <td data-th="Thời hạn">
                            @item.LockoutEndDateUtc.Value.ToLocalTime().ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td data-th="">
                            @if (canEdit)
                            {
                                using (Html.BeginForm("Unlock", "UsersAdmin", FormMethod.Post, new { id = "form1" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-primary">Unlock</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }
        });
    </script>
}