﻿@model TVG.Admin.Models.RoleViewModel

@{
    ViewBag.Title = "Sửa thông tin nhóm tài khoản";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/rolesadmin"><i class="fa fa-dashboard"></i> Danh sách nhóm</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Thông tin nhóm</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Edit", "RolesAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label class="col-md-2 control-label">Mã nhóm</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly="readonly", placeholder = "Mã nhóm" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tên nhóm</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CodeName, new { @class = "form-control", placeholder = "Tên nhóm" })
                    @Html.ValidationMessageFor(model => model.CodeName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Tài khoản trong nhóm</h3>
    </div>
    <div class="box-body">
        <table class="table table-hover table-data">
            <thead>
                <tr class="table-header">
                    <th>Tài khoản</th>
                    <th>Email</th>
                    <th>Họ Tên</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Users)
                {
                    <tr>
                        <td data-th="Tài khoản">
                            @item.UserName
                        </td>
                        <td data-th="Email">
                           @item.Email
                        </td>
                        <td data-th="Họ Tên">
                            @(item.LastName + " " + item.FirstName)
                        </td>
                        <td data-th="">
                            <a href="/usersadmin/edit/@item.Id">Edit</a>
                            @if (item.LockoutEnabled)
                            {
                                @Html.Raw(" | ") <a href="/usersadmin/delete/@item.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>