﻿@model IEnumerable<TVG.Identity.ApplicationRole>

@{
    ViewBag.Title = "Quản lý nhóm tài khoản";
    bool canInsert = (bool)ViewBag.CanInsert;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Danh sách nhóm tài khoản</h3>
        <div class="box-tools">
            @if (canInsert)
            {
                @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn btn-sm btn-primary" })
            }            
        </div>
    </div>
    <div class="box-body">

        <table class="table table-hover table-data">
            <thead>
                <tr class="table-header">
                    <th>Mã nhóm</th>
                    <th>Tên nhóm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-th="Tên nhóm">
                            @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
                        </td>
                        <td data-th="Code">
                            @Html.DisplayFor(modelItem => item.CodeName)
                        </td>
                        <td data-th="">
                            @if (canEdit)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                            }
                            @if (canDelete)
                            {
                                if (!TVG.Identity.IdentityConstants.ReservedRoles.Contains(item.Name))
                                {
                                    @Html.Raw("|") @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>