﻿<div class="social-sharing">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript">
                var addthis_config = addthis_config || {};
                addthis_config.data_track_addressbar = false;
                addthis_config.data_track_clickback = false;</script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ab636c2cb3653b"></script>
    <!-- AddThis Button END -->
</div>
