﻿@{ 
    string pageUrl = ViewData.ContainsKey("PageUrl") ? this.ViewData["PageUrl"].ToString() : string.Empty;
}
<div id="commentform">
    <div class="fb-comments" data-href="@pageUrl" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
</div>
