﻿@model TVG.WebClient.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="tabs-style2 tabs-blue card">
    <ul class="nav-tabs nav">
        <li>
            <a href="/profile"><i class="ion-person"></i> Thông tin cá nhân</a>
        </li>
        <li class="active">
            <a href="#tab-password" data-toggle="tab" aria-expanded="true"><i class="ion-locked"></i> Đổi mật khẩu</a>
        </li>
        <li>
            <a href="/profile/managelogins"><i class="ion-android-cloud-done"></i> Tài khoản mạng xã hội</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-password">
            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>