﻿@model TVG.WebClient.Models.IndexViewModel
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="tabs-style2 tabs-blue card">
    <ul class="nav-tabs nav">
        <li class="active">
            <a href="#tab-info" data-toggle="tab" aria-expanded="true"><i class="ion-person"></i> Thông tin cá nhân</a>
        </li>        
        <li>
            <a href="/profile/changepassword"><i class="ion-locked"></i> Đổi mật khẩu</a>
        </li>
        <li>
            <a href="/profile/managelogins"><i class="ion-android-cloud-done"></i> Tài khoản mạng xã hội</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-info">
            @using (Html.BeginForm("UpdateInfo", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.UserInfo.Id)

                <div class="form-group">
                    <label class="col-md-2 control-label">Tên tài khoản</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserInfo.UserName, new { @class = "form-control", @readonly = "readonly", placeholder = "Tên tài khoản" })
                        @Html.ValidationMessageFor(model => model.UserInfo.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserInfo.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.UserInfo.Email)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Họ</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserInfo.LastName, new { @class = "form-control", placeholder = "Họ" })
                        @Html.ValidationMessageFor(model => model.UserInfo.LastName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tên và chữ lót</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserInfo.FirstName, new { @class = "form-control", placeholder = "Tên" })
                        @Html.ValidationMessageFor(model => model.UserInfo.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Điện thoại</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserInfo.PhoneNumber, new { @class = "form-control", placeholder = "Điện thoại" })
                        @Html.ValidationMessageFor(model => model.UserInfo.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>