﻿@model TVG.WebClient.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="tabs-style2 tabs-blue card">
    <ul class="nav-tabs nav">
        <li>
            <a href="/profile"><i class="ion-person"></i> Thông tin cá nhân</a>
        </li>
        <li>
            <a href="/profile/changepassword"><i class="ion-locked"></i> Đổi mật khẩu</a>
        </li>
        <li class="active">
            <a href="#tab-extralogin" data-toggle="tab" aria-expanded="true"><i class="ion-android-cloud-done"></i> Tài khoản mạng xã hội</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-extralogin">
            @{
                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                if (loginProviders.Count() > 0)
                {
                    if (Model.CurrentLogins.Count > 0)
                    {
                        <h4>Các tài khoản mạng xã hội dùng để đăng nhập</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tài khoản</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var account in Model.CurrentLogins)
                                {
                                    <tr>
                                        <td><div class="btn btn-social-icon btn-@account.LoginProvider.ToLower()"><i class="fa fa-@account.LoginProvider.ToLower()"></i></div> @account.LoginProvider</td>
                                        <td>
                                            @if (ViewBag.ShowRemoveButton)
                                            {
                                                using (Html.BeginForm("RemoveLogin", "Profile"))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div>
                                                        @Html.Hidden("loginProvider", account.LoginProvider)
                                                        @Html.Hidden("providerKey", account.ProviderKey)
                                                        <input type="submit" class="btn btn-default" value="Xoá tài khoản" title="Xoá tài khoản @account.LoginProvider" />
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                @: &nbsp;
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    if (Model.OtherLogins.Count > 0)
                    {
                        <h4>Thêm tài khoản mạng xã hội mới</h4>
                        using (Html.BeginForm("LinkLogin", "Profile"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-3">
                                <p>
                                    @foreach (AuthenticationDescription p in Model.OtherLogins)
                                    {
                                        <button type="submit" class="btn btn-social btn-block btn-@p.AuthenticationType.ToLower()" id="btn-@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Đăng nhập bằng tài khoản @p.Caption"><i class="fa fa-@p.AuthenticationType.ToLower()"></i>@p.AuthenticationType</button>
                                    } 
                                </p>
                            </div>
                            <div class="space-height"></div>
                        }
                    }
                }
            }

        </div>
    </div>
</div>