﻿@{
    ViewBag.Title = "Forbidden";
    ViewBag.Description = "Sorry, but you don't have permission to access this page.";
}
@{
    
}
<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-ban text-danger"></span> @ViewBag.Title</h1>
    </header>
    <p>@ViewBag.Description</p>
    <a class="btn btn-primary btn-lg" href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
</div>