﻿@model TVG.Admin.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/profile"><i class="fa fa-dashboard"></i> Thông tin tài khoản</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Mật khẩu</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">Mật khẩu cũ</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Mật khẩu cũ" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Mật khẩu mới</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Mật khẩu mới" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Xác nhận mật khẩu mới</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Xác nhận mật khẩu mới" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu lại" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>