﻿@model TVG.Admin.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Quản lý thông tin cá nhân";
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-user"></i> Thông tin tài khoản</h3>
    </div>
    <div class="box-body">
        <p class="text-success">@ViewBag.StatusMessage</p>
        @using (Html.BeginForm("UpdateInfo", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserInfo.Id)

            <div class="form-group">
                <label class="col-md-2 control-label">Tên tài khoản</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserInfo.UserName, new { @class = "form-control", @readonly = "readonly", placeholder = "Tên tài khoản" })
                    @Html.ValidationMessageFor(model => model.UserInfo.UserName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserInfo.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.UserInfo.Email)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Họ</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserInfo.LastName, new { @class = "form-control", placeholder = "Họ" })
                    @Html.ValidationMessageFor(model => model.UserInfo.LastName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tên</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserInfo.FirstName, new { @class = "form-control", placeholder = "Tên" })
                    @Html.ValidationMessageFor(model => model.UserInfo.FirstName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                </div>
            </div>
        }
    </div>
</div>