﻿a{-moz-transition:.3s;-o-transition:.3s;-webkit-transition:.3s;transition:.3s;color:#01366a;outline:none!important}
a:hover,a:active,a a:visited{color:#024283;text-decoration:none!important}
a:not([href]) {color:#333}
address{line-height:20px}
abbr{border-bottom:1px dotted;color:#767676}
blockquote{border:none;clear:both;display:table;margin:0;padding:40px}
blockquote figure{float:left}
blockquote figure img{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;border:3px solid #fff}
blockquote article{padding-left:40px}
blockquote article header{color:#012951;margin-bottom:10px}
blockquote article footer{color:#767676}
blockquote .paragraph-wrapper{display:table-cell;vertical-align:middle}
h1{display:inline-block;font-size:36px;margin-bottom:35px;margin-top:10px;position:relative}
h1:after{background-color:#c5c5c5;bottom:-15px;content:"";height:2px;left:0;width:30px;position:absolute;z-index:0}
h2{display:inline-block;font-size:24px;margin-bottom:35px;margin-top:10px;position:relative}
h3{font-size:18px}
h4{font-size:14px}
html{height:100%}
ul{padding-left:10px}
ul.list-links{color:#d9d9d9}
ul.list-links li{padding:0}
ul.list-links a{display:block;position:relative;left:0;padding:6px 0}
ul.list-links a:hover{left:3px}

/* fix for bootstrap*/
.no-gutter > [class*='col-']{padding-right:0;padding-left:0}
.row .no-padding {padding-right:0; padding-left: 0}
.padding-small > [class*='col-']{padding-left:5px;padding-right:5px}
.form-control,input[type="text"],input[type="email"],input[type="search"],input[type="password"],input[type="number"],textarea,select{border-radius:0}
input{outline:none!important}
select.form-control{background:#fff url(images/select-arrow.svg) right center no-repeat;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none}
select:focus{outline:none}
select:-moz-focusring { color: transparent;text-shadow: 0 0 0 #000; }
.panel-group .panel{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border-width:2px;border-color:#e2e2e2}
.panel-group .panel .panel-heading{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;background-color:#f5f5f5;padding:0;position:relative}
.panel-group .panel .panel-heading:hover{background-color:#ebebeb}
.panel-group .panel .panel-heading:before{text-shadow:none;-webkit-font-smoothing:antialiased;font-family:'fontawesome';speak:none;font-weight:400;font-variant:normal;line-height:1;text-transform:none;bottom:3px;color:#ea6645;content:"\f059";display:inline-block;font-size:12px;position:absolute;top:16px;left:16px}
.panel-group .panel .panel-heading h4{color:#252525;font-size:14px}
.panel-group .panel .panel-heading h4 a{display:block;padding:15px 15px 15px 35px}
.panel-group .panel .panel-heading h4 a:hover,.panel-group .panel .panel-heading h4 a:active,.panel-group .panel .panel-heading h4 a:focus{color:inherit;text-decoration:none}
.panel-group .panel .panel-collapse .panel-body{border-top:2px solid #e2e2e2;color:#767676}
.pagination li a{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}

/* common */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family:Roboto; line-height: 1.5}
th.header {position: relative;cursor: pointer;}
.wrapper { overflow: hidden;}
.no-select{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.divider{background-color:#c5c5c5;height:1px;width:30px;margin:10px 0}
.space-height { clear:both; height: 10px;}
.center-image{bottom:0;display:inline-block!important;left:0;margin:auto;right:0;top:0;position:absolute;width:inherit!important}
.stick-to-bottom{bottom:0;position:absolute}
.table-wrapper{display:table;width:100%;height:100%}
.table-cell-wrapper{display:table-cell;vertical-align:middle}
.table .td-name {background:#F5F5F5; font-weight:700}
.table .td-w-bg {background:#F5F5F5;}
.vertical-center{bottom:0;margin:auto;top:0;position:absolute}
.sticky-tab-header {position:fixed; top:0;z-index: 9; background: #fff}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.list-nostyle {list-style:none}
.text-sm {font-size:12px}

.opacity-1{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);opacity:.01}
.opacity-2{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=2);opacity:.02}
.opacity-3{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=3);opacity:.03}
.opacity-4{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=4);opacity:.04}
.opacity-5{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=5);opacity:.05}
.opacity-6{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=6);opacity:.06}
.opacity-7{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=7);opacity:.07}
.opacity-8{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=8);opacity:.08}
.opacity-9{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=9);opacity:.09}
.opacity-10{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10);opacity:.1}
.opacity-20{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);opacity:.2}
.opacity-30{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);opacity:.3}
.opacity-40{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:.4}
.opacity-50{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:.5}
.opacity-60{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:.6}
.opacity-70{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.opacity-80{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:.8}
.opacity-90{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);opacity:.9}

.column-2{-webkit-column-count:2;-moz-column-count:2;column-count:2}
.column-3{-webkit-column-count:3;-moz-column-count:3;column-count:3}

/*colors*/
.text-danger { color: #F44336 }
.text-warning { color: #FF9800 }
.text-success { color: #4CAF50 }
.bg-green {background: #5a9e25 !important;color:#fff}
.bg-orange {background:#fb8401 !important;color:#fff}
.bg-orange-light {background:#FFE0B2 !important;}
.bg-blue-light {background:#B3E5FC !important;}
.bg-azure {background:#59b7ff !important;}
.bg-yellow-a {background:#FFD600 !important;}

/*buttons*/
button:focus{outline:none!important}
.btn{border-radius:0px;border:0;transition:.2s ease-out;color:#fff!important;margin:6px;white-space:normal!important;word-wrap:break-word;position:relative;overflow:hidden}
.btn:hover{color:#fff}
.btn:active,.btn:focus,.btn.active{outline:0;color:#fff}
.btn .fa{margin-top:3px}
.btn .fa.right{margin-left:3px}
.btn .fa.left{margin-right:3px}
.btn-group .btn{margin:0}
.btn-block{margin:inherit}
.btn-secondary{background-color:#a6c}
.btn-secondary:hover,.btn-secondary:focus{background-color:#b579d2!important;color:#fff}
.btn-secondary.active{background-color:#739!important}
.btn-secondary.active:hover{color:#fff}
.btn-secondary.active:focus{color:#fff}
.btn-secondary.dropdown-toggle{color:#fff!important;background-color:#a6c!important}
.btn-secondary.dropdown-toggle:hover{color:#fff;background-color:#b579d2!important}
.btn-secondary.dropdown-toggle:focus{color:#fff;background-color:#a6c}
.btn-secondary:active:hover{background-color:#b579d2!important}
.btn-primary{background:#4285F4;color:#fff!important}
.btn-primary:hover,.btn-primary:focus{background-color:#5a95f5!important}
.btn-primary.active{background-color:#0b51c5!important}
.btn-default{background:#2BBBAD}
.btn-default:hover,.btn-default:focus{background-color:#30cfc0!important}
.btn-default.active{background-color:#186860!important}
.btn-success{background:#00C851}
.btn-success:hover,.btn-success:focus{background-color:#00d255!important}
.btn-success.active{background-color:#006228!important}
.btn-info{background:#33b5e5}
.btn-info:hover,.btn-info:focus{background-color:#4abde8!important}
.btn-info.active{background-color:#14799e!important}
.btn-warning{background:#F80}
.btn-warning:hover,.btn-warning:focus{background-color:#ff961f!important}
.btn-warning.active{background-color:#c80!important}
.btn-danger{background:#C00}
.btn-danger:hover,.btn-danger:focus{background-color:#db0000!important}
.btn-danger.active{background-color:maroon!important}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #212121;
  font-family: Arial, 'Source Sans Pro', Roboto, sans-serif;
  font-size: 13px;
  line-height:1.5;
  height: 100%;
  overflow-x: hidden;
}

.wrapper { display: table; height: 100%; width: 100%; }

/*admin menu*/
.navbar.admin-menu{margin-bottom:0;border-radius:0;min-height:0}
nav.admin-menu .navbar-nav li{padding:0}
nav.admin-menu .navbar-nav li a{padding:5px 10px;color:#eee}
nav.admin-menu .navbar-nav li .dropdown-menu{top:30px;background:#101010}
nav.admin-menu .navbar-nav li .dropdown-menu li a{color:#eee;font-size:1em;padding:5px 10px}
nav.admin-menu .navbar-nav li .dropdown-menu li:hover a{background:#333 !important}

/*header mini secondary menu (contact info)*/
.navigation-wrapper { position: relative; }
.secondary-navigation-wrapper { position: relative; }
.secondary-navigation-wrapper .container {position:relative}
.contact-menu {z-index:2; background: #005a84; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 5px 10px}
.navigation-contact {margin-right: 10px; display: inline-block}
.navigation-contact a, .navigation-contact a:hover{color:#fff}
.navigation-contact i {font-size: 1.25em;}
.user-menu {margin: 5px 10px}

/* header */
.primary-navigation-wrapper{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;padding:0px 0;position:relative;background:#fff}
.primary-navigation-wrapper header{border:0;margin-bottom:0}
.primary-navigation-wrapper header .navbar-brand{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;padding:0 15px;position:relative;background:#fff;height:100%}
.primary-navigation-wrapper header .navbar-brand img{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;max-height:80px;position:relative;z-index:1}
.primary-navigation-wrapper #main-menu{ margin-top: 15px; width:70% }
.primary-navigation-wrapper nav { padding: 0; position: relative; z-index: 99; }
.primary-navigation-wrapper nav .navbar-nav li{padding:inherit;font-size:15px;font-family:Roboto;}
.primary-navigation-wrapper nav .navbar-nav li.menu-large{position:static;}
.primary-navigation-wrapper nav .navbar-nav > li > a{text-transform:uppercase;font-size:1em;padding:10px 10px 10px 10px;color:#212121}
.primary-navigation-wrapper nav .navbar-nav li a:hover,.primary-navigation-wrapper nav .navbar-nav li a:focus,.primary-navigation-wrapper nav .navbar-nav li a:active{background-color:transparent;cursor:pointer}
.primary-navigation-wrapper nav .navbar-nav li .dropdown-menu{border-top: 3px solid #2196F3;-moz-transition:.2s;-o-transition:.2s;-webkit-transition:.2s;transition:.2s;background-color:#fff;visibility:hidden;min-width:200px;padding:0}
.primary-navigation-wrapper nav .navbar-nav li .dropdown-menu li{padding-bottom: 5px; padding-top: 5px}
.primary-navigation-wrapper nav .navbar-nav li .dropdown-menu li a {color:#01366a }
.primary-navigation-wrapper nav .navbar-nav li .dropdown-menu li a:hover{color:#ea6645}
.primary-navigation-wrapper nav .navbar-nav li .dropdown-menu li:last-child{border:none}
.primary-navigation-wrapper nav .navbar-nav li .dropdown-menu:not(.megamenu) {left:0}
.megamenu{padding:10px !important;width:100%;right:0}
.megamenu-medium {width: 75%}
.megamenu-small {width: 50%}
.megamenu .menu-col {width: 33%; display:block;float:left}
.megamenu .menu-col-header {margin-bottom: 10px; font-weight:bold}
.megamenu li a {border-bottom:1px dotted #eee;padding: 5px 10px; white-space:nowrap}
.megamenu> li > ul{padding:0;margin:0}
.megamenu> li > ul > li{list-style:none}
.megamenu> li > ul > li > a{display:block;padding:5px 10px; clear:both;font-weight:400;color:#212121;white-space:nowrap}
.megamenu> li ul > li > a:hover,.megamenu> li ul > li > a:focus{text-decoration:none;color:#262626;background-color:#f5f5f5}
.megamenu.disabled > a,.megamenu.disabled > a:hover,.megamenu.disabled > a:focus{color:#999}
.megamenu.disabled > a:hover,.megamenu.disabled > a:focus{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);cursor:not-allowed}
.megamenu .level-0 > a {color:#01366a}
.megamenu .level-1 > a {font-size: .9em; color:#01366a}

.megamenu.home-cat-list{padding:0 10px !important;font-size:1.125em}
.megamenu.home-cat-list li a {border-bottom:0;white-space:nowrap}
.megamenu.home-cat-list> li > ul > li > a{white-space:nowrap}
.megamenu.home-cat-list> li ul > li > a:hover,.megamenu.home-cat-list> li ul > li > a:focus{background-color:transparent}
.megamenu.home-cat-list .level-1 > a {font-size: .9em; color:#01366a}

/*button social*/
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.btn-social > :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon{position:relative;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}
.btn-social-icon > :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open > .dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2);background-image:none}
.btn-google .badge{color:#dd4b39;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open > .dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2);background-image:none}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

/* Footer */
#page-footer{display:table-row;background:#005176;background:-moz-linear-gradient(top,#005176 0%,#004462 100%);background:-webkit-linear-gradient(top,#005176 0%,#004462 100%);background:linear-gradient(to bottom,#005176 0%,#004462 100%)}
#page-footer a{color:#fff!important}
#page-footer abbr{color:#fff}
#page-footer h4{color:#fff;display:inline-block;font-size:24px;margin-bottom:35px;margin-top:10px;position:relative}
#page-footer h4:after{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);opacity:.2;background-color:#fff;bottom:-15px;content:"";height:2px;left:0;width:30px;position:absolute;z-index:0}
#page-footer ul{color:#fff}
#page-footer p{color:#fff;margin:0}
#page-footer .logo img {max-width: 100%}
#page-footer #footer-top{background-color:#f5f5f5;margin-top:30px;padding:30px 0}
#page-footer #footer-top .footer-inner{display:table}
#page-footer #footer-top .footer-inner .footer-social{display:table-cell;vertical-align:middle;width:100%}
#page-footer #footer-top .footer-inner .footer-social figure{display:inline-block;font-size:14px;vertical-align:top}
#page-footer #footer-top .footer-inner .footer-social .icons{display:inline-block}
#page-footer #footer-top .footer-inner .footer-social .icons i{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:.6;-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;color:#252525;display:inline-block;float:left;font-size:18px;padding:2px 10px;margin:0}
#page-footer #footer-top .footer-inner .footer-social .icons i:hover{filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
#page-footer #footer-top .footer-inner .input-group{margin-bottom:0}
#page-footer #footer-top .footer-inner .input-group input{width:265px}
#page-footer #footer-content{color:#fff!important;position:relative;padding:40px 0}
#page-footer #footer-bottom{background-color:#012447;color:#fff;padding:5px 0}
#page-footer #footer-bottom .footer-inner{display:table;width:100%}
#page-footer #footer-bottom .footer-inner .copyright{display:table-cell;vertical-align:middle}
#page-footer #footer-bottom nav a{padding-top:20px;padding-bottom:20px}
#page-footer #footer-bottom nav a:hover,#page-footer #footer-bottom nav a:active,#page-footer #footer-bottom nav a:focus{background-color:transparent}

#main {padding-top: 10px;padding-bottom:20px}

.breadcrumb{display:block; background-color:transparent;margin-bottom:20px;margin-top:0;padding:0 20px;font-size:.9em}
.breadcrumb li a{color:#767676}
.breadcrumb > li + li:before{content:"›";font-size:1.25em}

/*homepage*/
.home-section {margin-bottom: 20px}
.header-search{background:#005a84;height:55px;color:#fff;padding:5px}
.header-search select.form-control {width: 200px;}
.header-search .search-kw-wrapper {width: 65%; }
.header-search .search-kw-wrapper input[type="text"] {width: 100%; display:block}

.home-top-wrapper {padding: 0; margin-bottom: 20px}
.home-search .nav-tabs {border-bottom: 5px solid #fb8401;}
.home-search .nav-tabs > li {border:none;margin-bottom:0px}
.home-search .nav-tabs > li.active a {border:none; background:#fb8401;color:#fff}
.home-search .nav-tabs > li a {border:none; background:#ddd;color:#666}
.home-search .tab-content {background: #ddd;padding: 15px 20px 10px;top: 0;}

.home-categories .nav-tabs {border-bottom: 5px solid #fb8401;}
.home-categories .nav-tabs > li {border:none;margin-bottom:0px}
.home-categories .nav-tabs > li.active a {border:none; background:#fb8401;color:#fff}
.home-categories .nav-tabs > li a {border:none; background:#eee;color:#666}
.home-categories .tab-content {background: #eee;padding: 15px 20px 10px;top: 0;min-height: 275px;font-size:.9em}
.home-categories .tab-content [class^="tl-"] {margin-bottom: 10px;}
.home-categories .tab-content li {padding-bottom: 5px}
.home-categories [class^='tl-'] {white-space:nowrap}
@media screen and (max-width: 768px){
    .home-categories .tab-content{min-height: auto;}
    .home-categories {margin-top: 20px}
    .home-categories .tab-pane img{width:16px}
}

.tabs-style2 .nav-tabs { border-bottom: 1px solid #DDD; background:#fafafa }
.tabs-style2 .nav-tabs > li {margin-bottom: 0}
.tabs-style2 .nav-tabs > li.active > a, .tabs-style2 .nav-tabs > li.active > a:focus, .tabs-style2 .nav-tabs > li.active > a:hover { border-width: 0; }
.tabs-style2 .nav-tabs > li > a { border: none; border-right: 1px solid #ddd !important;margin-right: 0;background:#fafafa; color: #666; font-family:"Source Sans Pro"; font-size:16px;text-transform:uppercase }
.tabs-style2 .nav-tabs > li.active > a, .tabs-style2 .nav-tabs > li > a:hover { border: none; color: #0D47A1 !important; background: #fff; font-weight:500 }
.tabs-style2 .nav-tabs > li > a::after { content: ""; background: #fff; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.tabs-style2 .nav-tabs > li.active > a::after, .tabs-style2 .nav-tabs > li:hover > a::after { transform: scale(1); }
.tabs-style2 .tab-nav > li > a::after { background: #fff none repeat scroll 0% 0%; color: #fff; }
.tabs-style2 .nav-tabs > li > a::before { content: ""; background: #FF9800; height:3px; position: absolute; width: 100%; left: 0px; top: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.tabs-style2 .nav-tabs > li.active > a::before, .tabs-style2 .nav-tabs > li:hover > a::before { transform: scale(1); }
.tabs-style2 .tab-nav > li > a::before { background: #E65100 none repeat scroll 0% 0%; color: #fff; }
.tabs-style2 .tab-pane { padding: 0px 0;  }
.tabs-style2 .tab-content{padding:20px; background:#fff}
.tabs-style2 .tab-content [class^="tl-"] {margin-bottom: 10px;}
@media screen and (max-width: 768px){
    .tabs-style2 .tab-content{min-height: auto;}    
}
.tabs-style2.tabs-blue .nav-tabs > li > a::before {background: #3F51B5;}

/*carousel in homepage*/
.image-carousel .owl-buttons{bottom:8px;position:absolute;right:10px}
.image-carousel .owl-buttons .owl-prev,.image-carousel .owl-buttons .owl-next{-moz-transition:.3s;-o-transition:.3s;-webkit-transition:.3s;transition:.3s;background-color:#ea6645;display:inline-block;height:30px;width:30px;position:relative}
.image-carousel .owl-buttons .owl-prev:after,.image-carousel .owl-buttons .owl-next:after{text-shadow:none;-webkit-font-smoothing:antialiased;font-family:'fontawesome';speak:none;font-weight:400;font-variant:normal;line-height:1;text-transform:none;color:#fff;display:inline-block;font-size:16px;position:absolute;padding:7px 13px}
.image-carousel .owl-buttons .owl-prev:hover,.image-carousel .owl-buttons .owl-next:hover{background-color:#e85b37}
.image-carousel .owl-buttons .owl-next:after{content:"\f105"}
.image-carousel .owl-buttons .owl-prev:after{content:"\f104"}

/*list van ban*/
.course-list-table .course-title{font-weight:700}
.course-list-table .length{width:15%}
.course-list-table .starts{width:15%}
.course-list-table .status{width:20%}
.course-list-table thead tr th{border-color:#005a84;color:#252525;font-size:1em;font-family:Roboto,'Source Sans Pro';font-weight:400}
.course-list-table tbody tr:hover th{background-color:#f5f5f5}
.course-list-table tbody tr.status-completed{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:.5}
.course-list-table tbody tr.status-in-progress .status{color:#ea6645}
.course-list-table tbody tr th{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;color:#767676;font-weight:400;padding:15px 10px}
.course-list-table tbody tr th i{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:.5;width:20px}



.tab-documents {margin: 0 -20px;}
.tab-documents .total-documents {padding: 0 20px; margin-bottom: 20px; font-weight: 700;color: #616161}
.tab-documents .document-section-header {font-size: 1.25em; font-weight: 700; padding: 0 20px;margin-top: 30px;}

.documents-table {width: 100%;}
.documents-table td, .documents-table th { padding: 10px 20px;  }
.documents-table thead {background:#f5f5f5; border-bottom: 2px solid #e7e7e7}
.documents-table tbody tr {}
.documents-table tr td { border-top: 1px solid #e7e7e7}  
.documents-table tr td.new-post { background: url(images/new_icon.gif) no-repeat 20px center; padding-left: 56px;}  

/* list post */
.post-list article {padding:10px; clear: both;}
.post-list h1 {font-size: 18px; font-weight:bold;text-transform:uppercase;margin-top:0}
.post-list article:nth-child(odd) {background:#f5f5f5}
.post-list .post-thumb {padding-right: 0}
.post-list .post-thumb img {max-width: 100%;}

.post-list .post-info {margin-bottom: 10px}
.post-list .post-meta {margin: 10px 0; color:#767676;}

.post-list .two-cols {margin-bottom: 20px}
.post-list .two-cols .post-title {float:left; width: 75%; margin-right: 15px;text-align:justify}
.post-list .two-cols .post-meta {float:left;margin-top: 0}
.post-list .type-document-case .post-title {width: 65%}

.post-list .post-links {padding: 10px 0; clear:both;color:#767676;}
.post-list .meta-link {display:inline-block; margin: 0 5px; color: #767676}
.post-list .meta-link:hover {color: #024283}
.post-list .post-links .post-date {display:inline-block;margin-right: 5px}

.post-list .type-document .post-meta > div {display: inline-block; margin-right: 10px}
.post-list .type-document .post-meta .label {margin-right: 5px}
.post-list .type-document .post-meta .label a {color: #fff}

@media (max-width: 769px)
{
    .post-list .post-thumb img {max-width: 240px;}
}

/* detail van ban*/
.document-tabs .nav-tabs {border-bottom: 5px solid #0083bf;}
.document-tabs .nav-tabs > li {border:none;margin-bottom:0px}
.document-tabs .nav-tabs > li.active a {border:none; background:#0083bf;color:#fff}
.document-tabs .nav-tabs > li a {border:none;}
.document-tabs .tab-content {padding: 15px 10px 10px;top: 0;min-height: 300px;}
.document-tabs .tab-content h4 {font-weight: bold}
.document-tabs #tab_content {position: relative}
.document-tabs .watermark-seal {position:absolute; color: #de231f; top: 40px; right: 0px; z-index: 2; border: 4px solid #de231f; text-align:center; text-transform:uppercase;transform: rotate(15deg);width:250px;opacity:.6; }
.document-tabs .watermark-seal .seal-header {border-bottom: 1px solid #de231f; padding: 5px 10px}
.document-tabs .watermark-seal .seal-body {padding:5px 10px; font-size: 1.5em; font-weight: 700}
.document-tabs table {width: 100%}

.related-docs {font-size: .9em;}
.related-docs .box {border:1px solid #ddd; margin-bottom: 10px}
.related-docs .box .box-header {background: #eee; margin:0;padding: 5px; cursor:pointer}
.related-docs .box .box-header::after {font-family: 'Ionicons'; content: "\f3d0"; float: right; }
.related-docs .box .box-header.collapsed::after{content:"\f3d3"}
.related-docs .box-body {padding: 5px;}
.related-docs .box-body ol, .related-docs .box-body ul {padding-left: 15px}
.related-docs .related-item a.tipso_style {border-bottom:none}
.related-docs .box-body ul.related-items-list li {border-bottom: 1px dotted #9E9E9E; padding: 5px 0; margin-left: 5px;}
.related-docs .box-body ul.related-items-list li:last-child{border-bottom:none}
.related-docs .box-body ul.pagination{margin-top: 5px;}
.related-docs .box-body ul.pagination a {padding: 4px 10px}
.related-docs .box ul {list-style:none; margin: 0; padding:0} 
.related-docs .current-doc .box-header {background:#64DD17; color: #fff;}
.related-docs .current-doc .box-body {background: #B9F6CA}
.related-docs .box.has-docs { border-color:#FFC107}
.related-docs .box.has-docs .box-header {background: #FFC107; color: #fff;}
@media only screen and (max-width : 768px) {
    .related-docs {font-size: 1em;}
}

#table-index {background: #BBDEFB}
#table-index ul li {list-style:none}
#table-index li.dieu {padding-left: 20px}
.document-content-sidebar {padding-left: 5px !important}
.document-content-sidebar h3{padding-left: 10px}
.link-codenum {border-bottom: 1px dotted; cursor:help; color: #2200CC}

.attach-item .fa-file-word-o {color: #2a5699}
.attach-item .fa-file-excel-o {color: #207245}
.attach-item .fa-file-powerpoint-o {color: #d24625}
.attach-item .fa-file-pdf-o {color: #bb0706}

.tipso_bubble {background: #E3F2FD !important; border: 1px solid #2196F3 !important; color: #212121 !important}
.tipso_bubble .tipso_content {text-align: left;}
.tipso_bubble .tipso_content .table {margin-bottom: 10px}
.tipso_bubble .tipso_content .table td {padding: 5px;border-color: #bdbdbd}
.tipso_bubble .tt-title {font-weight: 700; margin-bottom: 10px}

.document-info {border-bottom: 3px solid #efefef;background:#f8f8f8; margin-bottom: 20px}
.document-info > span{display:block;width:33%;float:left;padding:4px 0;text-align:center;text-transform:uppercase;border-right:1px solid #efefef}

/* detail post */
.single-post header h1 {font-size: 1.25em;}
.single-post .post-excerpt{font-style:italic; margin-bottom: 10px;}
.single-post .sidebar-left {position:relative}
/* search result page */
.search-section {margin-bottom: 20px}
.search-section h2 {font-size: 1.25em; padding: 10px; margin: 0; display:block; background: #ddd }
.kw-hit {background-color: #FFFF00}
.highlight, mark { background-color: #FFFF00; }
.search-section .total-results {font-weight: 700; margin: 10px;}
.search-section .sub-types ul li{display:inline-block;list-style:none;background:#005a84;border-radius:10px;margin-right:5px;padding:2px 10px;margin-top:10px;font-weight:700}
.search-section .sub-types ul li.active {background:#ea6645}
.search-section .sub-types ul li a {color: #fff}

/*widget boxes*/
.news-small article{border-bottom:1px solid rgba(0,0,0,0.1);color:#c5c5c5;margin-bottom:10px;padding-bottom:10px;padding-left:0px}
.news-small article:last-child{border:none}
.news-small article header{font-weight:400}
.news-small article i{margin-right:5px}
.news-small article .date{margin-top:5px;font-size:12px;color:#767676}
.news-small article img {max-width: 100%}
.news-small article .post-thumb {padding-left: 15px; padding-right: 0px;}
.news-small article .post-meta {font-size:12px;}
.news-small article .read-more {display:block; text-align:right}

.section-header {margin:0 0 10px 0; padding: 0px; background:#E3F2FD;color:#fff;box-shadow: 0 -1px 1px 0 #006695 inset;}
.section-header h2 {font-size: 1.125em; text-transform: uppercase;margin:0;padding: 5px 10px}
.home-block .section-header{margin-bottom: 0}
.home-block .section-content {min-height:280px; border: 1px solid #afd2e5; border-bottom: 5px solid #afd2e5;padding: 15px}
.home-block .section-header h2 {font-size: 1.125em; text-transform: uppercase;margin:0;padding: 5px 10px;background:#005a84}
.home-block .section-header h2::after{display:block;content:"";height:0;border-top:31px solid transparent;border-left:15px solid #005a84;width:20px;position:absolute;top:0;right:-20px}
.home-block .section-header .link-read-more {position:absolute; top: 5px; right: 20px; font-style:italic}
.home-block article header{font-weight:400}

.widget {margin-bottom: 10px; border-bottom: 5px solid #e4e4e4}
.widget .section-header {margin:0; padding: 10px; background:#0083bf;color:#fff}
.widget .section-header h2 {font-size: 1em; text-transform: uppercase;margin:0;padding:0}
.widget .section-content {background:#fff; border:1px solid #e4e4e4; border-top:none; padding: 10px}
.widget .list-item {padding: 0px 0 0px 15px; line-height: 36px; border-bottom: 1px solid rgba(0, 0, 0, 0.05); font-weight: 600; }
.widget .list-item:last-child{border-bottom:none}
.widget .list-item.level-1{padding-left:40px}
.widget .list-item.level-2{padding-left:80px}

.widget-login-box {font-size:12px}
.widget-login-box .form-group-sm {margin-bottom:5px}
.widget-login-box .link-register {margin-left: 20px}
.widget-login-box legend {font-size: 13px;border-bottom:none;margin-bottom:10px;margin-left:0px;width:auto;padding:0 5px;font-weight:bold}
.widget-login-box fieldset{padding:0 20px;border:1px solid #ddd}
.widget-login-box .btn-submit {margin-bottom:0}

.top-documents .meta {margin:10px 0 0 0}
.top-documents .meta-link {font-size:12px; display:inline-block; margin: 0 10px; color: #767676}
.top-documents .meta-link:hover {color: #024283}
.top-documents .meta .date {display:inline-block;margin-right: 10px}

ul.ss_social{position:relative;overflow:hidden;width:auto;margin:0 -4px 16px;padding:0;list-style:none}
ul.ss_social li,.widget ul.ss_social li{float:left;margin:0;padding:0 4px 8px;display:block;border:none;text-align:center}
ul.ss_social li a{width:32px;height:32px;display:block;padding:0;color:#212121;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-transition:box-shadow .2s cubic-bezier(0.4,0,0.2,1);-moz-transition:box-shadow .2s cubic-bezier(0.4,0,0.2,1);-o-transition:box-shadow .2s cubic-bezier(0.4,0,0.2,1);-ms-transition:box-shadow .2s cubic-bezier(0.4,0,0.2,1);transition:box-shadow .2s cubic-bezier(0.4,0,0.2,1)}
ul.ss_social li a:hover{color:#fff;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.5);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.5);box-shadow:0 1px 3px 0 rgba(0,0,0,0.5)}
ul.ss_social li a:active{color:#fff;background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0.15));background-image:-moz-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0.15));background-image:-ms-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0.15));background-image:-o-linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0.15));background-image:linear-gradient(top,rgba(0,0,0,0.15),rgba(0,0,0,0.15))}
ul.ss_social li a:before{font-size:19px;line-height:1.68421;line-height:32px;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
ul.ss_social li a.twitter{background:#3cf}
ul.ss_social li a.facebook{background-color:#3c5a98}
ul.ss_social li a.gplus{background-color:#dd4c39}
ul.ss_social li a.rss{background-color:#f90}
ul.ss_social li a.print{background-color:#795548}
ul.ss_social li a.twitter:before{color:#fff;content:"\f099"}
ul.ss_social li a.facebook:before{color:#fff;content:"\f09a"}
ul.ss_social li a.gplus:before{color:#fff;content:"\f0d5"}
ul.ss_social li a.rss:before{color:#fff;content:"\f09e"}
ul.ss_social li a.print:before{color:#fff;content:"\f02f"}

/*link read more*/
.read-more{color:#252525;display:inline-block;font-size:14px;font-weight:700;margin-top:10px}
.read-more:after{text-shadow:none;-webkit-font-smoothing:antialiased;font-family:'fontawesome';speak:none;font-weight:400;font-variant:normal;line-height:1;text-transform:none;-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;color:#ea6645;content:"\f18e";display:inline-block;font-size:16px;margin-left:5px;position:relative;top:2px}

/* ripple effect */
.ink{display:block;position:absolute;background:rgba(255,255,255,0.3);border-radius:100%;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
.ink.animate{-webkit-animation:ripple .65s linear;-moz-animation:ripple .65s linear;-ms-animation:ripple .65s linear;-o-animation:ripple .65s linear;animation:ripple .65s linear}
@-webkit-keyframes ripple {
    100%{opacity:0;-webkit-transform:scale(2.5)}
}
@-moz-keyframes ripple {
    100%{opacity:0;-moz-transform:scale(2.5)}
}
@-o-keyframes ripple {
    100%{opacity:0;-o-transform:scale(2.5)}
}
@keyframes ripple {
    100%{opacity:0;transform:scale(2.5)}
}

/* linh tinh*/
.field-validation-error {font-size:.875em}
.fa-bigger {font-size:1.25em !important;}

/* button Go to top */
.bottom-nav{position:fixed;background:#0083bf;opacity:.5;bottom:0;right:1%;text-align:center;padding:0px 10px}
.bottom-nav a{display:block;padding:3px 0}
.bottom-nav a span{display:block;text-indent:-999px;width:30px;height:30px}
.bottom-nav a i{color:#fff}
.bottom-nav .gototop{cursor:pointer}
@media only screen and (max-width : 480px) {
    .bottom-nav a {display:none;}
    .bottom-nav a:first-child{display:block}
}

/* Responsive table */
@media only screen and (max-width : 768px) {
    .table-data td:before{content:attr(data-th) " ";font-weight:700;width:6.5em;display:inline-block}
    .table-data.no-header td:before{display:none}
    .table-data tr {border-top:5px solid #ddd;}
    .table-data th{display:none}
    .table-data td{background:none !important;display:block;border-top:none!important;border-left:none!important;border-bottom:1px solid #eee}
    .table-data tr td:last-child {border-bottom: none !important;}
    .table-data td:first-child{padding-top:.5em}
    .table-data td:last-child{padding-bottom:.5em}
    .table-data td,.table-data th{margin:.5em 1em}
}
/*End responsive table*/

@media (min-width: 992px) and (max-width: 1199px) {
    .primary-navigation-wrapper{padding:15px 0}
    .primary-navigation-wrapper .navbar-brand img{max-width:180px}
    .header-search .search-kw-wrapper{width:55%}
}
@media (min-width: 768px) and (max-width: 991px) {
    .primary-navigation-wrapper {padding: 5px 0px;}
    .primary-navigation-wrapper #main-menu {margin-top: 10px; width: 100%}
    .primary-navigation-wrapper .navbar-brand {padding-top: 5px;}
    .primary-navigation-wrapper .navbar-right{float:left!important}    
    .header-search .search-kw-wrapper{width:40%}
    .stick-to-bottom{position:relative}
    .navbar-header{float:none!important}
}
@media (min-width: 768px){
    .primary-navigation-wrapper nav .navbar-nav li:hover .dropdown-menu{display:block;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1;visibility:visible}
}
@media (max-width: 767px) {
    body{font-size:14px}
    img{width:100%}
    iframe{width:100%}
    footer section{margin-bottom:inherit}
    section{margin-bottom:0!important}
    .wrapper{display:inherit!important;overflow:visible!important}
    #page-footer{display:inherit!important}
    .course-list-table img{width:auto}
    footer img{width:inherit;position:relative!important}
    footer #footer-top .footer-inner{display:block;text-align:center}
    footer #footer-top .footer-inner .footer-social{display:block!important;margin-bottom:20px;width:100%}
    footer #footer-top .footer-inner .footer-social figure{display:block;margin-bottom:10px}
    footer #footer-top .footer-inner .footer-social .icons .fa{font-size:30px;padding:2px 20px}
    footer #footer-top .footer-inner .search{float:none!important}
    footer #footer-top .footer-inner .search .input-group input{width:100%!important}
    footer #footer-content aside{margin-bottom:30px}
    footer #footer-content .logo{display:block;text-align:center}

    .navigation-wrapper{top:0}
    .navbar-toggle{background:#005a84}
    .primary-navigation-wrapper{padding:10px 0}
    .primary-navigation-wrapper #main-menu {width: 100%;margin-left:0;margin-bottom:5px}
    .primary-navigation-wrapper nav .navbar-nav{padding:0!important;}
    .primary-navigation-wrapper nav .navbar-nav li{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;border-bottom:1px solid rgba(255,255,255,0.05)}
    .primary-navigation-wrapper nav .navbar-nav li a{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s}
    .primary-navigation-wrapper nav .navbar-nav li a:hover{background-color:#ea6645!important;color:#fff!important}
    .primary-navigation-wrapper nav .navbar-nav li:last-child{border:none}
    .primary-navigation-wrapper nav .navbar-nav li.open .dropdown-menu{visibility:visible; filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1;height:auto!important}
    .primary-navigation-wrapper nav .navbar-nav li .dropdown-menu li{margin-left:-5px;margin-right:-5px;padding:0 20px;border-bottom:1px solid rgba(255,255,255,0.05)}
    .primary-navigation-wrapper nav .navbar-nav li .dropdown-menu li a{padding-left:30px!important}
    .primary-navigation-wrapper header .navbar-brand{padding:5px 10px;margin:-10px 10px;height:55px}
    .primary-navigation-wrapper header .navbar-brand img{max-width:150px;height:auto}
    .primary-navigation-wrapper header .navbar-collapse{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:0;height:auto;background-color:#011529;max-height:inherit;margin-bottom:-15px;position:relative;overflow:hidden;margin-top:10px;padding-bottom:5px;position:relative}
    .primary-navigation-wrapper header .navbar-collapse:after{content:"";width:0;height:0;border-style:solid;border-width:0 5px 8px;border-color:transparent transparent #011529;position:absolute;top:-8px;right:32px}
    .primary-navigation-wrapper header .navbar-collapse .navbar-nav{margin:0 -15px;padding:5px 0}
    .primary-navigation-wrapper header .navbar-collapse .navbar-nav li a{padding:10px 30px;color:#fff}
    .primary-navigation-wrapper header .collapsing ul{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
    .primary-navigation-wrapper header .collapse.in ul{-moz-transition:.4s;-o-transition:.4s;-webkit-transition:.4s;transition:.4s;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
    .megamenu .menu-col {width: 100%; display:block;float:none}
    .navbar-toggle .icon-bar{background-color:#fff}
    .nav-tabs > li{display:block!important;float:none!important}
    .nav-tabs > li.active a{border-color:#e2e2e2!important}
    .pagination{margin:20px 0}
    .secondary-navigation-wrapper{display:none}
    .stick-to-bottom{position:relative}
    .header-search{height:auto}
    .header-search .search-kw-wrapper{width:100%}
}