﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/content/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/content/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/content/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/content/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @* Custom Fonts - If you are using custom fonts. Consider using the Google Web Fonts Loader in async mode.
        See https://github.com/typekit/webfontloader. *@
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800&amp;subset=vietnamese" rel="stylesheet">

    <link href="/Content/bootstrap/bootstrap.min.css?v=3.20170305" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/selectize/selectize.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/plugins/daterangepicker/daterangepicker.css" />
    <link href="~/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    <link href="/Content/site.css?v=1.20170705" rel="stylesheet" />

    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <link href="~/Content/fontawesome/Site.min.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeyword" />

    @* Canonical - The URL of the current page. Stops case differences and http/https being treated as different URL's
        by search engines. The settings in this project should make this redundant, unless you are mixing HTTP and
        HTTPS or you have multiple URL's to the same resource which you should avoid.
        (See http://googlewebmastercentral.blogspot.co.uk/2009/02/specify-your-canonical.html). *@
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical">
    }

    @* Atom 1.0 Feed - Link to the. This enables the 'Subscribe to this page' button in FireFox. *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@Application.Name Feed" type="application/atom+xml">

    @* OpenSearch - (See http://www.hanselman.com/blog/CommentView.aspx?guid=50cc95b1-c043-451f-9bc2-696dc564766d and http://www.opensearch.org) *@
    @*<link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="ASP.NET MVC Boilerplate Search" type="application/opensearchdescription+xml">*@
    @* You can use the head section to render additional meta tags. *@
    @RenderSection("head", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-84283990-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body class="">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="wrapper">
        @Html.Action("Header", "Home")
        <!-- end Header -->
        @* div id="main" - The main container for the page. Change this to the HTML5 main tag when it gains more browser support. *@
        <div id="main" class="container body-content" role="main">
            <!--[if lt IE 8]>
                <div class="alert alert-warning" role="alert">
                    <p>You are using an outdated browser. Please upgrade your browser to improve your experience.</p>
                </div>
            <![endif]-->
            @RenderBody()

        </div>
        @Html.Action("Footer", "Home")
    </div>
    <div class="bottom-nav">
        <a class="" title="Trở về đầu trang"><i class="fa fa-angle-up fa-2x gototop"></i></a>
    </div>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryvalunobtrusive")
        @Scripts.Render("~/bundles/bootstrap")*@

    @*Script dung trong truong hop mang cham, neu mang binh thuong dung CDN bundle o tren*@
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/selectize/selectize.min.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jplugins.js"></script>
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
    @Html.PageScripts()

    @Html.Raw(TVGSettingHelper.GetSettingValue("site_chat_box"))
</body>
</html>