﻿@model List<BreadcrumbViewModel>
@{ 
    //List<BreadcrumbViewModel> breadcrumb = (List<BreadcrumbViewModel>) Model;
}
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            @foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.Url))
                {
                    <li><a href="@item.Url">@item.Text</a></li>
                }
                else
                {
                    <li class="active">@item.Text</li>
                }
            }
        </ol>
    </div>
}
