﻿@using TVG.WebClient.Models
@using Microsoft.Owin.Security
@model LoginViewModel
<div class="header-login-box">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-sm", placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </td>
                <td class="fastlogin-l">
                    @Html.CheckBoxFor(m => m.RememberMe) Ghi nhớ
                </td>
                <td>
                    <a href="/Account/ForgotPassword" class="text-sm"><i class="fa fa-caret-right"></i> Quên mật khẩu?</a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </td>
                <td class="fastlogin-l">
                    <button type="submit" class="btn btn-submit btn-sm btn-warning">Đăng nhập</button>
                </td>
                <td>
                    <a href="#" class="link-register text-sm" data-toggle="modal" data-target="#puRegister" title="Đăng nhập"><i class="fa fa-caret-right"></i> Đăng ký</a>
                </td>
            </tr>
        </table>
    }
</div>