﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lawsoc - Media manager</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">

    @* Custom Fonts *@
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/jupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="/Content/bootstrap/site.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/skins/skin-green-light.min.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/plugins/bootstrap-toastr/toastr.min.css" />
    <link href="/Content/site.css" rel="stylesheet" />
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <meta name="description" content="Lawsoc">

</head>
<body class="hold-transition">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-header">
                        <div class="row" id="list-cmd">
                            <div class="col-sm-9">
                                <a href="/MediaManager" data-toggle="tooltip" title="Home" id="button-home" class="btn btn-primary"><i class="fa fa-home"></i></a>
                                <a href="#" data-toggle="tooltip" title="Parent" id="button-parent" class="btn btn-default"><i class="fa fa-level-up"></i></a>
                                <a href="#" data-toggle="tooltip" title="Refresh" id="button-refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                                @*<button type="button" data-toggle="tooltip" title="Upload" id="button-upload" class="btn btn-primary"><i class="fa fa-upload"></i></button>*@
                                @if (ViewBag.CanInsert)
                                {
                                    <button type="button" data-toggle="tooltip" title="Upload" id="button-upload2" class="btn btn-success"><i class="fa fa-upload"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Create folder" id="button-folder" data-trigger="focus" class="btn btn-default"><i class="fa fa-folder"></i></button>
                                }
                                @if (ViewBag.CanDelete)
                                {
                                    <button type="button" data-toggle="tooltip" title="Delete" id="button-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                }
                                <button type="button" data-toggle="tooltip" title="Select" id="button-select" class="btn btn-primary"><i class="fa fa-hand-pointer-o"></i></button>
                                @if (ViewBag.CanEdit)
                                {
                                    <button type="button" data-toggle="tooltip" title="Copy" id="button-copy" class="btn btn-default"><i class="fa fa-copy"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Cut" id="button-cut" class="btn btn-default"><i class="fa fa-cut"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Paste" id="button-paste" class="btn btn-primary disabled"><i class="fa fa-paste"></i></button>
                                }
                                <select id="ddlOrder" class="form-control" style="display:inline-block;width:auto">
                                    <option value="0">--Sắp xếp--</option>
                                    <option value="1">&#8593; Ngày tạo</option>
                                    <option value="2">&#8595; Ngày tạo</option>
                                    <option value="3">&#8593; Tên</option>
                                    <option value="4">&#8595; Tên</option>
                                </select>
                                <button type="button" data-toggle="tooltip" title="List View" id="button-list" class="btn btn-default"><i class="fa fa-list"></i></button>
                                <button type="button" data-toggle="tooltip" title="Grid View" id="button-grid" class="btn btn-default"><i class="fa fa-th"></i></button>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" name="search" value="" placeholder="Nhập tên cần tìm" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="button" data-toggle="tooltip" title="Tìm kiếm" id="button-search" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div> @*/#list-cmd*@
                    </div>@*/box-header*@
                    <div class="box-body">
                        <div id="list-files" class="">

                        </div>
                        <input type="hidden" id="tvg_csrf_token_cms" name="tvg_csrf_token_cms" value="">
                    </div> <!-- /.box-body -->
                    <div class="box-footer">
                        <div id="pagination">
                        </div>
                    </div>@*/box-footer*@
                </div>@*/box box-info*@
            </div>@*/col-xs-12*@
        </div>@*/row*@
    </section>
    <input type="hidden" id="hfDirectory" value="">
    <input type="hidden" id="hfClientDomain" value="@System.Configuration.ConfigurationManager.AppSettings["ClientDomain"]" />
    <input type="hidden" id="hfTarget" value="@ViewBag.Target" />
    <input type="hidden" id="hfCKEditor" value="@ViewBag.CKEditor" />
    <input type="hidden" id="hfCKEditorFuncNum" value="@ViewBag.CKEditorFuncNum" />
    <div id="copyFilesHolder" style="display:none">
        <input type="hidden" id="hfCopyAction" value="" />
    </div>
    <div id="modal-upload" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upload</h4>
                </div>
                <div class="modal-body">
                    <form id="frmUpload" class="upload-form" method="post" action="" enctype="multipart/form-data">
                        <div id="drop" class="fileinput-button">
                            <span class="btn btn-success" id="button-file-select"><i class="fa fa-plus"></i> Chọn file</span>
                            <input type="file" name="upl" multiple />
                        </div>

                        <ul id="upload-file-list">
                            <!-- The file uploads will be shown here -->
                        </ul>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="/Scripts/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/Scripts/plugins/jquerytmpl/jquery.tmpl.min.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.knob.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.ui.widget.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.fileupload.js"></script>
    <script src="~/Scripts/app.js"></script>
    @Scripts.Render("~/bundles/site")
    <script>
        
    </script>
    <script src="~/Scripts/page/mediamanager.js?v=20161221"></script>
    <script id="contactTpl" type="text/x-jquery-tmpl">
        <div class="col-md-2 col-sm-3 col-xs-6 text-center">
            <div class="file-item">
                <div class="button-checked"><i class="fa fa-check-square-o"></i></div>
                {{if Type=='directory'}}
                <div class="file-thumb">
                    <a href="${Url}" class="directory-thumb thumbnail" style="vertical-align: middle;"><i class="fa fa-folder"></i></a>
                </div>
                <label class="directory">
                    <input type="checkbox" name="filepath" class="filepath" value="${Path}" />
                    ${Name}
                </label>
                {{else}}
                {{if Thumb == ""}}
                <div class="file-thumb">
                    <a href="${Url}" class="thumbnail" style="vertical-align: middle;"><span class="icon-file-${Extension}"></span></a>
                </div>
                {{else}}
                <div class="file-thumb">
                    <a href="${Url}" rel="lightbox" class="thumbnail"><img class="" src="${Thumb}" alt="${Name}" title="${Name}" /></a>
                </div>
                {{/if}}
                <label>
                    <input type="checkbox" data-url="${Url}" data-name="${Name}" name="filepath" class="filepath" value="${Path}" />
                    ${Name}
                </label>
                {{/if}}
            </div>
        </div>
    </script>
</body>
</html>
