﻿@{
    Layout = null;
}
<!DOCTYPE HTML>
<!--
/*
 * jQuery File Upload Plugin Basic Plus Demo
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * https://opensource.org/licenses/MIT
 */
-->
<html lang="en">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lawsoc - Media manager</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/jupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/jquery.imgareaselect/css/imgareaselect-default.css" rel="stylesheet" />
    <link href="/Content/bootstrap/site.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/skins/skin-green-light.min.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/plugins/bootstrap-toastr/toastr.min.css" />
    <link href="/Content/site.css" rel="stylesheet" />
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <meta name="description" content="Lawsoc">
</head>
<body>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Upload file từ máy tính</h3>
                    </div>
                    <div class="box-body">
                        <!-- The file upload form used as target for the file upload widget -->
                        <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="hfX1" />
                            <input type="hidden" name="hfX2" />
                            <input type="hidden" name="hfY1" />
                            <input type="hidden" name="hfY2" />
                            <input type="hidden" name="hfCropWidth" />
                            <input type="hidden" name="hfCropHeight" />
                            <input type="hidden" name="hfThumbWidth" />
                            <input type="hidden" name="hfThumbHeight" />
                            <input type="hidden" name="hfCrop" value="@ViewBag.IsCrop" />
                            <input type="hidden" name="hfRatio" value="@ViewBag.Ratio" />
                            <input type="hidden" name="hfTarget" value="@ViewBag.Target" />

                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="row fileupload-buttonbar">
                                <div class="col-md-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Chọn file...</span>
                                        <input type="file" name="files[]" multiple>
                                    </span>

                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                                <!-- The global progress state -->
                                <div class="col-md-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <div class="alert alert-info small alert-crop" style="display:none">Vui lòng chọn vùng ảnh để cắt theo đúng tỷ lệ. Bạn có thể thay đổi kích thước và vị trí vùng chọn ảnh.</div>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
            
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="/Scripts/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/jquery.cookie.min.js" type="text/javascript"></script>

    <script src="~/Scripts/plugins/jquery.imgareaselect/jquery.imgareaselect.min.js"></script>

    <script src="~/Scripts/plugins/jupload/tmpl.min.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.knob.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/Scripts/plugins/jupload/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/Scripts/plugins/jupload/canvas-to-blob.min.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.blueimp-gallery.min.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/Scripts/plugins/jupload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/Scripts/plugins/jupload/jquery.fileupload-image.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/Scripts/plugins/jupload/jquery.fileupload-validate.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.fileupload-ui.js"></script>
    <script src="~/Scripts/app.js"></script>
    @Scripts.Render("~/bundles/site")



    <script>
        $(function () {
            'use strict';
            var cropSelection;
            // Initialize the jQuery File Upload widget:
            $('#fileupload').fileupload({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: '/mediamanager/UploadImageAjax/',
                autoUpload: false,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 999000,
                // Enable image resizing, except for Android and Opera,
                // which actually support image resizing, but fail to
                // send Blob objects via XHR requests:
                disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
                previewMaxWidth: 500,
                previewMaxHeight: 500,
                previewCrop: false,
                previewThumbnail: false,
                maxNumberOfFiles: 1,
            }).on('fileuploadadded', function (e, data) {
                $(".fileinput-button").hide();
                var canvas = data.context.find("canvas");
                var thumbWidth = canvas.get(0).width;
                var thumbHeight = canvas.get(0).height;

                $('input[name="hfThumbWidth"]').val(thumbWidth);
                $('input[name="hfThumbHeight"]').val(thumbHeight);
                if (thumbWidth * 3 != thumbHeight * 4) {
                    $('.alert-crop').show();
                    var cropX2 = 0, cropY2 = 0;
                    if (thumbWidth > thumbHeight) {
                        cropY2 = thumbHeight;
                        cropX2 = (thumbHeight * 4) / 3;
                    } else {
                        cropX2 = thumbWidth;
                        cropY2 = (thumbWidth * 3) / 4;
                    }
                    cropSelection = canvas.imgAreaSelect({
                        instance: true,
                        aspectRatio: '4:3',
                        x1: 0, y1: 0, x2: cropX2, y2: cropY2,
                        handles: true,
                        onInit: function (img, selection) {
                            console.log(selection);
                            $('input[name="hfX1"]').val(selection.x1);
                            $('input[name="hfY1"]').val(selection.y1);
                            $('input[name="hfX2"]').val(selection.x2);
                            $('input[name="hfY2"]').val(selection.y2);
                            $('input[name="hfCropWidth"]').val(selection.width);
                            $('input[name="hfCropHeight"]').val(selection.height);
                        },
                        onSelectEnd: function (img, selection) {
                            $('input[name="hfX1"]').val(selection.x1);
                            $('input[name="hfY1"]').val(selection.y1);
                            $('input[name="hfX2"]').val(selection.x2);
                            $('input[name="hfY2"]').val(selection.y2);
                            $('input[name="hfCropWidth"]').val(selection.width);
                            $('input[name="hfCropHeight"]').val(selection.height);
                        },
                    });
                }


            }).bind('fileuploadfinished', function (e, data) {
                $(".fileinput-button").show();
                if (cropSelection) {
                    cropSelection.cancelSelection();
                }

                var target = $('input[name="hfTarget"]').val();
                window.opener.processImageUpload(data.result.files, target);
                window.close();
            });

            // Enable iframe cross-domain access via redirect option:
            //$('#fileupload').fileupload(
            //    'option',
            //    'redirect',
            //    window.location.href.replace(
            //        /\/[^\/]*$/,
            //        '/cors/result.html?%s'
            //    )
            //)


            // Load existing files:
            $('#fileupload').addClass('fileupload-processing');
            $.ajax({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: $('#fileupload').fileupload('option', 'url'),
                method: "POST",
                dataType: 'json',
                context: $('#fileupload')[0]
            }).always(function () {
                $(this).removeClass('fileupload-processing');
            }).done(function (result) {
                $(this).fileupload('option', 'done')
                    .call(this, $.Event('done'), { result: result });
            });


        });

    </script>
</body>
</html>
