﻿@using TVG.Data.Domain
@model Post
@{
    var layout = TVGLayoutHelper.GetLayout("_SidebarLeft");
    Layout = layout.Layout;

    ViewBag.Title = Model.Title;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.Canonical = TVGRouteHelper.RouteUrl(Url, "PostDetails", new { slug = Model.Slug, id = Model.Id });

    var term = (TaxonomyTerm)ViewBag.Term;
    var breadcrumb = new List<BreadcrumbViewModel>();
    breadcrumb.Add(new BreadcrumbViewModel { Text = "Tin tức", Url = "/bai-viet" });
    if (term != null)
    {
        breadcrumb.Add(new BreadcrumbViewModel { Text = term.Name, Url = string.Format("/bai-viet/chuyen-muc/{0}-{1}", term.Slug, term.Id) });
    }
    breadcrumb.Add(new BreadcrumbViewModel { Text = Model.Title.TruncateAtWord(100) });
}
@section Breadcrum{
    @Html.Partial("Breadcrumb", breadcrumb)
}
@if (layout.HasLeftSidebar)
{
    @section SidebarLeft{
        @Html.Partial("Sidebar/DetailLeft")
    }
}
@if (layout.HasRightSidebar)
{
    @section SidebarRight{
        @Html.Partial("Sidebar/DetailRight")
    }
}

    <article class="single-post">
        <header>
            <h1>@Model.Title</h1>
        </header>
        <section>
            <div class="post-excerpt">
                @Model.Description
            </div>
            @*@if(!string.IsNullOrEmpty(Model.Image))
            {
            <div class="post-image">
                <img src="/uploads/@Model.Image" alt="@Model.Title" />
            </div>
            }*@
            @Html.Raw(Model.Content)
        </section>
        @Html.Partial("Social/AddThis")
        @if (term != null)
        {
            @Html.Action("RelatedPosts", "Post", new { categoryId = term.Id, numberOfPost = 4 })
        }
        @Html.Partial("Social/FbComment", new ViewDataDictionary { { "PageUrl", ViewBag.Canonical } })
    </article>