﻿@using TVG.Data.Domain
@model NPoco.Page<Post>
@{ 
    var layout = TVGLayoutHelper.GetLayout("_SidebarLeft");
    Layout = layout.Layout;

    var term = ViewBag.Term as TaxonomyTerm;

    ViewBag.Title = term != null ? term.Name : TVGSettingHelper.GetSettingValue("site_name") + " - Tin tức";
    ViewBag.MetaDescription = term != null ? term.MetaDescription : TVGSettingHelper.GetSettingValue("site_meta_description");
    ViewBag.MetaKeyword = term != null ? term.MetaKeyword : TVGSettingHelper.GetSettingValue("site_meta_keyword");

    if (term == null)
    {
        ViewBag.Canonical = TVGRouteHelper.RouteUrl(Url, "PostsDefault", null);
    }
    else
    {
        ViewBag.Canonical = TVGRouteHelper.RouteUrl(Url, "Posts", new { slug = term.Slug, id = term.Id });
    }

    var breadcrumb = new List<BreadcrumbViewModel>();
    breadcrumb.Add(new BreadcrumbViewModel { Text = "Tin tức", Url = "/bai-viet" });
    if (term != null)
    {
        breadcrumb.Add(new BreadcrumbViewModel { Text = term.Name });
    }
}

@section Breadcrum{
    @Html.Partial("Breadcrumb", breadcrumb)
}
@if (layout.HasLeftSidebar)
{
    @section SidebarLeft{
        @Html.Partial("Sidebar/ListLeft")
    }
}
@if (layout.HasRightSidebar)
{
    @section SidebarRight{
        @Html.Partial("Sidebar/ListRight")
    }
}


    <section class="post-list type-post">
        <header>
            @if (term == null)
            {
                <h1>Tin tức</h1>
            }
            else
            {
                <h1>@term.Name</h1>
            }
        </header>
        @foreach(var item in Model.Items)
        {
            <article id="post-@item.Id" class="clearfix">
                <div class="col-md-6 col-xs-24 post-thumb">
                    <img src="@TVGHelper.GetThumbnail(item.Image, 240, 240)" title="@item.Title" />
                </div>
                <div class="col-md-18 col-xs-24">
                    <h2 class="post-title"><a href="/bai-viet/@item.Slug-@item.Id" title="@item.Title">@item.Title</a></h2>
                    <div class="post-meta"><span class="fa fa-calendar"></span> @item.CreatedDate.ToString("dd/MM/yyyy")</div>
                    <div class="description">
                        @Html.Raw(item.Description)
                    </div>
                    <div class="text-right"><a href="/bai-viet/@item.Slug-@item.Id" class="read-more">Chi tiết</a></div>
                </div>
            </article>
        }
        <div class="pager">
            @Html.Pager(Model.TotalPages, Model.CurrentPage, Model.ItemsPerPage, Request.Url.PathAndQuery)
        </div>
    </section>

