﻿@model List<Post>

<div class="related-posts type-post">
    <h3 class="section-header"><span>BÀI VIẾT CÙNG CHUYÊN MỤC</span></h3>
    @foreach (var item in Model)
    {
    <article class="col-md-6">
        <div class="post-thumb">
            <img src="@TVGHelper.GetThumbnail(item.Image, 180, 180)" title="@item.Title" />
        </div>
        <div class="">
            <header><a title="@item.Title" class="post-title" href="/bai-viet/@item.Slug-@item.Id/">@item.Title</a></header>
            @*<figure class="date text-right post-meta"><i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</figure>*@
        </div>
    </article>
    }
</div>

