﻿@using TVG.Data.Domain
@model List<TaxonomyTerm>
@{ 
    var thisModel = new WidgetModel();
    thisModel.Title = "Chuyên mục";
    thisModel.CssClass = "box-terms terms-list";
}
@Html.Partial("Widget/BeforeContent", thisModel)
@foreach (var item in Model)
            {
    <div class="list-item">
        <a href="/bai-viet/chuyen-muc/@item.Slug-@item.Id" title="@item.Name"><i class="fa fa-caret-right"></i> @item.Name.AppendLeft(' ', item.Level * 4)</a>
    </div>
}
@Html.Partial("Widget/AfterContent")