﻿@using TVG.Data.Domain
@model TVG.Admin.Models.ControlTagEditModel

@{
    ViewBag.Title = "Sửa trạng thái văn bản";
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/lawissuedplace"><i class="fa fa-dashboard"></i> Trạng thái văn bản</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@using (Html.BeginForm("Edit", "ControlTag", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="glyphicon glyphicon-edit"></i> Thông tin trạng thái</h3>
        </div>
        <div class="box-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="col-md-2 control-label">Tên trạng thái</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", placeholder = "Tên trạng thái" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tên SEO</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Slug, new { @class = "form-control required", placeholder = "Tên SEO" })
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Màu sắc</label>
                <div class="col-md-10">
                    <div class="input-group color-picker">
                        <span class="input-group-addon">
                            <i></i>
                        </span>
                        @Html.TextBoxFor(model => model.Color, new { @class = "form-control ", placeholder = "Màu sắc" })

                    </div>

                    @Html.ValidationMessageFor(model => model.Color)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Thứ tự</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DisplayOrder, new { @type = "number", @class = "form-control", placeholder = "Thứ tự sắp xếp" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    </div>
}
@section scripts{
    <link href="~/Scripts/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            //tạo url rewrite theo tiêu đề
            $("#Name").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                $("#Slug").val(text);
            });

            $(".color-picker").colorpicker({
                format: "hex",
                customClass: 'colorpicker-2x',
                sliders: {
                    saturation: {
                        maxLeft: 200,
                        maxTop: 200
                    },
                    hue: {
                        maxTop: 200
                    },
                    alpha: {
                        maxTop: 200
                    }
                }
            });
        });

</script>
}