﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


@RenderSection("Breadcrum", false)
<div class="row">
    <div class="col-md-5 sidebar-left">
        @RenderSection("SidebarLeft", false)
    </div>
    <div class="col-md-14 main-content">
        @RenderBody()
    </div>
    <div class="col-md-5 sidebar-right">
        @RenderSection("SidebarRight", false)
    </div>
</div>
@section head{
    @RenderSection("head", false)
}
@section Scripts{
    @RenderSection("Scripts", false)
}
