﻿@using TVG.Data.Domain
@model TVG.Admin.Models.PostEditModel
@{
    ViewBag.Title = "Sửa bài viết";
    List<int> selectedPostTerms = ViewBag.PostTerms;
    List<PostTag> postTags = ViewBag.PostTags;
    string selectedTagIds = string.Join(",", postTags.Select(x => x.TagId.ToString()).ToList<string>());
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/post"><i class="fa fa-dashboard"></i> Danh sách bài viết</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { @class = "", role = "form" }))
{
    <div class="row">
        <div class="col-md-9">
            <div class="box form-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Bài viết</h3>
                </div>
                <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label class="col-md-2 control-label">Tiêu đề (*)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Tiêu đề bài viết" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">URL tĩnh (*)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Slug, new { @class = "form-control", placeholder = "URL tĩnh (vd: tieu-de-bai-viet)" })
                            @Html.ValidationMessageFor(model => model.Slug)
                            <div id="slug-length" class="seo-meta-length">@Model.Slug.Length</div> ký tự. Tối đa 160 ký tự.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tóm tắt (*)</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Tóm tắt" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nội dung (*)</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Content, new { id = "content", @class = "form-control", placeholder = "Nội dung" })
                            @Html.ValidationMessageFor(model => model.Content)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Meta Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", placeholder = "Meta description" })
                            @Html.ValidationMessageFor(model => model.MetaDescription)
                            <div id="meta-description-length" class="seo-meta-length">@(Model.MetaDescription != null ? Model.MetaDescription.Length : 0)</div> ký tự. Hầu hết các công cụ tìm kiếm sử dụng tối đa 160 ký tự cho miêu tả.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Meta Keyword</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", placeholder = "Meta keyword" })
                            @Html.ValidationMessageFor(model => model.MetaKeyword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Xuất bản</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Ngày tạo: </label> <span>@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span>
                    </div>
                    <div class="form-group">
                        <label>Ngày cập nhật: </label> <span>@Model.UpdatedDate.ToString("dd/MM/yyyy HH:mm")</span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Lưu lại" />
                            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Phân loại</h3>
                </div>
                <div class="box-body">
                    <div class="tabs" id="tabs">
                        <ul class="tabs-nav">
                            <li class="active"><a href="#tabCategory">Chuyên mục</a></li>
                        </ul>
                        <div class="tabs-content">
                            <div id="tabCategory" data-title="Chuyên mục" class="tab-panel active">
                                <ul class="checklist-terms">
                                    @foreach (TVG.Data.Domain.TaxonomyTerm item in ViewBag.TermTree.Items)
                                    {                                        
                                        if (selectedPostTerms.Contains(item.Id))
                                        {
                                            <li><input type="checkbox" checked name="category" value="@item.Id" /> @item.Name.AppendLeft('-', item.Level * 4)</li>
                                        }
                                        else
                                        {
                                            <li><input type="checkbox" name="category" value="@item.Id" /> @item.Name.AppendLeft('-', item.Level * 4)</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-paperclip"></i> Tag</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Chọn tag</label>
                        <select class="select2 form-control" name="tagIds" id="tagIds" multiple></select>
                    </div>
                    <div class="form-group">
                        <a href="#" id="link-add-tag">Không có tag, thêm tag mới?</a>
                        <div id="form-add-tag" class="input-group" style="display:none">
                            <input type="text" name="txtTagName" id="txtTagName" class="form-control" placeholder="Tên tag" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="button-add-tag">Thêm</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Hình đại diện</h3>
                </div>
                <div class="box-body">
                    <div class="form-group text-center">
                        <div class="">
                            <div class="post-thumbnail">
                                @if (!string.IsNullOrEmpty(Model.Image))
                                {
                                    <img id="post_image" class="" src="@(ConfigurationManager.AppSettings["ClientDomain"] + "/uploads/" + Model.Image)" />
                                }
                                else
                                {
                                    <img id="post_image" class="" src="~/Content/images/noimage.png" />
                                }
                                <input type="hidden" id="image" name="Image" class="form-control" value="@Model.Image" />
                            </div>
                            <button class="btn btn-primary btn-flat" id="image-select" type="button">Chọn</button>
                            <button class="btn btn-default btn-flat" id="image-remove" type="button">Xoá</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script>
        var puMedia;
        var arrTags = [];
        var arrSelectedTags = [@Html.Raw(selectedTagIds)];
        $(document).ready(function () {
            //ckeditor
            CKEDITOR.replace("content", {});

            @*tạo tab cho box phân loại*@
            $(".tabs").responsiveTab();

            @*tạo iCheck cho checkbox*@
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue',
            });

            $.ajax({
                url: "/Tag/GetTags",
                dataType: 'json',
                success: function (data) {
                    arrTags = [];
                    if (data.list.length > 0) {
                        for (var i = 0; i < data.list.length; i++) {
                            arrTags.push({ id: data.list[i].Id, text: data.list[i].Name });
                        }
                    }
                    $('#tagIds').select2({ data: arrTags, placeholder: "Chọn tag" }).val(arrSelectedTags).trigger('change');
                    return arrTags;
                },
            });

            $('#link-add-tag').click(function (e) {
                e.preventDefault();
                $("#form-add-tag").toggle();
            });
            $('#button-add-tag').click(function (e) {
                e.preventDefault();
                var text = $('#txtTagName').val();
                if (text.trim().length > 0) {
                    $.post("/Tag/AddTag", { tag: text }, function (data) {
                        if (data.status == "success") {
                            // Create the DOM option that is pre-selected by default
                            var newItem = new Option(text, data.tagId, true, true);
                            // Append it to the select
                            $("#tagIds").append(newItem).trigger('change');
                            $('#txtTagName').val('');
                        }
                    });
                }
            });

            @*nhấn chọn hình ảnh*@
            $('#image-select').click(function () {
                if (typeof (puMedia) == 'undefined' || puMedia.closed) {
                    puMedia = $.popupWindow("/mediamanager/?target=post_image", {
                        height: 490,
                        width: 950,
                        center: 'screen',
                        onFileSelected: processFile
                    });
                } else {
                    puMedia.focus();
                }
            });

            @*//button remove image*@
            $('#image-remove').click(function () {
                $('#post_image').attr('src', "/content/images/noimage.png");
                $('#image').val('');
            });

            @*//tạo url rewrite theo tiêu đề*@
            $("#Title").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                if (text.length > 160) {
                    text = text.substr(0, 160);
                }
                $("#slug-length").text(text.length);
                $("#Slug").val(text);
            });
            $("#MetaDescription").blur(function () {
                var text = $(this).val();
                var sibling = $(this).siblings(".seo-meta-length");
                sibling.removeClass("error").text(text.length);
                if (text.length > 160) {
                    sibling.addClass("error");
                }
            });
        });

        @*xử lý sau khi chọn hình ảnh đại diện*@
        function processFile(e, files, target) {
            console.log(target);
            console.log(files);
            var fileUrl = files[0].url;
            var filePath = files[0].path;
            $('#' + target).attr('src', files[0].url);
            $('#image').val(filePath);
            puMedia.close();
        }
    </script>
}