﻿@using TVG.Data.Domain
@model TVG.Admin.Models.PostFormModel
@{
    List<int> selectedPostTerms = Model.PostTermIds != null ? Model.PostTermIds : new List<int>();
    List<TaxonomyTerm> categories = Model.Categories != null ? Model.Categories : new List<TaxonomyTerm>();
    List<PostTag> postTags = Model.PostTags != null ? Model.PostTags : new List<PostTag>();
    string selectedTagIds = string.Join(",", postTags.Select(x => x.TagId.ToString()).ToList<string>());

    bool canApprove = (bool)ViewBag.CanApprove;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canReject = (bool)ViewBag.CanReject;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/post"><i class="fa fa-dashboard"></i> Danh sách bài viết</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@using (Html.BeginForm(Model.FormAction, "Post", FormMethod.Post, new { id = "form1", @class = "", role = "form" }))
{
    <div class="row">
        <div class="col-md-9">
            <div class="nav-tabs-custom form-horizontal">
                <ul class="nav-tabs nav">
                    <li class="active"><a href="#tab-document" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Thông tin</a></li>
                    <li><a href="#tab-categories" data-toggle="tab">Phân loại</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-document">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="col-md-2 control-label">Tiêu đề (*)</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Tiêu đề bài viết" })
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">URL tĩnh (*)</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Slug, new { @class = "form-control", placeholder = "URL tĩnh (vd: tieu-de-bai-viet)" })
                                @Html.ValidationMessageFor(model => model.Slug)
                                <div id="slug-length" class="seo-meta-length">@(Model.Slug != null ? Model.Slug.Length : 0)</div> ký tự. Tối đa 160 ký tự.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tóm tắt (*)</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Tóm tắt" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Nội dung (*)</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Content, new { id = "content", @class = "form-control", placeholder = "Nội dung" })
                                @Html.ValidationMessageFor(model => model.Content)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Meta Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", placeholder = "Meta description" })
                                @Html.ValidationMessageFor(model => model.MetaDescription)
                                <div id="meta-description-length" class="seo-meta-length">@(Model.MetaDescription != null ? Model.MetaDescription.Length : 0)</div> ký tự. Hầu hết các công cụ tìm kiếm sử dụng tối đa 160 ký tự cho miêu tả.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Meta Keyword</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", placeholder = "Meta keyword" })
                                @Html.ValidationMessageFor(model => model.MetaKeyword)
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-categories">
                        @Html.Partial("WebParts/TermsChecklist", new TermsChecklistModel
                        {
                           Terms = categories,
                           CheckboxName = "category",
                           SelectedIds = selectedPostTerms,
                           ListId = "categories"
                       })
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Xuất bản</h3>
                </div>
                <div class="box-body small">
                    <div class="form-group">
                        <span>Tạo bởi </span> <strong>@Model.CreatedByName</strong> <small>(@Model.CreatedDate.ToShortDateStringVN())</small>
                    </div>
                    <div class="form-group">
                        <span>Cập nhật bởi </span> <strong>@Model.UpdatedByName</strong> <small>(@Model.UpdatedDate.ToShortDateStringVN())</small>
                    </div>
                    <div class="form-group">
                        <label>Tình trạng: </label> <span class="label" style="background-color:@Model.Post.StatusColor">@Model.Post.StatusName</span>
                        @Html.HiddenFor(x => x.PostStatus)
                    </div>
                    <div class="form-group">
                        <label>Lượt xem: </label> @Model.PostExt.PageView
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Note, new { placeholder = "Ghi chú", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @if (Model.FormAction == "create")
                        {
                            <input type="submit" class="btn btn-primary btn-sm" name="Save" value="Lưu lại" />
                        }
                        else
                        {
                            if (!Model.Post.IsDeleted)
                            {
                                if (canEdit)
                                {
                                    <input type="submit" class="btn btn-primary btn-sm" name="Save" value="Lưu lại" />
                                }
                                if (canApprove)
                                {
                                    <input type="submit" class="btn btn-success btn-sm" name="Approve" value="Duyệt" />
                                }
                                if (canReject)
                                {
                                    <input type="submit" class="btn btn-danger btn-sm btn-reject" name="Reject" value="Trả về" />
                                }
                                if (canEdit)
                                {
                                    <input type="button" id="btnDelete" class="btn btn-warning btn-sm" name="Delete" value="Xóa" />
                                }
                            }
                            else
                            {
                                if (canEdit)
                                {
                                    <input type="button" id="btnRestore" class="btn btn-success btn-sm" name="Restore" value="Khôi phục" />
                                }
                            }
                        }

                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default btn-sm" })
                        <a href="@ConfigurationManager.AppSettings["ClientDomain"]/bai-viet/@Model.Slug-@Model.Id" class="btn btn-default btn-sm" target="_blank">
                            <i class="fa-share fa"></i> Xem văn bản
                        </a>
                    </div>
                </div>
            </div>
            @*<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Phân loại</h3>
                </div>
                <div class="box-body">
                    <div class="tabs" id="tabs">
                        <ul class="tabs-nav">
                            <li class="active"><a href="#tabCategory">Chuyên mục</a></li>
                        </ul>
                        <div class="tabs-content">
                            <div id="tabCategory" data-title="Chuyên mục" class="tab-panel active">
                                <ul class="checklist-terms">
                                    @foreach (TaxonomyTerm item in Model.Categories)
                                    {                                        
                                        if (selectedPostTerms.Contains(item.Id))
                                        {
                                            <li><input type="checkbox" checked name="category" value="@item.Id" /> @item.Name.AppendLeft('-', item.Level * 4)</li>
                                        }
                                        else
                                        {
                                            <li><input type="checkbox" name="category" value="@item.Id" /> @item.Name.AppendLeft('-', item.Level * 4)</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-paperclip"></i> Tag</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Chọn tag</label>
                        <select class="select2 form-control" name="tagIds" id="tagIds" multiple></select>
                    </div>
                    <div class="form-group">
                        <a href="#" id="link-add-tag">Không có tag, thêm tag mới?</a>
                        <div id="form-add-tag" class="input-group" style="display:none">
                            <input type="text" name="txtTagName" id="txtTagName" class="form-control" placeholder="Tên tag" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="button-add-tag">Thêm</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Hình đại diện</h3>
                </div>
                <div class="box-body">
                    <div class="form-group text-center">
                        <div class="">
                            <div class="post-thumbnail">
                                @if (!string.IsNullOrEmpty(Model.Image))
                                {
                                    <img id="post_image" class="" src="@(ConfigurationManager.AppSettings["ClientDomain"] + "/uploads/" + Model.Image)" />
                                }
                                else
                                {
                                    <img id="post_image" class="" src="~/Content/images/noimage.png" />
                                }
                                <input type="hidden" id="image" name="Image" class="form-control" value="@Model.Image" />
                            </div>
                            <div class="space-height"></div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Chọn hình <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="image-upload" href="#">Upload từ máy tính</a></li>
                                    <li><a id="image-select" href="#">Chọn từ thư viện hình</a></li>
                                </ul>
                            </div>
                            @*<button class="btn btn-primary btn-flat" id="image-upload" type="button">Upload</button>
                            <button class="btn btn-primary btn-flat" id="image-select" type="button">Chọn</button>*@
                            <button class="btn btn-default btn-flat" id="image-remove" type="button">Xoá</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { id = "frmDelete" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="deletedId" id="deletedId" value="@Model.Id" />
}
@section scripts {
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script>
        var puMedia;
        var arrTags = [];
        var arrSelectedTags = [@Html.Raw(selectedTagIds)];
        $(document).ready(function () {
            //ckeditor
            CKEDITOR.replace("content", {});

            $('#btnDelete').click(function (e) {
                e.preventDefault();
                $('#deletedId').val(@Model.Id);
                confirm("Bạn có chắc muốn xoá?") ? $("#frmDelete").submit() : false;
            });
             $('#btnRestore').click(function (e) {
                e.preventDefault();
                $('#frmDelete').attr('action', '/Post/Restore');
                $("#frmDelete").submit();
            });

            @*tạo tab cho box phân loại*@
            $(".tabs").responsiveTab();

            @*tạo iCheck cho checkbox*@
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue',
            });

            CMS.Common.bindTagSelect('#tagIds', arrSelectedTags, 'post');

            $('#link-add-tag').click(function (e) {
                e.preventDefault();
                $("#form-add-tag").toggle();
            });

            $('#button-add-tag').click(function (e) {
                e.preventDefault();
                CMS.Common.addNewTag('#txtTagName', '#tagIds', 'post');
            });

            @*nhấn chọn hình ảnh*@
            $('#image-select').click(function (e) {
                e.preventDefault();
                if (typeof (puMedia) == 'undefined' || puMedia.closed) {
                    puMedia = $.popupWindow("/mediamanager/?target=post_image", {
                        height: 490,
                        width: 950,
                        center: 'screen',
                        onFileSelected: processFile
                    });
                } else {
                    puMedia.focus();
                }
            });

            $('#image-upload').click(function (e) {
                e.preventDefault();
                if (typeof (puMedia) == 'undefined' || puMedia.closed) {
                    puMedia = $.popupWindow("/mediamanager/uploadimage?target=post_image", {
                        height: 490,
                        width: 950,
                        center: 'screen',
                    });
                } else {
                    puMedia.focus();
                }
            });

            @*//button remove image*@
            $('#image-remove').click(function () {
                $('#post_image').attr('src', "/content/images/noimage.png");
                $('#image').val('');
            });

            @*//tạo url rewrite theo tiêu đề*@
            $("#Title").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                if (text.length > 160) {
                    text = text.substr(0, 160);
                }
                $("#slug-length").text(text.length);
                $("#Slug").val(text);
            });
            $("#MetaDescription").blur(function () {
                var text = $(this).val();
                var sibling = $(this).siblings(".seo-meta-length");
                sibling.removeClass("error").text(text.length);
                if (text.length > 160) {
                    sibling.addClass("error");
                }
            });
            $('.btn-reject').click(function (e) {
                if ($("#Note").val() == "") {
                    alert("Vui lòng ghi chú lý do trả về");
                    return false;
                }
            });
        });

        @*xử lý sau khi chọn hình ảnh đại diện*@
        function processFile(e, files, target) {
            console.log(target);
            console.log(files);
            var fileUrl = files[0].url;
            var filePath = files[0].path;
            $('#' + target).attr('src', files[0].url);
            $('#image').val(filePath);
            puMedia.close();
        }

        function processImageUpload(files, target) {
            $('#post_image').attr('src', files[0].url);
            $('#image').val(files[0].path);
        }
    </script>
}