﻿@model NPoco.Page<TVG.Data.Domain.Post>
@{
    ViewBag.Title = "Quản lý bài viết tin tức";
    int filterCategoryId = (int)ViewBag.FilterCategoryId;
    int filterPostType = (int)ViewBag.FilterPostType;
    string filterKeyword = (string)ViewBag.FilterKeyword;
    bool canInsert = (bool)ViewBag.CanInsert;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
    int filterUserId = (int)ViewBag.FilterUserId;
    int filterStatus = (int)ViewBag.FilterStatus;
    var users = (List<TVG.Identity.ApplicationUser>)ViewBag.Users;
    Dictionary<string, TVG.Data.PostStatus> postStatuses = ViewBag.PostStatuses;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-search"></i>Tìm kiếm</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Post", FormMethod.Get, new { id = "formSearch" }))
    {
        <div class="box-body form-horizontal">
            <input type="hidden" name="deleted" value="@ViewBag.FilterDeleted.ToString().ToLower()" />
            <div class="col-md-6">
                <div class="">
                    <div class="form-group">
                        <label class="control-label col-md-3">Tên bài viết</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="kw" placeholder="Tên bài viết" value="@filterKeyword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Chuyên mục</label>
                        <div class="col-md-9">
                            <select name="catId" class="form-control">
                                <option value="0">-- Chọn chuyên mục --</option>
                                @foreach (TVG.Data.Domain.TaxonomyTerm item in ViewBag.Categories.Items)
                                {
                                    <option value="@item.Id" @(filterCategoryId == item.Id ? "selected" : "")>@item.Name.AppendLeft('-', item.Level * 4)</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Người đăng</label>
                    <div class="col-md-9">
                        <select class="form-control" name="userId">
                            <option value="0">-- Chọn người đăng ---</option>
                            @foreach (var user in users)
                            {
                                <option value="@user.Id" @(filterUserId == user.Id ? "selected" : "")>@user.UserName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Tình trạng</label>
                    <div class="col-md-9">
                        <select class="form-control" name="status">
                            <option value="-1">-- Chọn tình trạng ---</option>
                            @foreach(var st in postStatuses)
                            {
                                <option value="@st.Key" @(filterStatus == st.Value.Id ? "selected" : "")>@st.Value.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer text-center">
            <button class="btn btn-primary" type="submit">Tìm</button>
        </div>
    }
</div>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Bài viết</h3>
        <div class="box-tools">
            @if (canInsert)
            {
                @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn btn-sm btn-primary" })
            }
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { id = "form1" }))
        {
            <input type="hidden" name="deletedId" id="deletedId" value="" />
            //Bảng dữ liệu
            <table class="table table-hover table-data">
                <thead>
                    <tr class="table-header">
                        <th>Tiêu đề</th>
                        <th>Đường dẫn tĩnh</th>
                        <th>Trạng thái</th>
                        <th>Tác giả</th>
                        <th>Ngày đăng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TVG.Data.Domain.Post item in Model.Items)
                    {
                        <tr>
                            <td data-th="Tiêu đề">
                                @if (item.IsDeleted)
                                {
                                    <span class="label label-danger">Đã xóa</span>
                                }
                                @Html.ActionLink(item.Title, "Edit", new { id = item.Id }) 
                                <div class="text-muted">Lượt xem: @item.PageView</div>
                                @if (item.Terms != null)
                                {
                                    <div>
                                        @foreach (var term in item.Terms)
                                        {
                                        <span class="label label-default">@term.TermName</span>
                                        }
                                    </div>
                                }
                                
                            </td>
                            <td data-th="URL tĩnh">
                                @item.Slug
                            </td>
                            <td>
                                <span class="label" style="background-color:@item.StatusColor">@item.StatusName</span>
                            </td>
                            <td data-th="Tác giả">
                                @item.CreatedUser["UserName"].ToString()
                            </td>
                            <td>
                                @item.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                            </td>                            
                            <td data-th="Thao tác">
                                @if (canEdit)
                                {
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                                }
                                @if (canDelete)
                                {
                                    @Html.Raw(" | ") <a href="#" data-id="@item.Id" class="linkDelete">Xoá</a>
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="box-footer clearfix">
        @Html.Pager(Model.TotalPages, Model.CurrentPage, Model.ItemsPerPage, Request.Url.PathAndQuery)
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @*//hiện thông báo (nếu có)*@
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }

            $('#form1').attr('action', $('#form1').attr('action') + window.location.search);

            $('.linkDelete').click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                $('#deletedId').val(id);
                confirm("Bạn có chắc muốn xoá?") ? $("#form1").submit() : false;
            });
        });
    </script>
}
