﻿@using TVG.Data
@model TVG.Admin.Models.BannerCreateModel

@{
    ViewBag.Title = "Tạo banner mới";
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/banner"><i class="fa fa-dashboard"></i> Banner</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

        @using (Html.BeginForm("Create", "Banner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-edit"></i> Thông tin banner</h3>
    </div>
    <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <div class="form-group">
                <label class="col-md-2 control-label">Tên banner</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control required", placeholder = "Tên banner" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Đường dẫn tĩnh</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Slug, new { @class = "form-control required", placeholder = "Đường dẫn tĩnh" })
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Hình ảnh</h3>
    </div>
    <div class="box-body">
        <table id="tblImages" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td class="text-left">Hình ảnh</td>
                    <td class="text-right">Đường dẫn</td>
                    <td class="text-right">Thứ tự</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="Thêm hình" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
        }
<input type="hidden" id="hfImageIdx" value="0" />
@section scripts{
    var puMedia;
    <script type="text/javascript">
        $(document).ready(function () {
            //tạo url rewrite theo tiêu đề
            $("#Title").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                $("#Slug").val(text);
            });
        });

        $("#tblImages").on('click', '.img-thumbnail', function(e) {
            e.preventDefault();
            var imgId = $(this).attr('id');
            $("#hfImageIdx").val(imgId);
            if (typeof (puMedia) == 'undefined' || puMedia.closed) {
                puMedia = $.popupWindow("/mediamanager/?target=" + imgId,{
                    height:490,
                    width:950,
                    center: 'screen',
                    onFileSelected: processFile
                });
            }
            else {
                puMedia.focus();
            }
        });

        //button remove image
        $('#image-remove').click(function(){
            $('#post_image').attr('src', "/Content/images/noimage.png");
            $('#images').val('');
        });

        function processFile(event, files, target) {
            console.log(files);
            console.log(target);
            target = $("#hfImageIdx").val();
            var idx = target.charAt(target.length-1);
            var fileUrl = files[0].url;
            var filePath = files[0].path;
            $('#' + target + " img").attr('src', files[0].url); //add the image to a div so you can see the selected images
            $('#input-image-' + idx).val(filePath);
            puMedia.close();
        }

        var image_row = 0;
        function addImage() {
            html  = '<tr id="image-row-' + image_row + '">';
            html += '  <td class="text-left"><a href="" id="thumb-image-' + image_row + '"data-toggle="image" class="img-thumbnail post-thumbnail"><img src="/Content/images/noimage.png" alt="" title="" data-placeholder="" /><input type="hidden" name="images" value="" id="input-image-' + image_row + '" /></td>';
            html += '  <td class="text-right"><input type="text" name="links" value="" placeholder="Url" class="form-control" /></td>';
            html += '  <td class="text-right"><input type="number" name="display_orders" value="0" placeholder="" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row-' + image_row  + '\').remove();" data-toggle="tooltip" title="" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#tblImages tbody').append(html);

            image_row++;
        }
    </script>
}