﻿@model List<TVG.Data.Domain.Banner>
@{
    ViewBag.Title = "Quản lý banner";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-image"></i> Banner</h3>
        <div class="box-tools">
            @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn btn-sm btn-primary" })
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Delete", "Banner", FormMethod.Post, new { id = "form1" }))
        {
            <input type="hidden" name="deletedId" id="deletedId" value="" />
            //Bảng dữ liệu
            <table class="table table-hover table-data">
                <thead>
                    <tr class="table-header">
                        <th>Tiêu đề</th>
                        <th>Đường dẫn tĩnh</th>
                        <th width="10%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TVG.Data.Domain.Banner item in Model)
                    {
                        <tr>
                            <td data-th="Tên">
                                @Html.ActionLink(item.Title, "Edit", new { id = item.Id }) 
                            </td>
                            <td data-th="Đường dẫn tĩnh">
                                @item.Slug
                            </td>
                            <td data-th="Thao tác">
                                @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                                @Html.Raw("|") <a href="#" data-id="@item.Id" class="linkDelete">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @*//hiện thông báo (nếu có)*@
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }

            $('.linkDelete').click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                $('#deletedId').val(id);
                confirm("Bạn có chắc muốn xoá?") ? $("#form1").submit() : false;
            });
        });
    </script>
}
