﻿@using TVG.Data.Domain
@model Dictionary<string, object>

@{
    ViewBag.Title = "Thiết lập trang chủ";
    string strHomeDocumentSubjects = ValueHelper.TryGet(Model, "home_doc_subjects", "");
    string strHomeDocumentCaseSubjects = ValueHelper.TryGet(Model, "home_doc_case_subjects", "");
    string strHomeDocumentPostSubjects = ValueHelper.TryGet(Model, "home_doc_post_subjects", "");
    string strHomeNewsBlocks = ValueHelper.TryGet(Model, "home_news_blocks", "");
    string strHomeNewsTagBlocks = ValueHelper.TryGet(Model, "home_news_tag_blocks", "");

    var docSubjects = (List<TaxonomyTerm>)ViewBag.DocumentSubjects;
    var homeDocSubjects = (List<TaxonomyTerm>)ViewBag.HomeDocumentSubjects;

    var docPostSubjects = (List<TaxonomyTerm>)ViewBag.DocumentPostSubjects;
    var homeDocPostSubjects = (List<TaxonomyTerm>)ViewBag.HomeDocumentPostSubjects;

    var docCaseSubjects = (List<TaxonomyTerm>)ViewBag.DocumentCaseSubjects;
    var homeDocCaseSubjects = (List<TaxonomyTerm>)ViewBag.HomeDocumentCaseSubjects;

    var newsCategories = (List<TaxonomyTerm>)ViewBag.NewsCategories;
    dynamic homeNewsBlocks = Newtonsoft.Json.JsonConvert.DeserializeObject(strHomeNewsBlocks);
    dynamic homeNewsTagBlocks = Newtonsoft.Json.JsonConvert.DeserializeObject(strHomeNewsTagBlocks);
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Thiết lập trang chủ</h3>
        <div class="box-tools pull-right">
            @using (Html.BeginForm("HomepageSettings", "Setting", FormMethod.Post, new { role = "form" }))
            {
                <input type="hidden" id="hfHomeDocumentSubjects" name="hfHomeDocumentSubjects" value="@strHomeDocumentSubjects" />
                <input type="hidden" id="hfHomeDocumentPostSubjects" name="hfHomeDocumentPostSubjects" value="@strHomeDocumentPostSubjects" />
                <input type="hidden" id="hfHomeDocumentCaseSubjects" name="hfHomeDocumentCaseSubjects" value="@strHomeDocumentCaseSubjects" />
                <input type="hidden" id="hfHomeNewsBlocks" name="hfHomeNewsBlocks" value="@strHomeNewsBlocks" />
                <input type="hidden" id="hfHomeNewsTagBlocks" name="hfHomeNewsTagBlocks" value="@strHomeNewsTagBlocks" />
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu lại</button>
            }
        </div>
    </div>

    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav-tabs nav">
                <li class="active"><a href="#tab-doc-subjects" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Chủ đề CSDL</a></li>
                <li><a href="#tab-doc-case-subjects" data-toggle="tab">Chủ đề án lệ</a></li>
                <li><a href="#tab-doc-post-subjects" data-toggle="tab">Chủ đề bài viết học thuật</a></li>
                <li><a href="#tab-news-blocks" data-toggle="tab">Khối tin tức</a></li>
                <li><a href="#tab-news-tag-blocks" data-toggle="tab">Khối tin nổi bật</a></li>
            </ul>
            <div class="tab-content">
                @* tab chủ đề CSDL *@
                <div class="tab-pane active" id="tab-doc-subjects">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="box-title">Chủ đề</h4>
                            <div class="form-group">
                                <select id="doc-subjects" class="form-control" size="10">
                                    @foreach (TaxonomyTerm t in ViewBag.DocumentSubjects)
                                    {
                                        <option value="@t.Id">@t.Name.AppendLeft('-', t.Level * 4)</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnAddNewDocSubject">Thêm</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="box-title">Hiển thị ở trang chủ</h4>
                            <div id="menu-doc-subjects" class="dd">
                                <ol class="dd-list" id="menu-list-doc-subjects">
                                    @BuildMenuTree(homeDocSubjects)
                                </ol>
                            </div><!-- /#menu-doc-subjects -->
                        </div>
                    </div>
                </div>
                @* tab chủ đề Án lệ *@
                <div class="tab-pane" id="tab-doc-case-subjects">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="box-title">Chủ đề</h4>
                            <div class="form-group">
                                <select id="doc-case-subjects" class="form-control" size="10">
                                    @foreach (TaxonomyTerm t in ViewBag.DocumentCaseSubjects)
                                    {
                                        <option value="@t.Id">@t.Name.AppendLeft('-', t.Level * 4)</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnAddNewDocCaseSubject">Thêm</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="box-title">Hiển thị ở trang chủ</h4>
                            <div id="menu-doc-case-subjects" class="dd">
                                <ol class="dd-list" id="menu-list-doc-case-subjects">
                                    @BuildMenuTree(homeDocCaseSubjects)
                                </ol>
                            </div><!-- /#menu-doc-subjects -->
                        </div>
                    </div>
                </div>
                @* tab chủ đề bài viết học thuật *@
                <div class="tab-pane" id="tab-doc-post-subjects">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="box-title">Chủ đề</h4>
                            <div class="form-group">
                                <select id="doc-post-subjects" class="form-control" size="10">
                                    @foreach (TaxonomyTerm t in ViewBag.DocumentPostSubjects)
                                    {
                                        <option value="@t.Id">@t.Name.AppendLeft('-', t.Level * 4)</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnAddNewDocPostSubject">Thêm</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="box-title">Hiển thị ở trang chủ</h4>
                            <div id="menu-doc-post-subjects" class="dd">
                                <ol class="dd-list" id="menu-list-doc-post-subjects">
                                    @BuildMenuTree(homeDocPostSubjects)
                                </ol>
                            </div><!-- /#menu-doc-subjects -->
                        </div>
                    </div>
                </div>
                @* tab khối tin tức *@
                <div class="tab-pane" id="tab-news-blocks">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="box-title">Chuyên mục</h4>
                            <div class="form-group">
                                <select id="news-categories" class="form-control" size="10">
                                    @foreach (TaxonomyTerm t in newsCategories)
                                    {
                                        <option value="@t.Id">@t.Name.AppendLeft('-', t.Level * 4)</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnAddNewCategory">Thêm</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="box-title">Hiển thị ở trang chủ</h4>
                            <div id="menu-news-blocks" class="dd">
                                <ol class="dd-list" id="menu-list-news-blocks">
                                    @BuildCategoriesTree(homeNewsBlocks)
                                </ol>
                            </div><!-- /#menu-doc-subjects -->
                        </div>
                    </div>
                </div>
                @* end tab *@
                @* tab khối tin nổi bật *@
                <div class="tab-pane" id="tab-news-tag-blocks">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="box-title">Tags</h4>
                            <div class="form-group">
                                <input type="text" id="txtTagName" class="form-control" placeholder="Nhập tên tag..."/>
                                <select id="news-tags" class="form-control" size="10">
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnAddNewTag">Thêm</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="box-title">Hiển thị ở trang chủ</h4>
                            <div id="menu-news-tag-blocks" class="dd">
                                <ol class="dd-list" id="menu-list-news-tag-blocks">
                                    @BuildTagsTree(homeNewsTagBlocks)
                                </ol>
                            </div><!-- /#menu-doc-subjects -->
                        </div>
                    </div>
                </div>
                @* end tab *@
            </div>
        </div>
    </div>    
</div>
@helper BuildMenuTree(List<TaxonomyTerm> terms)
{
    foreach (var node in terms)
    {
        <li id="menu-item-@node.Id" class="dd-item dd3-item" data-id="@node.Id">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
                <div class="menu-label">
                    <a class="open">@node.Name</a>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </li>
    }
}
@helper BuildCategoriesTree(dynamic categories)
{
if (categories != null)
{
    foreach (var item in categories)
    {
            <li id="menu-item-@item.id" class="dd-item dd3-item" data-id="@item.id" data-name="@item.name" data-style="@item.style" data-count="@item.count" data-css="@item.css" data-children="@item.children">
                <div class="dd-handle dd3-handle">Drag</div>
                <div class="dd3-content">
                    <div class="menu-label">
                        <a class="open">@item.name</a>
                        <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="menu-settings" style="display:none">
                        <div class="form-group">
                            <label class="control-label">Kiểu hiển thị</label>
                            <select class="form-control cat-style">
                                <option value="style1" @(item.style.ToString() == "style1" ? "selected" : "")>Style 1</option>
                                <option value="grid" @(item.style.ToString() == "grid" ? "selected" : "")>Grid</option>
                                <option value="list" @(item.style.ToString() == "list" ? "selected" : "")>List</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số lượng tin</label>
                            <input type="number" placeholder="Số lượng tin" data-name="count" class="form-control cat-count" value="@item.count" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">CSS Class</label>
                            <input type="text" placeholder="CSS Class" data-name="css" class="form-control cat-css" value="@item.css" />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="cat-children" @(item.children.ToString().ToLower() == "true" ? "checked" : "")>
                                Hiển thị chuyên mục con
                            </label>
                        </div>
                    </div>
                </div>
            </li>
    }
}

}

@helper BuildTagsTree(dynamic tags)
{
if (tags != null)
{
    foreach (var item in tags)
    {
            <li id="tag-item-@item.id" class="dd-item dd3-item" data-id="@item.id" data-name="@item.name" data-title="@item.title" data-count="@item.count" data-css="@item.css">
                <div class="dd-handle dd3-handle">Drag</div>
                <div class="dd3-content">
                    <div class="menu-label">
                        <a class="open">@item.title</a>
                        <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="menu-settings" style="display:none">
                        <div class="form-group form-inline">
                            <label class="control-label">Tag:</label>
                            <p class="form-control-static"><a target="_blank" href="/tag/edit/@item.id">@item.name</a></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tiêu đề khối</label>
                            <input type="text" placeholder="Tiêu đề khối" data-name="title" class="form-control cat-title" value="@item.title" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số lượng tin</label>
                            <input type="number" placeholder="Số lượng tin" data-name="count" class="form-control cat-count" value="@item.count" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">CSS Class</label>
                            <input type="text" placeholder="CSS Class" data-name="css" class="form-control cat-css" value="@item.css" />
                        </div>
                    </div>
                </div>
            </li>
    }
}

}
@section scripts{
    <link href="~/Scripts/plugins/jnestable/jquery.domenu.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/jnestable/jquery.nestable.js"></script>
    <script src="~/Scripts/plugins/jquerytmpl/jquery.tmpl.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var menuDocSubject = new MenuTree("#menu-doc-subjects", "#doc-subjects", '#btnAddNewDocSubject', '#hfHomeDocumentSubjects');
            menuDocSubject.init();

            var menuDocCaseSubject = new MenuTree("#menu-doc-case-subjects", "#doc-case-subjects", '#btnAddNewDocCaseSubject', '#hfHomeDocumentCaseSubjects');
            menuDocCaseSubject.init();

            var menuDocPostSubject = new MenuTree("#menu-doc-post-subjects", "#doc-post-subjects", '#btnAddNewDocPostSubject', '#hfHomeDocumentPostSubjects');
            menuDocPostSubject.init();

            var newsBlocks = new NewsBlockTree("#menu-news-blocks", "#news-categories", "#btnAddNewCategory", "#hfHomeNewsBlocks");
            newsBlocks.init();

            var tagsBlocks = new TagsBlockTree("#menu-news-tag-blocks", "#news-tags", "#btnAddNewTag", "#hfHomeNewsTagBlocks");
            tagsBlocks.init();

            $("#txtTagName").autocomplete({
                'source': function (request, response) {
                    $.ajax({
                        url: '/Tag/AjaxFindTag/?type=post&filter_name=' + encodeURIComponent(request),
                        dataType: 'json',
                        success: function (json) {
                            var items = [];
                            for (var i = 0; i <= json.list.length - 1; i++) {
                                items.push({ label: json.list[i].Name, value: json.list[i].Id });
                            }
                            response(items);
                        }
                    });
                },
                'select': function (item, isRemove) {
                    $('#news-tags').append($('<option>',
                    {
                        value: item.value,
                        text: item.label
                    })).val(item.value);
                },
                customHeader: "<strong>Thêm tag vào danh sách:</strong>",
            });

        });

        function NewsBlockTree(menuSelector, listSelector, btnAddSelector, hfSelector){
            this.menuElem = $(menuSelector);
            this.listElem = $(listSelector);
            this.btnAdd = $(btnAddSelector);
            this.hfElem = $(hfSelector);
            var self = this;

            this.init = function () {
                self.menuElem.nestable({ maxDepth: 1 }).on('change', function () {
                    self.updateMenuTree(self.menuElem);
                });
                self.menuElem.on('click', '.open', function () {
                    var $this = $(this);
                    $this.parent().next('.menu-settings').toggle();
                });
                self.menuElem.on('click', '.btn-remove', function () {
                    var $this = $(this);
                    var item = $this.closest(".dd-item");
                    item.remove();
                    self.updateMenuTree(self.menuElem);
                });
                self.menuElem.on('change', '.cat-style', function () {
                    var $this = $(this);
                    var item = $this.closest('.dd-item');
                    item.data('style', $this.val());
                    //self.updateMenuTree(self.menuElem);
                });
                self.menuElem.on('input', '.cat-count, .cat-css', function () {
                    var $this = $(this);
                    var item = $this.closest('.dd-item');
                    var attrName = $this.attr('data-name');
                    item.data(attrName, $this.val());
                    //self.updateMenuTree(self.menuElem);
                });
                self.menuElem.on('change', '.cat-children', function () {
                    var $this = $(this);
                    var item = $this.closest('.dd-item');
                    item.data('children', $this.is(":checked"));
                    //self.updateMenuTree(self.menuElem);
                });
                self.btnAdd.click(function (e) {
                    e.preventDefault();
                    var selectedId = self.listElem.val(),
                        selectedText = self.listElem.find("option:selected").text(),
                        menuList = self.menuElem.find(".dd-list");
                    var data = { itemId: selectedId, itemText: selectedText };
                    var newItem = $("#newsBlockItemTpl").tmpl(data).removeData('tmplItem');
                    newItem.appendTo(menuList);
                    self.updateMenuTree(self.menuElem);
                });

                self.updateMenuTree(self.menuElem);
            };

            this.updateMenuTree = function (e) {
                var menu = e.length ? e : $(e.target);
                var list = menu.nestable('serialize');
                console.log(list);
                var str = JSON.stringify(list);
                console.log(str);
                self.hfElem.val(str);
            };

        }

        function TagsBlockTree(menuSelector, listSelector, btnAddSelector, hfSelector) {
            this.menuElem = $(menuSelector);
            this.listElem = $(listSelector);
            this.btnAdd = $(btnAddSelector);
            this.hfElem = $(hfSelector);
            var self = this;

            this.init = function () {
                self.menuElem.nestable({ maxDepth: 1 }).on('change', function () {
                    self.updateMenuTree(self.menuElem);
                });
                self.menuElem.on('click', '.open', function () {
                    var $this = $(this);
                    $this.parent().next('.menu-settings').toggle();
                });
                self.menuElem.on('click', '.btn-remove', function () {
                    var $this = $(this);
                    var item = $this.closest(".dd-item");
                    item.remove();
                    self.updateMenuTree(self.menuElem);
                });
                self.menuElem.on('input', '.cat-count, .cat-css, .cat-title', function () {
                    var $this = $(this);
                    var item = $this.closest('.dd-item');
                    var attrName = $this.attr('data-name');
                    item.data(attrName, $this.val());
                    //self.updateMenuTree(self.menuElem);
                });
                self.btnAdd.click(function (e) {
                    e.preventDefault();
                    var selectedId = self.listElem.val(),
                        selectedText = self.listElem.find("option:selected").text(),
                        menuList = self.menuElem.find(".dd-list");
                    var data = { itemId: selectedId, itemText: selectedText };
                    var newItem = $("#tagsBlockItemTpl").tmpl(data).removeData('tmplItem');
                    newItem.appendTo(menuList);
                    self.updateMenuTree(self.menuElem);
                });

                self.updateMenuTree(self.menuElem);
            };

            this.updateMenuTree = function (e) {
                var menu = e.length ? e : $(e.target);
                var list = menu.nestable('serialize');
                console.log(list);
                var str = JSON.stringify(list);
                console.log(str);
                self.hfElem.val(str);
            };

        }

        function MenuTree(menuSelector, listSelector, btnAddSelector, hfSelector) {
            this.menuElem = $(menuSelector);
            this.listElem = $(listSelector);
            this.btnAdd = $(btnAddSelector);
            this.hfElem = $(hfSelector);
            var self = this;

            this.init = function () {
                self.menuElem.nestable({ maxDepth: 1 }).on('change', function () {
                    self.updateMenuTree(self.menuElem);
                });

                self.menuElem.on('click', '.btn-remove', function () {
                    var $this = $(this);
                    var item = $this.closest(".dd-item");
                    item.remove();
                    self.updateMenuTree(self.menuElem);
                });

                this.btnAdd.click(function (e) {
                    e.preventDefault();
                    var selectedId = self.listElem.val(),
                        selectedText = self.listElem.find("option:selected").text(),
                        menuList = self.menuElem.find(".dd-list");
                    var data = { itemId: selectedId, itemText: selectedText };
                    $("#menuItemTpl").tmpl(data).appendTo(menuList);
                    self.updateMenuTree(self.menuElem);
                });

                self.updateMenuTree(self.menuElem);
            };

            this.updateMenuTree = function (e) {
                //console.log(e);
                var menu = e.length ? e : $(e.target);
                var list = menu.nestable('serialize');
                //console.log(list);
                var ids = "";
                var sep = "";
                for (var i = 0; i < list.length; i++) {
                    ids += sep + list[i].id;
                    sep = ",";
                }
                self.hfElem.val(ids);
            };
        }
    </script>
    <script id="menuItemTpl" type="text/x-jquery-tmpl">
        <li id="menu-item-${itemId}" class="dd-item dd3-item" data-id="${itemId}">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
                <div class="menu-label">
                    <a class="open">${itemText}</a>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </li>
    </script>
    <script id="newsBlockItemTpl" type="text/x-jquery-tmpl">
        <li id="menu-item-${itemId}" class="dd-item dd3-item" data-id="${itemId}" data-name="${itemText}" data-style="style1" data-count="4" data-css="" data-children="true">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
                <div class="menu-label">
                    <a class="open">${itemText}</a>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                </div>
                <div class="menu-settings" style="display:none">
                    <div class="form-group">
                        <label class="control-label">Kiểu hiển thị</label>
                        <select class="form-control cat-style">
                            <option value="style1">Style 1</option>
                            <option value="grid">Grid</option>
                            <option value="list">List</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số lượng tin</label>
                        <input type="number" placeholder="Số lượng tin" data-name="count" class="form-control cat-count" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">CSS Class</label>
                        <input type="text" placeholder="CSS Class" data-name="css" class="form-control cat-css" value="" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="cat-children">
                            Hiển thị chuyên mục con
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </script>
    <script id="tagsBlockItemTpl" type="text/x-jquery-tmpl">
        <li id="tag-item-${itemId}" class="dd-item dd3-item" data-id="${itemId}" data-title="${itemText}" data-name="${itemText}" data-count="4" data-css="">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
                <div class="menu-label">
                    <a class="open">${itemText}</a>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                </div>
                <div class="menu-settings" style="display:none">
                    <div class="form-group form-inline">
                        <label class="control-label">Tag:</label>
                        <p class="form-control-static"><a target="_blank" href="/tag/edit/${itemId}">${itemText}</a></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tiêu đề khối</label>
                        <input type="text" placeholder="Tiêu đề khối" data-name="title" class="form-control cat-title" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số lượng tin</label>
                        <input type="number" placeholder="Số lượng tin" data-name="count" class="form-control cat-count" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">CSS Class</label>
                        <input type="text" placeholder="CSS Class" data-name="css" class="form-control cat-css" value="" />
                    </div>
                </div>
            </div>
        </li>
    </script>
}