﻿@using TVG.Data.Domain
@model Dictionary<string, object>

@{
    ViewBag.Title = "Cấu hình hệ thống";
    string siteTitle = ValueHelper.TryGet(Model, "site_title", "");
    string siteName = ValueHelper.TryGet(Model, "site_name", "");
    string siteMetaDescription = ValueHelper.TryGet(Model,"site_meta_description", "");
    string siteMetaKeyword = ValueHelper.TryGet(Model,"site_meta_keyword", "");
    string sitePhone = ValueHelper.TryGet(Model,"site_phone", "");
    string siteEmail = ValueHelper.TryGet(Model,"site_email", "");
    string siteGA = ValueHelper.TryGet(Model,"site_google_analytics", "");
    string siteFooterText = ValueHelper.TryGet(Model,"site_footer_text", "");
    int siteHomeBanner = ValueHelper.TryGet(Model, "site_home_banner", 0);
    string siteChatBox = ValueHelper.TryGet(Model, "site_chat_box", "");

    List<Banner> banners = (List<Banner>)ViewBag.Banners;
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@using (Html.BeginForm("Index", "Setting", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-cog"></i> Cấu hình hệ thống</h3>
        </div>
        <div class="box-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="panel-group" id="accordion">
                <div id="box-general" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Cấu hình chung
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Tên website</label>
                                <div class="col-md-9">
                                    <input type="text" name="site_name" id="site_name" value="@siteName" class="form-control" placeholder="Tên website" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Tiêu đề</label>
                                <div class="col-md-9">
                                    <input type="text" name="site_title" id="site_title" value="@siteTitle" class="form-control" placeholder="Tiêu đề trang chủ" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Meta description</label>
                                <div class="col-md-9">
                                    <input type="text" name="site_meta_description" id="site_meta_description" value="@siteMetaDescription" class="form-control" placeholder="Meta description" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Meta keyword</label>
                                <div class="col-md-9">
                                    <input type="text" name="site_meta_keyword" id="site_meta_keyword" value="@siteMetaKeyword" class="form-control" placeholder="Meta keyword" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Điện thoại</label>
                                <div class="col-md-9">
                                    <input type="text" name="site_phone" id="site_phone" value="@sitePhone" class="form-control" placeholder="Điện thoại" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-9">
                                    <input type="text" name="site_email" id="site_email" value="@siteEmail" class="form-control" placeholder="Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Banner chính</label>
                                <div class="col-md-9">
                                    <select name="site_home_banner" class="form-control">
                                    @foreach(var b in banners)
                                    {
                                         <option value="@b.Id" @(b.Id == siteHomeBanner ? "selected" : "")>@b.Title</option>   
                                    }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Footer</label>
                                <div class="col-md-9">
                                    <textarea name="site_footer_text" rows="10" id="site_footer_text" placeholder="Footer" class="form-control">@siteFooterText</textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- /#box-general -->
                <div id="box-google-analytics" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGA" aria-expanded="false" aria-controls="collapseGA">
                                Google Analytics
                            </a>
                        </h4>
                    </div>
                    <div id="collapseGA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGA">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Google Analytics</label>
                                <div class="col-md-9">
                                    <textarea name="site_google_analytics" rows="10" placeholder="Đoạn mã Google Analytics" class="form-control">@siteGA</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /#box-google-analytics -->  
                <div id="box-chat-box" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseChatBox" aria-expanded="false" aria-controls="collapseChatBox">
                                Mã khung chat
                            </a>
                        </h4>
                    </div>
                    <div id="collapseChatBox" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingChatBox">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Mã khung chat</label>
                                <div class="col-md-9">
                                    <textarea name="site_chat_box" rows="10" placeholder="Đoạn mã chat box" class="form-control">@siteChatBox</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /#box-chat-box -->  
            </div>
            <div class="box-footer">
                <div class="col-md-offset-3">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                </div>
            </div>
        </div>
    </div>
}
<input type="hidden" id="hfImageIdx" value="0" />
@section scripts{
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace("site_footer_text", {  });
        });

    </script>
}