﻿<div class="box box-success ga-chart">
    <div class="box-header">
        <i class="fa fa-bar-chart"></i> <h3 class="box-title">Truy cập 7 ngày gần đây</h3> (nguồn: <a href="https://analytics.google.com">Google Analytics</a>)
    </div>
    <div class="box-body">
        <div id="ga-statistics">
            <span><small>Số phiên: </small><span id="ga-sessions"></span></span>
            <span><small>Người dùng: </small><span id="ga-users"></span></span>
            <span><small>Lượt xem: </small><span id="ga-pageviews"></span></span>
        </div>
        <div id="chart-1-container"></div>
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
<script>
    (function (w, d, s, g, js, fs) {
        g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
        js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
    }(window, document, 'script'));
</script>

<script>
    var profileId = "@ViewBag.ProfileId";
    gapi.analytics.ready(function () {

        /**
         * Authorize the user with an access token obtained server side.
         */
        gapi.analytics.auth.authorize({
            'serverAuth': {
                'access_token': '@ViewBag.Token'
            }
        });

        var gaquery = {
            'ids': 'ga:' + profileId,
            'start-date': '7daysAgo',
            'end-date': 'today',
            'metrics': 'ga:sessions,ga:pageviews,ga:users',
            'dimensions': 'ga:date'
        };

        gapi.client.analytics.data.ga.get(gaquery)
      .then(function (response) {
          var formattedJson = JSON.stringify(response.result, null, 2);
          $("#ga-sessions").text(response.result.totalsForAllResults["ga:sessions"]);
          $("#ga-users").text(response.result.totalsForAllResults["ga:users"]);
          $("#ga-pageviews").text(response.result.totalsForAllResults["ga:pageviews"]);
          $('.ga-chart .overlay').hide();
      })

        /**
         * Creates a new DataChart instance showing sessions over the past 30 days.
         * It will be rendered inside an element with the id "chart-1-container".
         */
        var dataChart1 = new gapi.analytics.googleCharts.DataChart({
            query: gaquery,
            chart: {
                'container': 'chart-1-container',
                'type': 'LINE',
                'options': {
                    'width': '100%',
                    'lineWidth': 1.5,
                    'colors': ['#3F51B5', '#009688', '#FF9800']
                }
            }
        });
        dataChart1.execute();
    });
</script>