﻿@{
    ViewBag.Title = "Thống kê truy cập";
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@Html.Action("HomeGoogleAnalytics", "Statistic")