﻿@model List<UserPostsViewModel>
@{
    ViewBag.Title = "Thống kê bài viết theo tài khoản";
    var list = Model.OrderBy(x => x.Username).ToList();
    var fromDate = (DateTime)ViewBag.FromDate;
    var toDate = (DateTime)ViewBag.ToDate;
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bar-chart"></i> Thống kê</h3>
        <div class="box-tools">
            @using (Html.BeginForm("UserPosts", "Statistic", FormMethod.Get, new { id = "form1" }))
            {
                <div class="input-group" style="width: 350px">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i> Thời gian
                    </div>
                    <input type="text" class="form-control pull-right" id="date-range">
                    <input type="hidden" name="fromDate" id="fromDate" />
                    <input type="hidden" name="toDate" id="toDate" />
                </div>
            }
        </div>
    </div>
    <div class="box-body no-padding">
        <table id="statistic-table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tài khoản</th>
                    <th class="text-center">Thư viện pháp luật</th>
                    <th class="text-center">Cơ sở dữ liệu</th>
                    <th class="text-center">Bài viết học thuật</th>
                    <th class="text-center">Án lệ</th>
                    <th class="text-center">Tin tức</th>
                    <th class="text-center">Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in list)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td class="text-center">@(item.LawDocumentCount > 0 ? item.LawDocumentCount.ToString() : "-")</td>
                        <td class="text-center">@(item.DocumentCount > 0 ? item.DocumentCount.ToString() : "-")</td>
                        <td class="text-center">@(item.DocumentPostCount > 0 ? item.DocumentPostCount.ToString() : "-")</td>
                        <td class="text-center">@(item.DocumentCaseCount > 0 ? item.DocumentCaseCount.ToString() : "-")</td>
                        <td class="text-center">@(item.PostCount > 0 ? item.PostCount.ToString() : "-")</td>
                        <td class="text-center"><strong>@(item.TotalCount > 0 ? item.TotalCount.ToString() : "-")</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section head{
    <link rel="stylesheet" href="~/Scripts/plugins/daterangepicker/daterangepicker.css" />
}
@section scripts{
    <script src="~/Scripts/plugins/jquery.stickytableheaders.min.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script>
        //Date range picker
        $('#date-range').daterangepicker({
            startDate: '@fromDate.ToString("dd/MM/yyyy")',
            endDate: '@toDate.ToString("dd/MM/yyyy")',
            locale: { format: 'DD/MM/YYYY' },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            alwaysShowCalendars: true

        });
        $("#date-range").on('apply.daterangepicker', function (e, picker) {
            $("#fromDate").val(picker.startDate.format('YYYY-MM-DD'));
            $("#toDate").val(picker.endDate.format('YYYY-MM-DD'));
            $("#form1").submit();
        });
        $('#statistic-table').stickyTableHeaders();
    </script>
    
}