﻿
<footer role="contentinfo" id="page-footer">
    <section id="footer-content" class="text-justify">
        <div class="container">
            @Html.Raw(ViewBag.SiteFooter)
        </div><!-- /.container -->
        <div class="background">@*<img src="assets/img/background-city.png" class="" alt="">*@</div>
    </section><!-- /#footer-content -->

    <section id="footer-bottom">
        <div class="container">
            <div class="footer-inner">
                <div class="copyright">© thegioiluat.vn, @DateTime.Now.Year</div><!-- /.copyright -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-bottom -->

</footer>
@Html.Partial("~/Views/Home/PopupLogin.cshtml")
@Html.Partial("~/Views/Home/PopupRegister.cshtml")