﻿@{ 
    int type = ViewBag.SearchType;
    string kw = ViewBag.Keyword;
}
<div class="header-search">
    @using (Html.BeginForm("Search", "LawDocument", FormMethod.Get))
    {
    <div class="container form-inline">
        <div class="form-group">
            <label>Tìm kiếm </label>
            <select name="type" class="form-control">
                <option value="">Tất cả</option>
                <option value="1" @(type == 1 ? "selected" : "")>Cơ sở dữ liệu</option>
                <option value="2" @(type == 2 ? "selected" : "")>Thư viện pháp luật</option>
            </select>
        </div>
        <div class="form-group search-kw-wrapper">
            <input type="text" class="form-control" placeholder="Từ khoá cần tìm (tên văn bản, số hiệu văn bản...)" value="@kw" id="kw" name="kw">
        </div>
        <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i> Tìm</button>

    </div>
    }
</div>
