﻿@using TVG.Data.Domain
@{
    var mainMenuItems = (List<MenuItem>)ViewBag.MenuItems;
    var isLoggedIn = (bool)ViewBag.IsLoggedIn;
}
<!-- Header -->
@Html.Action("HeaderAdminMenu", "Home")
<div class="navigation-wrapper">
    <div class="primary-navigation-wrapper">
        <header class="navbar header-style-2" id="top" role="banner">
            <div class="container">
                <div class="header-left">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand nav" id="brand">
                            <a href="/"><img src="~/Content/images/logo.png" alt="brand"></a>
                        </div>
                    </div>
                </div>
                <div class="header-center">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" id="main-menu" role="navigation">
                        @Html.Action("MainMenu", "Home")
                    </nav><!-- /.navbar collapse-->
                </div>
                <div class="header-right">
                    <div class="user-menu pull-right">
                        @if (!isLoggedIn)
                        {
                            @*<div class=""><a href="#" data-toggle="modal" data-target="#puLogin" title="Đăng nhập"><i class="fa fa-sign-in fa-bigger"></i> <span class="">Đăng nhập</span></a></div>*@
                            @Html.Partial("HeaderLoginBox")
                        }
                        else
                        {
                            <div class="">
                                Xin chào @(User.Identity.Name). <a href="/profile"><i class="fa fa-user fa-bigger"></i> <span class="">Tài khoản</span></a>
                                @Html.Raw("|")
                                <a href="/account/logoff"><i class="fa fa-sign-out fa-bigger"></i> <span class="">Thoát</span></a>
                            </div>
                        }

                    </div>
                </div>
            </div><!-- /.container -->
        </header><!-- /.navbar -->
    </div><!-- /.primary-navigation -->
</div>
@Html.Action("HeaderSearchBox", "Home")
