﻿@{ 
    int type = ViewBag.SearchType;
    string kw = ViewBag.Keyword;
}
<div class="header-search">
    <form class="form" id="header-search-form">
        <div class="container form-inline">
            <div class="form-group">
                <label>Tìm kiếm </label>
                <select name="type" id="search-type" class="form-control">
                    <option value="phap-luat">Thư viện pháp luật</option>
                    <option value="van-ban">Cơ sở dữ liệu</option>
                    <option value="an-le">Án lệ</option>
                    <option value="bai-viet-hoc-thuat">Bài viết học thuật</option>
                </select>
            </div>
            <div class="form-group search-kw-wrapper">
                <input type="text" class="form-control" placeholder="Từ khoá cần tìm..." value="@kw" id="kw" name="kw">
            </div>
            <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i> Tìm</button>

        </div>
    </form>
</div>
