﻿@{ 
    //var isLoggedIn = ViewBag.IsLoggedIn != null ? (bool)ViewBag.IsLoggedIn : false;
    var accessAdminPanel = ViewBag.AccessAdminPanel;
    var action = HttpContext.Current.Request.RequestContext.RouteData.GetRouteParam("action");
    var controller = HttpContext.Current.Request.RequestContext.RouteData.GetRouteParam("controller");
    var id = HttpContext.Current.Request.RequestContext.RouteData.GetRouteParam("id");
    var adminUrl = ConfigurationManager.AppSettings["AdminDomain"].ToString();
    var editUrl = TVGRouteHelper.GetEditUrl(controller, id);
}
@if (accessAdminPanel)
{
    <nav class="navbar navbar-inverse admin-menu">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-menu-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="admin-menu-items">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="@adminUrl"><i class="fa fa-home"></i> Trang chủ quản lý</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-text-o"></i> Quản lý văn bản<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="@adminUrl/lawdocument"> Thư viện pháp luật</a></li>
                            <li><a target="_blank" href="@adminUrl/document"> Cơ sở dữ liệu</a></li>
                            <li><a target="_blank" href="@adminUrl/documentpost"> Bài viết học thuật</a></li>
                            <li><a target="_blank" href="@adminUrl/documentcase"> Án lệ</a></li>
                        </ul>
                    </li>
                    @if (!string.IsNullOrEmpty(editUrl))
                    {
                        <li><a target="_blank" href="@TVGRouteHelper.GetEditUrl(controller, id)"><i class="fa fa-edit"></i> Sửa bài viết</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="@adminUrl/profile"><i class="fa fa-user"></i> @User.Identity.Name</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
}