﻿@model List<TVG.Data.Domain.BannerImage>

@if (Model.Count > 0)
{
    <div class="image-carousel">
        @foreach (var img in Model)
        {
            <div class="image-carousel-slide">
                <a href="@img.Link"><img src="/uploads/@img.Image" alt=""></a>
            </div>
        }
    </div>
}
