﻿@using TVG.Data.Domain
@model List<Post>

<div class="home-block" role="article">
    <header class="section-header">
        <h2 class="after" style=""> Tin tức</h2>
        <a class="link-read-more" href="/bai-viet/" title="Xem thêm tin tức">Xem thêm</a>
    </header>
    @if (Model.Count > 0)
    {
        <div class="top-documents type-post section-content news-small">
            @foreach (var item in Model)
            {
                <article>
                    <div class="row">
                        <div class="col-md-7 col-xs-7 col-sm-6 post-thumb">
                            <img src="@TVGHelper.GetThumbnail(item.Image, 180, 180)" title="@item.Title" />
                        </div>
                        <div class="col-md-17 col-xs-17 col-sm-18">
                            <header><a title="@item.Title" class="post-title" href="/bai-viet/@item.Slug-@item.Id/">@item.Title</a></header>
                            <div class="post-excerpt">
                                @item.Description
                            </div>
                            <figure class="date text-right post-meta"><i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</figure>
                        </div>
                    </div>
                </article>
            }
        </div>
    }

</div>
