﻿@using TVG.WebClient.Models
@using Microsoft.Owin.Security
@model LoginViewModel
<div class="widget-login-box">
    @if (!TVGUserHelper.IsLoggedIn())
    {
        using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <legend><i class="fa fa-user"></i> Thành viên</legend>
                <div class="form-group-sm">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group-sm">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-9", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group-sm">
                    @Html.CheckBoxFor(m => m.RememberMe) Ghi nhớ đăng nhập
                    <button type="submit" class="btn btn-submit btn-sm btn-warning">Đăng nhập</button>
                </div>
                <div class="form-group-sm">
                    <a href="/Account/ForgotPassword" class="text-sm"><i class="fa fa-caret-right"></i> Quên mật khẩu?</a>
                    <a href="#" class="link-register text-sm" data-toggle="modal" data-target="#puRegister" title="Đăng nhập"><i class="fa fa-caret-right"></i> Đăng ký</a>
                </div>
            </fieldset>
        }
    }
    else
    {
        <fieldset>
            <legend><i class="fa fa-user"></i> Thành viên</legend>
            <div class="user-box">
                <p>Xin chào <strong>@(User.Identity.Name)</strong></p>
                <p><a href="/profile"><i class="fa fa-user fa-bigger"></i> <span class=""> Thông tin tài khoản</span></a></p>
                <p><a href="/account/logoff"><i class="fa fa-sign-out fa-bigger"></i> <span class="">Thoát</span></a></p>
                
            </div>
        </fieldset>
    }

</div>