﻿@{
    var documentCategories = (List<TaxonomyTerm>)ViewBag.DocumentCategories;
    var lawDocumentCategories = (List<TaxonomyTerm>)ViewBag.LawDocumentCategories;
}
<ul class="nav navbar-nav">
    <li class="menu-item"><a href="/" title="Trang chủ"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li class="menu-item"><a href="/page/gioi-thieu/" title="Giới thiệu">Giới thiệu</a></li>
    <li class="menu-item"><a href="/dich-vu/" title="Dịch vụ">Dịch vụ</a></li>
    @*<li class="menu-item menu-item-has-children">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Giới thiệu">Giới thiệu <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="menu-item"><a href="/page/gioi-thieu" title="Dịch vụ">Giới thiệu</a></li>
            <li class="menu-item"><a href="/page/dich-vu" title="Dịch vụ">Dịch vụ</a></li>
        </ul>
    </li>*@
    @*<li class="menu-item menu-large dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Thư viện pháp luật">Thư viện pháp luật <span class="caret"></span></a>
        <ul class="dropdown-menu megamenu list-cols row">
            @BuildMenuTree(lawDocumentCategories,0, "lawdocument")
        </ul>
    </li>*@
    @*<li class="menu-item menu-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Cơ sở dữ liệu">Cơ sở dữ liệu <span class="caret"></span></a>
        <ul class="dropdown-menu megamenu megamenu-medium row">
            <li class="col-md-7">
                <span class="menu-col-header"><i class="text-warning fa fa-folder"></i> Lĩnh vực</span>
                <ul>
                    @BuildMenuTree(documentCategories,0, "document")
                </ul>
            </li>
            <li class="col-md-5">
                <span class="menu-col-header"><i class="text-warning fa fa-book"></i> Văn bản</span>
                <ul>
                    <li><a href="/van-ban" title="Hướng dẫn, biểu mẫu"> Hướng dẫn, biểu mẫu</a></li>
                    <li><a href="/bai-viet-hoc-thuat" title="Bài viết học thuật"> Bài viết học thuật</a></li>
                    <li><a href="/an-le" title="Án lệ"> Án lệ</a></li>
                </ul>
            </li>

        </ul>
    </li>*@
    <li class="menu-item"><a href="/bai-viet/" title="Tin tức">Tin tức</a></li>
    <li class="menu-item"><a href="/page/lien-he/" title="Liên hệ">Liên hệ</a></li>
</ul>

@helper BuildMenuTree(List<TaxonomyTerm> terms, int pId, string type)
{

    var subCount = 0;
    var url = "";
    var totalItems = 0;
    var items = terms.Where(x => x.ParentId == pId);
    var subItems = new List<TaxonomyTerm>();
    if (type == "lawdocument")
    {
        url = "/phap-luat/linh-vuc";
    }
    else if (type == "document")
    {
        url = "/van-ban/linh-vuc";
    }
    foreach (var item in items)
    {
        totalItems = 0;
        subCount = terms.Count(x => x.ParentId == item.Id);
        if (type == "lawdocument" && item.ExtraInfo != null)
        {
            totalItems = item.ExtraInfo.LawDocumentCount;
        }
        else if (type == "document" && item.ExtraInfo != null)
        {
            totalItems = item.ExtraInfo.DocumentCount;
        }
        <li class="level-@item.Level @(item.Level == 0 ? "" : "")">
            <a href="@url/@item.Slug-@item.Id" title="@item.Name">
                <i class="fa @(item.Level > 0 ? "fa-caret-right" : subCount > 0 ? "fa-folder-open-o" : "fa-folder-o")"></i> @item.Name (@totalItems)
            </a>
            @if (subCount > 0)
            {
                <ul class="list-nostyle">
                    @BuildMenuTree(terms, item.Id, type)
                </ul>
            }
        </li>
}

}