﻿@using TVG.WebClient.Models
@using Microsoft.Owin.Security
@model LoginViewModel
<div id="puLogin" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title media">
                    <div class="media-left"><i class="ion-ios-person-outline fa-3x"></i></div>
                    <div class="media-body">
                        <h3 class="media-heading">Đăng nhập</h3>
                        <span><small>Bạn chưa có tài khoản? <a id="puLinkRegister" href="#" data-target="#puRegister">Đăng ký ở đây.</a></small></span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.CheckBoxFor(m => m.RememberMe) Ghi nhớ đăng nhập
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Đăng nhập" class="btn btn-default btn-block" />
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword", "Account")
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                @{
                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                    if (loginProviders.Count() > 0)
                    {
                        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Request.Url.PathAndQuery }))
                        {
                            @Html.AntiForgeryToken()

                            foreach (AuthenticationDescription p in loginProviders)
                            {
                                <button type="submit" class="btn btn-block btn-social btn-@p.AuthenticationType.ToLower()" name="provider" value="@p.AuthenticationType"><i class="fa fa-@p.AuthenticationType.ToLower()"></i> Đăng nhập bằng @p.AuthenticationType</button>
                            }

                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
