﻿@using TVG.Data.Domain
@model Post
@{ 
    ViewBag.Title = Model.Title;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.Canonical = TVGRouteHelper.RouteUrl(Url, "Page", new { slug = Model.Slug });

    var breadcrumb = new List<BreadcrumbViewModel>();
    breadcrumb.Add(new BreadcrumbViewModel { Text = Model.Title });
}
@Html.Partial("Breadcrumb", breadcrumb)
<div class="row single-page text-justify">
    <article class="col-md-19">
        <header>
            <h1>@Model.Title</h1>
        </header>
        <section>
            @Html.Raw(Model.Content)
        </section>
    </article>
    <section class="col-md-5">
        @Html.Partial("~/Views/Sidebar/SidebarPost.cshtml")
    </section>
</div>
