﻿@using TVG.Data.Domain
@{
    var mainMenuItems = (List<MenuItem>)ViewBag.MenuItems;
    var isLoggedIn = (bool)ViewBag.IsLoggedIn;
}
<!-- Header -->
@Html.Action("HeaderAdminMenu", "Home")
<div class="navigation-wrapper">
    <div class="primary-navigation-wrapper">
        <header class="navbar" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="/"><img src="~/Content/images/logo.png" alt="brand"></a>
                    </div>
                </div>
                <div class="top-nav-bar">
                    @*<div class="contact-menu pull-right">
                        <div class="navigation-contact pull-right"><a href="tel://@ViewBag.SitePhone" title="Liên hệ với chúng tôi"><i class="fa fa-phone"></i> <span class="">@ViewBag.SitePhone</span></a></div>
                        <div class="navigation-contact pull-right"><a href="mail://@ViewBag.SiteEmail" title="Gửi email"><i class="fa fa-envelope"></i> <span class="">@ViewBag.SiteEmail</span></a></div>
                    </div>*@
                    <div class="user-menu pull-right">
                        @if (!isLoggedIn)
                        {
                            @*<div class=""><a href="#" data-toggle="modal" data-target="#puLogin" title="Đăng nhập"><i class="fa fa-sign-in fa-bigger"></i> <span class="">Đăng nhập</span></a></div>*@
                            @Html.Partial("HeaderLoginBox")
                        }
                        else
                        {
                            <div class="">
                                Xin chào @(User.Identity.Name). <a href="/profile"><i class="fa fa-user fa-bigger"></i> <span class="">Tài khoản</span></a>
                                @Html.Raw("|")
                                <a href="/account/logoff"><i class="fa fa-sign-out fa-bigger"></i> <span class="">Thoát</span></a>
                            </div>
                        }

                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" id="main-menu" role="navigation">

                    @*<ul class="nav navbar-nav">
                        @MenuTreeItem(mainMenuItems, 0)
                    </ul>*@
                    @Html.Action("MainMenu", "Home")
                </nav><!-- /.navbar collapse-->
</div><!-- /.container -->
        </header><!-- /.navbar -->
    </div><!-- /.primary-navigation -->
</div>
@Html.Action("HeaderSearchBox", "Home")
@helper MenuTreeItem(List<MenuItem> list, int pId)
{
var nodes = list.Where(x => x.ParentId == pId);
List<TVG.Data.Domain.MenuItem> childNodes;
foreach (var item in nodes)
{
    childNodes = list.Where(x => x.ParentId == item.Id).ToList();
        <li class="menu-item @(childNodes.Count > 0 ? "menu-item-has-children" :"")">
            <a href="@item.Url" class="@item.CustomClass" title="@item.Text">
                @item.Text
                @if (childNodes.Count > 0)
                {
                    <span class="caret"></span>
                }
            </a>
            @if (childNodes.Count > 0)
            {
                <ul role="menu" class="dropdown-menu">
                    @MenuTreeItem(list, item.Id)
                </ul>
            }
        </li>
}
}
