﻿@using NPoco
@model SearchViewModel
@{
    int type = Model.SearchType;
    string kw = Model.Keyword;
    string returnUrlDocs = Model.ReturnUrlDocs;
    string returnUrlLawDocs = Model.ReturnUrlLawDocs;
    string pagerUrl = Model.PagerUrl;

    ViewBag.Title = "Kết quả tìm kiếm " + Model.Keyword;
    ViewBag.MetaDescription = TVGSettingHelper.GetSettingValue("site_meta_description");
    ViewBag.MetaKeyword = TVGSettingHelper.GetSettingValue("site_meta_keyword");
}
<div class="row">
    <section class="col-md-12 post-list">
        <header>
            <h1>Kết quả tìm kiếm "@Model.Keyword"</h1>
        </header>
        <div class="search-section col-md-6">
            
        </div>
        <div class="search-section col-md-6">
            
        </div>        
    </section>
</div>
@section scripts{
    <script src="~/Scripts/plugins/jquery.mark.min.js"></script>
    <script>
        //$('.result-title').highlight('@kw', true);
        var kw = '@kw';
        $(".result-title").mark(kw, {
            
        });
        kw = kw.replace(/\//g, " ");
        $(".result-title").mark(kw, {
            //accuracy: 'exactly',
            ignoreJoiners:true
        });
    </script>
}
