﻿@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}
@{
    ViewBag.Title = "Quên mật khẩu";
}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Admin</b>LTE</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p>
            Please check your email to reset your password.
        </p>
        <p class="text-danger">
            For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
            Please change this code to register an email service in IdentityConfig to send an email.
        </p>
    </div>
</div>

