﻿@{
    ViewBag.Title = "Đặt lại mật khẩu";
}
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Admin</b>LTE</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>