﻿@model TVG.Admin.Models.PostFormModel
@{
    List<int> selectedPostTerms = Model.PostTermIds != null ? Model.PostTermIds : new List<int>();
    List<TaxonomyTerm> categories = Model.Categories != null ? Model.Categories : new List<TaxonomyTerm>();
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/post"><i class="fa fa-dashboard"></i> Danh sách trang</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@using (Html.BeginForm(Model.FormAction, "Page", FormMethod.Post, new { @class = "", role = "form" }))
{
    <div class="row">
        <div class="col-md-9">
            <div class="box form-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Trang</h3>
                </div>
                <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label class="col-md-2 control-label">Tiêu đề (*)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Tiêu đề bài viết" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">URL tĩnh (*)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Slug, new { @class = "form-control", placeholder = "URL tĩnh (vd: tieu-de-bai-viet)" })
                            @Html.ValidationMessageFor(model => model.Slug)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tóm tắt (*)</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Tóm tắt" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nội dung (*)</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Content, new { id = "content", @class = "form-control", placeholder = "Nội dung" })
                            @Html.ValidationMessageFor(model => model.Content)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Meta Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", placeholder = "Meta description" })
                            @Html.ValidationMessageFor(model => model.MetaDescription)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Meta Keyword</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", placeholder = "Meta keyword" })
                            @Html.ValidationMessageFor(model => model.MetaKeyword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Xuất bản</h3>
                </div>
                <div class="box-body small">
                    <div class="form-group">
                        <span>Tạo bởi </span> <strong>@Model.CreatedByName</strong> <small>(@Model.CreatedDate.ToShortDateStringVN())</small>
                    </div>
                    <div class="form-group">
                        <span>Cập nhật bởi </span> <strong>@Model.UpdatedByName</strong> <small>(@Model.UpdatedDate.ToShortDateStringVN())</small>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Lưu lại" />
                            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Phân loại</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Danh mục</label>
                        <select name="category" class="form-control">
                            <option value="0">-- Chọn danh mục --</option>
                            @foreach (TaxonomyTerm item in Model.Categories)
                            {
                                <option value="@item.Id" @(selectedPostTerms.Contains(item.Id) ? "selected" : "")>@item.Name.AppendLeft('-', item.Level * 4)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Thứ tự</label>
                        <input type="number" class="form-control" name="category_display_order" value="@Model.DisplayOrder" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            //ckeditor
            CKEDITOR.replace("content", {});

            @*//tạo url rewrite theo tiêu đề*@
            $("#Title").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                $("#Slug").val(text);
            });
        });
    </script>
}