﻿@model NPoco.Page<TVG.Data.Domain.Post>
@{
    ViewBag.Title = "Quản lý trang";
    bool canInsert = (bool)ViewBag.CanInsert;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Trang</h3>
        <div class="box-tools">
            @if (canInsert)
            {
                @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn btn-sm btn-primary" })
            }           
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Delete", "Page", FormMethod.Post, new { id = "form1" }))
        {
            <input type="hidden" name="deletedId" id="deletedId" value="" />
            //Bảng dữ liệu
            <table class="table table-hover table-data">
                <thead>
                    <tr class="table-header">
                        <th>Tiêu đề</th>
                        <th>Đường dẫn tĩnh</th>
                        <th>Tác giả</th>
                        <th>Ngày đăng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TVG.Data.Domain.Post item in Model.Items)
                    {
                        <tr>
                            <td data-th="Tên danh mục">
                                @Html.ActionLink(item.Title, "Edit", new { id = item.Id })
                                @if (item.Terms != null)
                                {
                                    <div>
                                        @foreach (var term in item.Terms)
                                        {
                                            <span class="label label-default">@term.TermName</span>
                                        }
                                    </div>
                                }
                            </td>
                            <td data-th="URL tĩnh">
                                @item.Slug
                            </td>
                            <td data-th="Tác giả">
                                @item.CreatedUser["UserName"].ToString()
                            </td>
                            <td>
                                @item.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                            </td>
                            <td data-th="Thao tác">
                                @if (canEdit)
                                {
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                                }
                                @if (canDelete)
                                {
                                    @Html.Raw(" | ") <a href="#" data-id="@item.Id" class="linkDelete">Xoá</a>
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="box-footer clearfix">
        @Html.Pager(Model.TotalPages, Model.CurrentPage, Model.ItemsPerPage, "/page/")
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @*//hiện thông báo (nếu có)*@
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }

            $('.linkDelete').click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                $('#deletedId').val(id);
                confirm("Bạn có chắc muốn xoá?") ? $("#form1").submit() : false;
            });
        });
    </script>
}
