﻿@model TermsChecklistModel
@{
    var topCat = Model.Terms.Where(x => x.ParentId == 0).ToList();
}

<div class="panel-group checklist-terms" id="@Model.ListId-0" role="tablist" aria-multiselectable="true">
    @this.BuildTree(Model.Terms, 0, Model.SelectedIds)
</div>

@helper BuildTree(List<TaxonomyTerm> terms, int pId, List<int> selectedIds)
{
var topCats = terms.Where(x => x.ParentId == pId).ToList();
var subCats = new List<TaxonomyTerm>();
var liClass = "";
var isChecked = "";
var panelClass = "panel-default";
foreach (TaxonomyTerm item in topCats)
{
    subCats = terms.Where(x => x.ParentId == item.Id).ToList();
    liClass = subCats.Count > 0 ? "has-children" : "";
    isChecked = selectedIds.Contains(item.Id) ? "checked" : "";
    //panelClass = subCats.Count > 0 ? "panel-success" : "panel-default";
    <div class="panel @panelClass @liClass" id="@Model.ListId-@item.Id">
        <div class="panel-heading" role="tab" id="heading-@Model.ListId-@item.Id">
            <h4 class="panel-title">
                <input type="checkbox" class="" data-parent="#@Model.ListId-@pId" @isChecked name="@Model.CheckboxName" value="@item.Id" />
                <a role="button" data-toggle="collapse" data-parent="#@Model.ListId-@pId" href="#collapse-@Model.ListId-@item.Id" aria-expanded="true" aria-controls="collapse-@Model.ListId-@item.Id">

                    @item.Name
                    @if (subCats.Count > 0)
                    {
                        <i class="fa fa-angle-right pull-right"></i>
                    }
                </a>

            </h4>
        </div>
        @if (subCats.Count > 0)
        {
            <div id="collapse-@Model.ListId-@item.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@Model.ListId-@item.Id">
                <div class="panel-body">
                    @BuildTree(terms, item.Id, selectedIds)
                </div>
            </div>
        }
    </div>
}
}