﻿@model TermsChecklistModel
@{
    var topCat = Model.Terms.Where(x => x.ParentId == 0).ToList();
}
<ul class="checklist-terms cd-accordion-menu">
    @this.BuildTree(Model.Terms, 0, Model.SelectedIds)
</ul>

@helper BuildTree(List<TaxonomyTerm> terms, int pId, List<int> selectedIds)
{
var topCats = terms.Where(x => x.ParentId == pId).ToList();
var subCats = new List<TaxonomyTerm>();
var liClass = "";
bool isChecked = false;
foreach (TaxonomyTerm item in topCats)
{
    subCats = terms.Where(x => x.ParentId == item.Id).ToList();
    liClass = subCats.Count > 0 ? "has-children" : "";
    isChecked = selectedIds.Contains(item.Id);
    
        <li class="@liClass @(isChecked ? "expand" : "")" data-pid="@pId" data-id="@item.Id">
            <section class="item-header">
                <input type="checkbox" class="" @(isChecked ? "checked" : "") name="@Model.CheckboxName" value="@item.Id" />
                <label>@item.Name</label>
                @if (subCats.Count > 0)
                {
                    <i class="fa fa-angle-right pull-right"></i>
                }
            </section>
            @if (subCats.Count > 0)
            {                
                <ul>
                    @BuildTree(terms, item.Id, selectedIds)
                </ul>
            }

        </li>
}
}