﻿@{
    ViewBag.Title = "Quản lý cache";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text-o"></i> @ViewBag.Title</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("ClearAllCache", "CacheManager", FormMethod.Post, new { id = "form1" }))
        {
            <button type="submit" class="btn btn-primary">Xoá hết cache</button>
        }
    </div>
</div>