﻿@model TVG.Admin.Models.PostEditModel
@{
    ViewBag.Title = "Sửa khối văn bản";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/post"><i class="fa fa-dashboard"></i> Danh sách khối văn bản</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@using (Html.BeginForm("Edit", "TextBlock", FormMethod.Post, new { @class = "", role = "form" }))
{
    <div class="row">
        <div class="col-md-9">
            <div class="box form-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Trang</h3>
                </div>
                <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label class="col-md-2 control-label">Tiêu đề (*)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Tiêu đề bài viết" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Mã (*)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Slug, new { @class = "form-control", placeholder = "Mã (vd: tieu-de-bai-viet)" })
                            @Html.ValidationMessageFor(model => model.Slug)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tóm tắt (*)</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Tóm tắt" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nội dung (*)</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Content, new { id = "content", @class = "form-control", placeholder = "Nội dung" })
                            @Html.ValidationMessageFor(model => model.Content)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Xuất bản</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Ngày tạo: </label> <span>@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span>
                    </div>
                    <div class="form-group">
                        <label>Ngày cập nhật: </label> <span>@Model.UpdatedDate.ToString("dd/MM/yyyy HH:mm")</span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Lưu lại" />
                            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            //ckeditor
            CKEDITOR.replace("content", {});

            @*//tạo url rewrite theo tiêu đề*@
            
        });
    </script>
}