﻿@model TVG.Admin.Models.MenuEditModel
@{
    ViewBag.Title = "Sửa thông tin menu";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/menumanager"><i class="fa fa-dashboard"></i> Quản lý menu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@helper MenuTreeItem(List<TVG.Data.Domain.MenuItem> list, int pId)
{
var nodes = list.Where(x => x.ParentId == pId);
List<TVG.Data.Domain.MenuItem> childNodes;
foreach (var node in nodes)
{
    childNodes = list.Where(x => x.ParentId == node.Id).ToList();
        <li data-child="@childNodes.Count" id="menu-item-@node.Id" class="dd-item dd3-item @(node.Enabled ? "" : "disabled")" data-id="@node.Id">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
                <div class="menu-label">
                    <a class="open">@node.Text @(node.Enabled ? "" : "(disabled)")<span class="caret"></span></a>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                </div>
                <div class="menu-settings" style="display:none">
                    <p class="help-block disabled-text"><i>Mục này sẽ không được hiển thị trên menu</i></p>
                    <div class="form-group">
                        <label class="control-label">Đường dẫn URL</label>
                        <input type="text" id="menu-url-@node.Id" placeholder="Đường dẫn URL" class="form-control menu-url" value="@node.Url" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên URL</label>
                        <input type="text" id="menu-text-@node.Id" placeholder="Tên URL" class="form-control menu-text" value="@node.Text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">CSS Class</label>
                        <input type="text" id="menu-class-@node.Id" placeholder="CSS Class" class="form-control menu-class" value="@node.CustomClass" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="menu-enabled" @(node.Enabled ? "checked" : "") id="menu-enabled-@node.Id">
                            Hiển thị trên menu
                        </label>
                    </div>
                </div>
            </div>
            @if (childNodes.Count > 0)
            {
                <ol class="dd-list">
                    @MenuTreeItem(list, node.Id)
                </ol>
            }
        </li>
}
}
<div class="row">
    <div class="col-md-4">
        <form id="form1">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Thông tin menu</h3>
                </div> <!-- /.box-header -->

                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">Tên menu</label>
                        <input type="text" class="required form-control" required id="name" name="name" placeholder="Tên menu" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã menu</label>
                        <input type="text" class="required form-control" required id="slug" name="slug" placeholder="Mã menu" value="@Model.Slug" />
                    </div>
                </div> <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-offset-3">
                        <input type="hidden" id="hfMenuID" value="@Model.Id">
                        <input type="submit" name="submit" value="Cập nhật" id="btnSaveMenu" class="btn btn-primary" />
                    </div>
                </div>
            </div> <!-- /box -->
        </form>
        <form id="formAddNew">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Thêm mục</h3>
                </div> <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">Đường dẫn URL</label>
                        <input type="text" id="add-url" required placeholder="Đường dẫn URL" class="required form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên URL</label>
                        <input type="text" id="add-label" required placeholder="Tên URL" class="required form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">CSS Class</label>
                        <input type="text" id="add-css" placeholder="CSS Class" class="form-control" value="" />
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="btnAddNew">Thêm</button>
                </div>
            </div> <!-- /box -->
        </form>
    </div>
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Các mục trong menu</h3>
            </div> <!-- /.box-header -->
            <div class="box-body">
                <div id="nestable3" class="dd">
                    <ol class="dd-list" id="menu-list">
                        @MenuTreeItem(ViewBag.MenuItems, 0)
                    </ol>
                </div><!-- /#nestable3 -->
            </div><!-- /.box-body-->
            <div class="box-footer">
                <button class="btn btn-primary" id="btnSave">Lưu</button>
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div>
</div>
<input type="hidden" id="hfRemoved" name="hfRemoved" value="" />
@section scripts{
    <link href="~/Scripts/plugins/jnestable/jquery.domenu.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/jnestable/jquery.nestable.js"></script>
    <script src="~/Scripts/plugins/jquerytmpl/jquery.tmpl.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //framework.bindFormValidation("#form1");

            //tạo url rewrite theo tiêu đề
            $("#name").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                $("#slug").val(text);
            });

            var menuTree = $('#nestable3');

            //tao menu tree
            $('.dd').nestable({ maxDepth: 3 }).on('change', self.updateMenuTree);
            updateMenuTree(menuTree);

            //event click de mo/dong chi tiet menu item
            menuTree.on('click', '.open', function () {
                var $this = $(this);
                $this.parent().next('.menu-settings').toggle();
            });

            //event khi check enabled hoac disable menu item
            menuTree.on('change', '.menu-enabled', function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $this.closest(".dd-item").removeClass('disabled');
                }
                else {
                    $this.closest(".dd-item").addClass('disabled');
                }
                updateItemTitle($this.closest(".dd-item"));
            });

            //event khi thay doi ten menu item
            menuTree.on('change', '.menu-text', function () {
                updateItemTitle($(this).closest(".dd-item"));
            });

            //event click nut remove menu item
            menuTree.on('click', '.btn-remove', function () {
                var $this = $(this);
                var item = $this.closest(".dd-item");
                var menuList = $("#menu-list");
                var childrenList = item.children(".dd-list");
                if (childrenList.length > 0) {
                    childrenItems = childrenList.children('.dd-item');
                    menuList.append(childrenItems);
                }
                var removedIds = $("#hfRemoved").val();
                removedIds += item.attr("data-id") + ",";
                $("#hfRemoved").val(removedIds);
                item.remove();
                updateMenuTree(menuTree);
            });

            //nut bam them menu item
            $('#btnAddNew').click(function (e) {
                e.preventDefault();
                if ($("#formAddNew").valid()) {
                    var menu_id = $("#hfMenuID").val();
                    var item_text = $('#add-label').val();
                    var item_url = $('#add-url').val();
                    var item_class = $("#add-css").val();
                    var dataPost = {
                        'menu_id': menu_id,
                        'item_text': item_text,
                        'item_url': item_url,
                        'item_class': item_class,
                    };
                    $.ajax({
                        url: '/menumanager/AddMenuItem',
                        type: 'post',
                        dataType: 'json',
                        data: dataPost,
                        beforeSend: function () {
                            $("#btnAddNew").prop('disabled', true);
                        },
                        complete: function () {
                            $("#btnAddNew").prop('disabled', false);
                        },
                        success: function (json) {
                            if (json['error']) {
                                toastr['error'](json['error']);
                            }

                            if (json['success']) {
                                toastr['success'](json['success']);
                                var data = { itemId: json['item_id'], itemUrl: $('#add-url').val(), itemText: $('#add-label').val(), itemCss: $("#add-css").val() };
                                $("#menuItemTpl").tmpl(data).appendTo($('#menu-list'));
                                updateMenuTree(menuTree);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            });

            //nut bam Luu danh sach menu item
            $("#btnSave").click(function () {
                var list = menuTree;
                var data, depth = 0;
                var step = function (level, depth) {
                    var array = [],
                      items = level.children("li");
                    items.each(function () {
                        var li = $(this);
                        var item_enabled = li.find(".menu-enabled").first().is(":checked") ? 1 : 0;
                        var item = {
                            id: li.attr("data-id"),
                            parent: li.attr("data-parent"),
                            order: li.attr("data-order"),
                            text: li.find(".menu-text").first().val(),
                            url: li.find(".menu-url").first().val(),
                            css: li.find(".menu-class").first().val(),
                            enabled: item_enabled
                        };
                        var sub = li.children("ol");
                        array.push(item);
                        if (sub.length) {
                            Array.prototype.push.apply(array, step(sub, depth + 1));
                        }
                    });
                    return array;
                };
                data = step(list.find("ol").first(), depth);
                
                var dataPost = {
                    'menu_tree' : data,
                    'deleted_ids': $("#hfRemoved").val()
                };
                $.ajax({
                    url: '/MenuManager/SaveMenuTree',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $("#btnSave").prop('disabled', true);
                    },
                    complete: function () {
                        $("#btnSave").prop('disabled', false);
                    },
                    success: function (json) {
                        if (json['error']) {
                            toastr['error'](json['error']);
                        }

                        if (json['success']) {
                            toastr['success'](json['success']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            });

            //nut bam Luu thong tin menu
            $("#btnSaveMenu").click(function (e) {
                e.preventDefault();
                if ($("#form1").valid()) {
                    var id = $("#hfMenuID").val();
                    var menuName = $("#name").val();
                    var menuSlug = $("#slug").val();
                    var dataPost = {
                        'id': id,
                        'menu_name': menuName,
                        'menu_slug': menuSlug,
                    };
                    $.ajax({
                        url: '/menuManager/SaveMenu',
                        type: 'post',
                        dataType: 'json',
                        data: dataPost,
                        beforeSend: function () {
                            $("#btnSaveMenu").prop('disabled', true);
                        },
                        complete: function () {
                            $("#btnSaveMenu").prop('disabled', false);
                        },
                        success: function (json) {
                            if (json['error']) {
                                toastr['error'](json['error']);
                            }

                            if (json['success']) {
                                toastr['success'](json['success']);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            });
        });

        function updateMenuTree(e) {
            var list = e.length ? e : $(e.target);
            list.nestable('serialize');
        };

        function updateItemTitle(item) {
            var menuText = item.find('.menu-text')[0];
            var title = $(menuText).val();
            var disabled = item.hasClass('disabled');
            if (disabled)
                title += " (disabled)";
            title += "<span class='caret'></span>";
            var linkOpen = item.find('.open')[0];
            $(linkOpen).html(title);
        }
    </script>
    <script id="menuItemTpl" type="text/x-jquery-tmpl">
        <li id="menu-item-${itemId}" class="dd-item dd3-item disabled" data-id="${itemId}">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content">
                <div class="menu-label">
                    <a class="open">${itemText} (disabled)<span class="caret"></span></a>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-remove" title="Xóa"><i class="fa fa-times"></i></button>
                </div>
                <div class="menu-settings" style="display:none">
                    <p class="help-block disabled-text"><i>Mục này sẽ không được hiển thị trên menu</i></p>
                    <div class="form-group">
                        <label class="control-label">Đường dẫn URL</label>
                        <input type="text" id="menu-url-${itemId}" placeholder="Đường dẫn URL" class="form-control menu-url" value="${itemUrl}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên URL</label>
                        <input type="text" id="menu-text-${itemId}" placeholder="Tên URL" class="form-control menu-text" value="${itemText}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">CSS Class</label>
                        <input type="text" id="menu-class-${itemId}" placeholder="CSS Class" class="form-control menu-class" value="${itemCss}" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="menu-enabled" id="menu-enabled-${itemId}">
                            Hiển thị trên menu
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </script>
}