﻿@using TVG.Data
@model TVG.Admin.Models.TagCreateModel

@{
    ViewBag.Title = "Tạo tag mới";
    string tagType = ViewBag.TagType;
}

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/lawissuedplace"><i class="fa fa-dashboard"></i> Tag</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@using (Html.BeginForm("Create", "Tag", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="glyphicon glyphicon-edit"></i> Thông tin Tag</h3>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" name="TagType" value="@tagType" />
            <div class="form-group">
                <label class="col-md-2 control-label">Tên tag</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", placeholder = "Tên tag" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tên SEO</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Slug, new { @class = "form-control required", placeholder = "Tên SEO" })
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    @Html.ActionLink("Quay lại", "Index", new { type = tagType }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //tạo url rewrite theo tiêu đề
            $("#Name").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                $("#Slug").val(text);
            });
        });

    </script>
}