﻿@{
    ViewBag.Title = "Hoàn tất đăng ký";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bạn đã hoàn tất việc đăng ký thành viên. Bây giờ bạn có thể đăng nhập và sử dụng các dịch vụ của chúng tôi.
    </p>
</div>
