﻿@{
    ViewBag.Title = "Đăng ký thành viên";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Cám ơn bạn đã đăng ký thành viên với TheGioiLuat.vn. Chúng tôi vừa gửi một email xác nhận đăng ký thành viên cho bạn. Vui lòng kiểm tra email và nhấn vào đường dẫn xác nhận trong email. Trong vài trường hợp email có thể bị gửi vào hòm thư SPAM của bạn. Nếu không thấy email xác nhận đăng ký, vui lòng liên hệ với chúng tôi theo địa chỉ <a href="mail:hotro@thegioiluat.vn">hotro@thegioiluat.vn</a>.
</p>
