﻿@model TVG.WebClient.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Vui lòng nhập email để lấy lại mật khẩu.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email đăng ký" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Gửi" />
                </div>
            </div>
        }
    </div>
</div>