﻿@{
    ViewBag.Title = "Quên mật khẩu";
}
<h2>@ViewBag.Title</h2>
<div class="login-box-body">
    <p>
        Chúng tôi đã gửi email hướng dẫn khôi phục mật khẩu vào địa chỉ email của bạn.
    </p>
</div>
