﻿@model ContactMessage
@{
    ViewBag.Title = "Thông tin thư liên hệ";
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/contactmessage/"> Quản lý thư liên hệ</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="row">
    <div class="col-md-3">
        @Html.Action("InboxSidebar")
    </div>
    <div class="col-md-9">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Thư liên hệ</h3>
                <div class="box-tools">
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn btn-sm btn-default" })

                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Delete", "ContactMessage", FormMethod.Post, new { @class = "form-horizontal", id = "form1" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="deletedId" id="deletedId" value="" />
                }
                    <div class="mailbox-read-info">
                        <h3>@Model.Subject</h3>
                        <h4></h4>
                    </div>
                    <div class="mailbox-read-info with-border">
                        <p>From: @Model.ContactName 
                        @if(Model.UserId > 0)
                        {
                            <small><a target="_blank" href="/usersadmin/edit/@Model.UserId/">(Thông tin tài khoản)</a></small>
                        }
                        </p>
                        <p>Email: @Model.ContactEmail </p>
                        <p>Phone: @Model.ContactPhone</p>
                        <p class="mailbox-read-time ">@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                    <div class="mailbox-read-message">

                        @if(Model.Terms.Any(x => x.TaxonomyType == "contact_type" && x.TermSlug == "bai-viet-hoc-thuat"))
                        {
                            using (Html.BeginForm("SendToDocumentPost", "ContactMessage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="messageId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary"><i class="fa fa-share"></i> Tạo bài viết học thuật</button>
                            }
                        }
                        else if (Model.Terms.Any(x => x.TaxonomyType == "contact_type" && x.TermSlug == "hoi-dap"))
                        {
                            using (Html.BeginForm("SendToDocument", "ContactMessage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="messageId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary"><i class="fa fa-share"></i> Gửi vào cơ sở dữ liệu</button>
                            }
                        }
                        @if(Model.Metas.Count > 0)
                        {
                            <h3>Thông tin thêm</h3>
                            foreach (var meta in Model.Metas)
                            {
                                <div><strong>@meta.MetaName: </strong> @Model.Metas.GetMetaValue(meta.MetaName)</div>
                            }
                        }
                        <h3>Nội dung</h3>
                        @Html.Raw(Model.Message)
                    </div>
                
            </div>
        </div>
    </div>
</div>
