﻿@{ 
    
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Thư mục</h3>

        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding" style="display: block;">
        <ul class="nav nav-pills nav-stacked">
            <li class="">
                <a href="/contactmessage">
                    <i class="fa fa-inbox"></i> Tất cả thư
                </a>
            </li>
            @foreach(TaxonomyTerm item in ViewBag.ContactTypes)
            {
                <li><a href="/contactmessage/?type=@item.Id"><i class="fa fa-folder-open"></i> @item.Name</a></li>
            }
        </ul>
    </div>
    <!-- /.box-body -->
</div>