﻿@model NPoco.Page<ContactMessage>
@{
    ViewBag.Title = "Quản lý thư liên hệ";
    bool canInsert = true;
    bool canEdit = true;
    bool canDelete = true;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="row">
    <div class="col-md-3">
        @Html.Action("InboxSidebar")
    </div>
    <div class="col-md-9">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Thư liên hệ</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Delete", "ContactMessage", FormMethod.Post, new { id = "form1" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="deletedId" id="deletedId" value="" />
                    //Bảng dữ liệu
                    <table class="table table-hover table-data">
                        <thead>
                            <tr class="table-header">
                                <th>Người gửi</th>
                                <th>Tiêu đề</th>
                                <th>Ngày gửi</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td data-th="Người gửi">
                                        
                                        @if(item.UserId > 0)
                                        {
                                            <a href="/usersadmin/edit/@item.UserId/">@item.ContactName</a>
                                        }
                                        else
                                        {
                                            @item.ContactName
                                        }
                                    </td>
                                    <td data-th="Tiêu đề">
                                        <a href="/contactmessage/detail/@item.Id">@item.Subject</a>
                                        <div>
                                            @foreach (var term in item.Terms)
                                            {
                                                <span class="label label-default">@term.TermName</span>
                                            }
                                        </div>
                                    </td>
                                    <td data-th="Ngày gửi">
                                        @item.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td data-th="Thao tác">
                                        @if (canDelete)
                                        {
                                            <a href="#" data-id="@item.Id" class="linkDelete">Xoá</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="box-footer clearfix">
                @Html.Pager(Model.TotalPages, Model.CurrentPage, Model.ItemsPerPage, "/contactmessage/")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @*//hiện thông báo (nếu có)*@
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }

            $('.linkDelete').click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                $('#deletedId').val(id);
                confirm("Bạn có chắc muốn xoá?") ? $("#form1").submit() : false;
            });
        });
    </script>
}
