﻿@{ 
    var thisModel = new WidgetModel();
    thisModel.Title = "Kết nối";
    thisModel.CssClass = "box-socials";
}
@Html.Partial("Widget/BeforeContent", thisModel)
<ul class="ss_social clear">
    <li><a href="" class="twitter" title="Twitter" target="_blank"><span class="sr-only">twitter</span></a></li>
    <li><a href="https://www.facebook.com/lawsocietygroup/" class="facebook" title="Facebook" target="_blank"><span class="sr-only">facebook</span></a></li>
    <li><a href="" class="gplus" title="Google Plus" target="_blank"><span class="sr-only">google plus</span></a></li>
    <li><a href="/feed/" class="rss" title="RSS" target="_blank"><span class="sr-only">rss</span></a></li>
    <li><a href="javascript:window.print();" class="print" title="In trang này" target="_blank"><span class="sr-only">print</span></a></li>
</ul>
@Html.Partial("Widget/AfterContent")