﻿@model HomeNewsBlockModel
@{
    var term = Model.Category;
    string listType = Model.Style;
    var widgetModel = new WidgetModel();
    widgetModel.Title = "Tin tức";
    if (term != null)
    {
        widgetModel.Title = term.Name;
    }
    widgetModel.CssClass = "new-posts no-border " + Model.CssClass;
}
@*@Html.Partial("Widget/BeforeContent", widgetModel)*@
<div class="widget @widgetModel.CssClass">
    <header class="section-header">
        <h2 class="after" style=""> @widgetModel.Title</h2>
    </header>
    <div class="section-content">
        <div class="top-documents type-post section-content news-small list-type-@listType">
            @if (listType == "style1")
            {
                if (Model.Posts.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <article class="big-item">
                                <div class="post-thumb">
                                    <img src="@TVGHelper.GetThumbnail(Model.Posts[0].Image, 360, 360)" title="@Model.Posts[0].Title" />
                                </div>
                                <div class="">
                                    <header><a title="@Model.Posts[0].Title" class="post-title" href="/bai-viet/@Model.Posts[0].Slug-@Model.Posts[0].Id/">@Model.Posts[0].Title</a></header>
                                    <div class="post-excerpt">
                                        @Model.Posts[0].Description
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-12">
                            @{ var count = Model.Posts.Count - 1;}
                            @for (int i = 1; i < count; i++)
                    {
                                <article class="small-item">
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-7 post-thumb">
                                            <img src="@TVGHelper.GetThumbnail(Model.Posts[i].Image, 180, 180)" title="@Model.Posts[i].Title" />
                                        </div>
                                        <div class="col-md-16 col-xs-16 col-sm-17">
                                            <header><a title="@Model.Posts[i].Title" class="post-title" href="/bai-viet/@Model.Posts[i].Slug-@Model.Posts[i].Id/">@Model.Posts[i].Title</a></header>
                                            <div class="post-excerpt">
                                                @Model.Posts[i].Description.TruncateAtWord(100)
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                                    }
                                }
                                else if (listType == "grid")
                                {
                                    foreach (var item in Model.Posts)
                                    {
                                        <article class="col-md-6">
                                            <div class="post-thumb">
                                                <img src="@TVGHelper.GetThumbnail(item.Image, 180, 180)" title="@item.Title" />
                                            </div>
                                            <div class="">
                                                <header><a title="@item.Title" class="post-title" href="/bai-viet/@item.Slug-@item.Id/">@item.Title</a></header>
                                                @*<figure class="date text-right post-meta"><i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</figure>*@
                                            </div>
                                        </article>
                                    }
                                }
                                else
                                {
                                    foreach (var item in Model.Posts)
                                    {
                                        <article>
                                            <div class="row">
                                                <div class="col-md-7 col-xs-7 col-sm-6 post-thumb">
                                                    <img src="@TVGHelper.GetThumbnail(item.Image, 180, 180)" title="@item.Title" />
                                                </div>
                                                <div class="col-md-17 col-xs-17 col-sm-18">
                                                    <header><a title="@item.Title" class="post-title" href="/bai-viet/@item.Slug-@item.Id/">@item.Title</a></header>
                                                    <div class="post-excerpt">
                                                        @item.Description
                                                    </div>
                                                    @*<figure class="date text-right post-meta"><i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</figure>*@
                                                </div>
                                            </div>
                                        </article>
                                    }
                                }
            <div class="space-height"></div>
            <div class="text-center"><a href="/bai-viet/chuyen-muc/@term.Slug-@term.Id/" class="read-more">Xem thêm</a></div>
        </div>

    </div>
</div>
