﻿@using TVG.Data.Domain
@model List<Post>
@if (Model.Count > 0)
{
    <div class="widget top-documents">
        <header class="section-header">
            <h2 class="after" style=""> Tin mới</h2>
        </header>
        <div class="section-content news-small">
            @foreach (var item in Model)
            {
                <article>
                    <div class="row">
                        <div class="col-md-8 col-xs-8 post-thumb">
                            <img src="@TVGHelper.GetThumbnail(item.Image, 160, 160)" title="@item.Title" />
                        </div>
                        <div class="col-md-16 col-xs-16">
                            <header><a href="/bai-viet/@item.Slug-@item.Id">@item.Title</a></header>
                            <div class="post-meta"><span class="fa fa-calendar"></span> @item.CreatedDate.ToString("dd/MM/yyyy")</div>
                            <a href="/bai-viet/@item.Slug-@item.Id" class="read-more">Chi tiết</a>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>    
}
