﻿@model HomeNewsTagBlockModel
@{
    var term = Model.Tag;
    var widgetModel = new WidgetModel();
    widgetModel.Title = Model.DisplayName;
    widgetModel.CssClass = "sidebar new-posts no-border " + Model.CssClass;
}
@Html.Partial("Widget/BeforeContent", widgetModel)

        <div class="top-documents type-post section-content news-small list-type-list">
            @foreach (var item in Model.Posts)
            {
            <article>
                <div class="row">
                    <div class="col-md-7 col-xs-7 col-sm-6 post-thumb">
                        <img src="@TVGHelper.GetThumbnail(item.Image, 160, 160)" title="@item.Title" />
                    </div>
                    <div class="col-md-17 col-xs-17 col-sm-18">
                        <header><a title="@item.Title" class="post-title" href="/bai-viet/@item.Slug-@item.Id/">@item.Title</a></header>
                        <div class="post-excerpt">
                            @item.Description.TruncateAtWord(100)
                        </div>
                    </div>
                </div>
            </article>
            }
            <div class="space-height"></div>
            @*<div class="text-center"><a href="/bai-viet/chuyen-muc/@term.Slug-@term.Id/" class="read-more">Xem thêm</a></div>*@
        </div>
@Html.Partial("Widget/AfterContent")