﻿@using TVG.Data.Domain
@model NPoco.Page<DocumentCase>
@{
    ViewBag.Title = "Kiểm tra file đính kèm";

}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="">
    <span class="label-warning label">Lưu ý</span> Hoạt động này có thể chiếm nhiều tài nguyên hệ thống. Do đó không nên sử dụng liên tục. Mỗi lần chỉ nên quét trong vòng 1 tháng.
</div>
<div class="space-height"></div>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Danh sách file đính kèm không tồn tại</h3>
    </div>
    <div class="box-body">
        <div class="form form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Chọn loại văn bản</label>
                <div class="col-md-10">
                    <select class="form-control" id="ddlType">
                        <option value="0">Thư viện pháp luật</option>
                        <option value="1">Cơ sở dữ liệu</option>
                        <option value="2">Án lệ</option>
                        <option value="3">Bài viết học thuật</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Chọn ngày</label>
                <div class="col-md-10">
                    <div class="input-group" style="width: 350px">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i> Thời gian
                        </div>
                        <input type="text" class="form-control pull-right" id="date-range">
                        <input type="hidden" name="fromDate" id="fromDate" value="@DateTime.Today.ToString("YYYY-MM-dd")" />
                        <input type="hidden" name="toDate" id="toDate" value="@DateTime.Today.ToString("YYYY-MM-dd")"  />
                    </div>
                </div>                
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" id="btnSubmit" class="btn btn-primary">Quét văn bản</button>
                </div>
            </div>
        </div>
        
        <div id="progressNumber">
            Chuẩn bị kiểm tra ...
        </div>
        <div class="progress active">
            <div id="progressbar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">0% Complete</span>
            </div>
        </div>
        <div class="result">
            <table id="table-data" class="table table-hover"></table>
        </div>
        
    </div>
</div>
@section head{
    <link rel="stylesheet" href="~/Scripts/plugins/daterangepicker/daterangepicker.css" />
}
@section scripts{
    <link href="~/Scripts/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript">
        var dataFiles = [];
        var dataTable;
        $(document).ready(function () {
            var progressNotifier = $.connection.checkFileExistsHub;

            progressNotifier.client.sendMessage = function (data, percent, isExists) {
                
                UpdateProgress(data, percent, isExists);
            };

            $("#btnSubmit").on('click', function () {
                var value = $('#ddlType').val();
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                dataFiles = [];
                updateProgressBar(0);
                if (typeof (dataTable) != 'undefined' && dataTable != null) {
                    // Quickly and simply clear a table
                    $('#table-data').dataTable().fnClearTable();

                    // Restore the table to it's original state in the DOM by removing all of DataTables enhancements, alterations to the DOM structure of the table and event listeners
                    $('#table-data').dataTable().fnDestroy();
                }
                $.connection.hub.start().done(function () {
                    progressNotifier.server.checkAttachment(value, fromDate, toDate);
                });
            });
           
            //Date range picker
            $('#date-range').daterangepicker({
                startDate: '@DateTime.Today.ToString("dd/MM/yyyy")',
                endDate: '@DateTime.Today.ToString("dd/MM/yyyy")',
                locale: { format: 'DD/MM/YYYY' },
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                alwaysShowCalendars: true

            });
            $("#date-range").on('apply.daterangepicker', function (e, picker) {
                $("#fromDate").val(picker.startDate.format('YYYY-MM-DD'));
                $("#toDate").val(picker.endDate.format('YYYY-MM-DD'));
                //$("#form1").submit();
            });
        });

        function updateProgressBar(percent)
        {            
            var bar = $("#progressbar");
            bar.attr('aria-valuenow', percent);
            bar.css('width', percent + "%");
            if (percent == 0) {
                bar.parent().addClass('active');
            }
            if(percent == 100)
            {
                bar.parent().removeClass('active');
            }
        }

        function UpdateProgress(data, percent, isExists) {
            // get result div
            if (!isExists)
            {
                var value = $('#ddlType').val();
                var link = "";

                if (value == 0) {
                    link = "/lawdocument/edit/" + data.Id;
                } else if (value == 1) {
                    link = "/document/edit/" + data.Id;
                } else if (value == 2) {
                    link = "/documentcase/edit/" + data.Id;
                } else if (value == 3) {
                    link = "/documentpost/edit/" + data.Id;
                }

                dataFiles.push(new Array(
                    "<a target='_blank' href='" + link + "'>" + framework.truncateString(data.Title, 80) + "</a>",
                    data.FilePath
                ));
            }
            
            updateProgressBar(percent);
            $('#progressNumber').html("Xử lý " + percent + "%");
            if(percent == 100)
            {
                
                dataTable = $('#table-data').DataTable({
                    data: dataFiles,
                    "ordering": false,
                    columns: [
                        { title: "Văn bản" },
                        { title: "File" }
                    ]
                });
            }
        }
    </script>
}
