﻿@{
    ViewBag.Title = "TheGioiLuat.vn - Gửi câu hỏi";

    var breadcrumb = new List<BreadcrumbViewModel>();
    breadcrumb.Add(new BreadcrumbViewModel { Text = "Gửi yêu cầu" });
}
@Html.Partial("Breadcrumb", breadcrumb)
<div class="row">
    <article class="col-md-19">
        <header>
            <h1>Gửi câu hỏi</h1>
        </header>
        <section>
            <div class="row">
                <form id="form-request">
                    <div class="col-md-24">
                        <div class="alert alert-success" style="display:none">
                            Câu hỏi đã được gửi
                        </div>
                        <div class="alert alert-danger" style="display:none">
                            Vui lòng điền đầy đủ nội dung trong form
                        </div>
                    </div>
                    <div class="form-horizontal col-md-16">
                        <div class="form-group">
                            <label class="col-md-6">Họ và Tên (*)</label>
                            <div class="col-md-18">
                                <input type="text" class="form-control required" required id="contactName" placeholder="Họ và Tên" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">Email (*)</label>
                            <div class="col-md-18">
                                <input type="text" class="form-control required" required id="contactEmail" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">Điện thoại (*)</label>
                            <div class="col-md-18">
                                <input type="text" class="form-control required" required id="contactPhone" placeholder="Điện thoại" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">Tiêu đề (*)</label>
                            <div class="col-md-18">
                                <input type="text" class="form-control required" required id="contactSubject" placeholder="Tiêu đề" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">Yêu cầu</label>
                            <div class="col-md-18">
                                <textarea class="form-control required" rows="10" id="contactMessage" required placeholder="Nội dung câu hỏi"></textarea>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-18 col-md-offset-6">
                                <button type="submit" class="btn btn-warning btn-submit">Gửi <i class="fa fa-send"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8"></div>
                </form>
            </div>
        </section>
    </article>
    <section class="col-md-5">
        @Html.Partial("~/Views/Sidebar/SidebarPost.cshtml")
    </section>
</div>
@section scripts {
    <script>
        $("#form-request").validate({
            invalidHandler: function (e, validator) {
                if (validator.errorList.length) {
                    $('#form-request .alert-danger').show();
                }
            },
            submitHandler: function (form) {
                
                var subject = $('#contactSubject').val();
                var name = $('#contactName').val();
                var email = $('#contactEmail').val();
                var phone = $('#contactPhone').val();
                var message = $('#contactMessage').val();

                var data = {
                    name: name,
                    email: email,
                    phone: phone,
                    subject: subject,
                    message: message,
                    type: 'hoi-dap'
                };
                $.ajax({
                    url: "/Contact/SendQuestion",
                    type: "POST",
                    data: data,
                    success: function (data) {
                        if (data.status == "success") {
                            form.reset();
                            $('#form-request .alert-success').show();
                        }
                    }
                });
            }
        });
    </script>    
}