﻿@model ContactDocumentPostModel
@{
    ViewBag.Title = "TheGioiLuat.vn - Gửi bài viết";

    var breadcrumb = new List<BreadcrumbViewModel>();
    breadcrumb.Add(new BreadcrumbViewModel { Text = "Gửi yêu cầu" });
}
@Html.Partial("Breadcrumb", breadcrumb)
<div class="row">
    <article class="col-md-19">
        <header>
            <h1>Đóng góp bài viết học thuật</h1>
        </header>
        <section>
            @if(!TVGUserHelper.IsLoggedIn())
            {
                <div class=" alert alert-info">Vui lòng đăng nhập để gửi bài viết.</div>
            }
            else
            {
                <div class="row">
                    @using (Html.BeginForm("SendDocumentPost", "Contact", FormMethod.Post, new { @id = "form-request", @class = "", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.UserId)
                        <input type="hidden" name="ContactType" value="bai-viet-hoc-thuat" />
                        
                        <div class="col-md-24">
                            <div class="alert alert-success" style="display:none">
                                Bài viết đã được gửi
                            </div>
                            <div class="alert alert-danger" style="display:none">
                                Vui lòng điền đầy đủ nội dung trong form
                            </div>
                        </div>
                        <div class="form-horizontal col-md-16">
                            <div class="form-group">
                                <label class="col-md-6">Họ và Tên (*)</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Name, new { @class="form-control", placeholder="Họ và tên" })
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Email (*)</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Điện thoại</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Điện thoại" })
                                    @Html.ValidationMessageFor(x => x.Phone)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Tiêu đề (*)</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Tiêu đề" })
                                    @Html.ValidationMessageFor(x => x.Subject)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Tác giả</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Author, new { @class = "form-control", placeholder = "Tác giả" })
                                    @Html.ValidationMessageFor(x => x.Author)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Nơi đăng</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Journal, new { @class = "form-control", placeholder = "Nơi đăng bài viết" })
                                    @Html.ValidationMessageFor(x => x.Journal)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Năm đăng</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Year, new { @class = "form-control", placeholder = "Năm đăng bài viết" })
                                    @Html.ValidationMessageFor(x => x.Year)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Đính kèm</label>
                                <div class="col-md-18">
                                    @Html.TextBoxFor(x => x.Attachment, new { @type="file", @class = "form-control", accept = ".pdf" })
                                    @Html.ValidationMessageFor(x => x.Attachment)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Nội dung</label>
                                <div class="col-md-18">
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Nội dung bài viết" })
                                    @Html.ValidationMessageFor(x => x.Message)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-18 col-md-offset-6">
                                    <button type="submit" class="btn btn-warning btn-submit">Gửi <i class="fa fa-send"></i></button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8"></div>
                    }
                </div>
            }
            
        </section>
    </article>
    <section class="col-md-5">
        @Html.Partial("~/Views/Sidebar/SidebarPost.cshtml")
    </section>
</div>
@section head {
    <link rel="stylesheet" href="~/Scripts/plugins/trumbowyg/ui/trumbowyg.min.css">
}

@section scripts {
    <script src="~/Scripts/plugins/trumbowyg/trumbowyg.min.js"></script>
    <script>
        $('#Message').trumbowyg({
            btns: ['undo', 'redo', 'formatting', 'btnGrp-design', 'btnGrp-lists', 'btnGrp-justify', 'removeformat', 'fullscreen'],
            autogrow: true
        });

        @if (TempData.SafeGet("status") == "success")
        {
            @:$('#form-request .alert-success').show();
        }
        //$("#form-request").validate({
        //    invalidHandler: function (e, validator) {
        //        if (validator.errorList.length) {
        //            $('#form-request .alert-danger').show();
        //        }
        //    },
        //    submitHandler: function (form) {

        //        var subject = $('#contactSubject').val();
        //        var name = $('#contactName').val();
        //        var email = $('#contactEmail').val();
        //        var phone = $('#contactPhone').val();
        //        var message = $('#contactMessage').val();
        //        var author = $('#contactAuthor').val();
        //        var journal = $('#contactJournal').val();
        //        var year = $('#contactYear').val();

        //        var data = {
        //            name: name,
        //            email: email,
        //            phone: phone,
        //            subject: subject,
        //            message: message,
        //            type: 'bai-viet-hoc-thuat',
        //            author: author,
        //            journal: journal,
        //            year: year
        //        };
        //        $.ajax({
        //            url: "/Contact/SendDocumentPost",
        //            type: "POST",
        //            data: data,
        //            success: function (data) {
        //                if (data.status == "success") {
        //                    form.reset();
        //                    $('#form-request .alert-success').show();
        //                }
        //            }
        //        });
        //    }
        //});
    </script>
}