﻿body {
    font-size: 13px;
    font-family:Roboto;
}
.sidebar-menu .treeview-menu > li > a {font-size: 13px;}
.form-control {font-size:13px}
table thead {background:#fff}
tr.even td {background-color: #f4f4f4}
tr.no-bg td {background-color:transparent; border-top:none !important}
tr.tr-filter th, tr.tr-filter td  {font-weight:normal}
.space-height{height:10px; clear:both}
.main-header .logo {height:52px}
.guest-page {background:#d2d6de}
.dropdown-menu {font-size: 1em;}
.box {border-top-color: #00a65a;}
.field-validation-error {font-size:.875em; color: #F44336}
.table-data thead .table-header {background: #00a65a;color:#fff}
.post-thumbnail img{max-width: 100%;}

.info-box-detail a {font-size:.875em}
.sticky-table-header {position:fixed; top:0;z-index: 9; background: #fff}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > span{color:#444;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:10px;display:block; border-bottom: 1px solid #f4f4f4}

#ga-statistics > span {display:inline-block; margin-right: 20px}
.ga-chart {min-height: 300px;}

/* Styles for media manager */
#list-files .thumbnail{border:none;background:transparent}
#list-files.grid-view .file-item{height:150px;overflow:hidden;font-size:.85em;background:#f3f3f3;border:1px solid #d7d7d7;margin-bottom:20px;padding:10px;position:relative}
#list-files.grid-view .file-item .button-checked{display:none}
#list-files.grid-view .file-item.selected .button-checked{display:block;position:absolute;color:#217346;top:0;right:0}
#list-files.grid-view .file-item.selected{border:1px solid #00a65a}
#list-files.grid-view .file-thumb{text-align:center}
#list-files.grid-view .directory-thumb i{font-size: 5em;}
.grid-view span[class*='icon-file-']{font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;font-size:4em}
.icon-file-doc::before,.icon-file-docx::before{content:"\f1c2";color:#2b579a}
.icon-file-xls::before,.icon-file-xlsx::before{content:"\f1c3";color:#217346}
.icon-file-ppt::before,.icon-file-pptx::before{content:"\f1c4";color:#b7472a}
.icon-file-pdf::before{content:"\f1c1";color:#d32f2f}
.icon-file-txt::before{content:"\f0f6"}

#list-files.list-view > .row > div{float:none;width:100%;text-align:left;clear:both; margin-bottom:5px}
#list-files.list-view .file-item{font-size:.85em;position:relative; padding-left: 15px}
#list-files.list-view .file-item .button-checked{display:none}
#list-files.list-view .file-item .filepath {display:none}
#list-files.list-view .file-item label {margin-bottom:0}
#list-files.list-view .file-item.selected .button-checked{display:block;position:absolute;color:#217346;top:0;left:0;width:16px;}
#list-files.list-view .file-item.selected{background:#E0F2F1;border:none}
#list-files.list-view .file-thumb {float:left; margin-right: 10px; margin-bottom:0px;}
#list-files.list-view .file-thumb .thumbnail {margin-bottom:0px;padding:0}
#list-files.list-view .file-thumb img {width: 16px;}
.list-view span[class*='icon-file-']{font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;}
/* End Styles for media manager */

.seo-meta-length {display:inline-block; width: 50px;background: #eee;text-align:center; margin-top: 5px;border:#ccc}
.seo-meta-length.error {background: #E65100; color: #fff}

.select2-container{font-size:.875em}

 .colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }
    
    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }
    
    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }

.control-tag-form {margin-right:5px; margin-bottom:5px;display:inline-block;}
.control-tag-label {color:#fff; display:inline-block; height: 25px; width:50px; margin-right: 5px;}
/* Responsive table */
@media only screen and (max-width : 768px) {
    .table-data td:before{content:attr(data-th) " ";font-weight:700;width:6.5em;display:inline-block}
    .table-data tr {border-top:10px solid #ddd;}
    .table-data th{display:none}
    .table-data td{background:none !important;display:block;border-top:none!important;border-left:none!important;border-bottom:1px solid #eee}
    .table-data tr td:last-child {border-bottom: none !important;}
    .table-data td:first-child{padding-top:.5em}
    .table-data td:last-child{padding-bottom:.5em}
    .table-data td,.table-data th{margin:.5em 1em}
}
/*End responsive table*/
/*
COMPONENT: Tab
 */
.tabs{margin: 10px 0}
.tabs-nav {padding:0; margin:0; height: 31px;}
.tabs-nav li {display:inline;padding: 10px; background: #fff;}
.tabs-nav li:hover, .tabs-nav li.active {display:inline;padding: 10px; border-bottom:3px solid #E65100;}
.tabs-nav li:hover {background: #e8e8e8;}
.tabs-nav li a{color: rgba(0, 0, 0, 0.54);text-decoration: none;font-size: 1.125em}
.tabs-nav li:hover a, .tabs-nav li.active a{color:rgba(0,0,0,0.87);}
.tabs-content{border-top:1px solid #e8e8e8}
.tabs-content h3 {display:none;}
.tab-panel {padding: 20px 0;}
.tab-panel:not(.active) {display: none;}
@media screen and (max-width:55em){
  .tabs-nav {display: none;}
  .tabs-content {border-top: none;}
  .tabs-content h3 {display: block;cursor:pointer;border-bottom:3px solid #E65100;font-weight:500;color:#E65100;text-transform: uppercase;margin-bottom:0}
  .tabs-content h3 i {float:right;margin-right: 20px;}
  .tabs-content h3.open > i {transform:rotate(-90deg);}
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

/*COMPONENT MULTI LEVEL LIST*/
.checklist-terms {
    list-style:none;
    padding:10px;
}
.checklist-terms li {list-style:none}
.checklist-terms li .item-header{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    margin-bottom: 5px;
    list-style:none;
}
.checklist-terms label{font-weight:normal;margin-left: 10px;cursor:pointer}
.checklist-terms .icheckbox_minimal-blue.checked + label {color: #F44336;font-weight:bold}
.checklist-terms input:checked + label {color: #F44336;font-weight:bold}
.checklist-terms .has-children > ul {display:none}
.checklist-terms .has-children.expand > ul {display:block}

 /* Task list */
 .task-list-wrapper .pagination {margin:0}
 .task-list .task-command {visibility:hidden}
 .task-list tr:hover .task-command {visibility:visible}
 .task-list .tr-edit {background: #f4f4f4}
 li.dropdown-header {padding: 3px 10px;}