﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">

    @* Custom Fonts *@
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>
    @*<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>*@

    <link href="/Content/bootstrap/site.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/icheck/minimal/blue.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/jupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/skins/skin-green-light.min.css">
    <link href="/Content/site.css?v=1.20170705" rel="stylesheet" />
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <meta name="description" content="Lawsoc">

    @RenderSection("head", required: false)
</head>
<body class="hold-transition skin-green-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LAWSOC</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    @Html.Partial("/views/shared/UserInfo.cshtml")
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            @Html.Partial("/views/shared/menu.cshtml")
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @RenderSection("ContentHeader", required: false)                
            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()                
            </section>
        </div>
        <footer class="main-footer">
            <p>&copy; @DateTime.Now.Year - @Application.Name</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")*@

    @*Script dung trong truong hop mang cham, neu mang binh thuong dung CDN bundle o tren*@
    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/globalize.js"></script>
    <script src="~/Scripts/plugins/moment.min.js"></script>
    <script src="~/Scripts/plugins/jquerytmpl/jquery.tmpl.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/plugins/select2/select2.min.js"></script>
    <script src="~/Scripts/plugins/toastr.min.js"></script>
    <script src="~/Scripts/plugins/icheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/jquery.popupWindow.js"></script>
    <script src="~/Scripts/plugins/jplugin.js?v=1.20170705"></script>
    <script src="~/Scripts/plugins/chance.min.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.knob.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.ui.widget.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/plugins/jupload/jquery.fileupload.js"></script>
    <script src="~/Scripts/app.js"></script>
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
    @Html.PageScripts()
    
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
    var userOnlineHub = $.connection.onlineUserHub;
    //var loc = '@HttpContext.Current.Request.Url';
        var loc = $('title').text();
    $.connection.hub.qs = "loc=" + loc;
    $.connection.hub.start().done(function () { });
    userOnlineHub.client.GetOnlineUsers = function (data) {
        $("#online-users-list").html('');
        $('.online-users-count').text(data.length);
        var html = '';
        for (var i = 0; i < data.length; i++)
        {
            html += '<li><span><i class="fa fa-user text-success"></i> ' + data[i].Username + '<br /><em class="small">' + data[i].PageTitle +  '</em></span></li>';
        }
        $('#online-users-list').append(html);

    };
    </script>
    
</body>
</html>