﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - @Application.Name</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">

    @* Custom Fonts *@
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic&subset=all' rel='stylesheet' type='text/css'>
    <link href="/Content/bootstrap/site.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/icheck/minimal/blue.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/skins/skin-green-light.min.css">
    <link href="/Content/site.css" rel="stylesheet" />
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <meta name="description" content="Lawsoc">

    @RenderSection("head", required: false)
</head>
<body class="hold-transition skin-green-light layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top" role="navigation">
                
                <div class="container">
                    <div class="navbar-header">
                        <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        @Html.Partial("/views/shared/menu.cshtml")
                    </div><!-- /.navbar-collapse -->
                    <div class="navbar-custom-menu">
                        @Html.Partial("/views/shared/UserInfo.cshtml")
                    </div>
                </div>
            </nav>
        </header>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    @RenderSection("ContentHeader", required: false)
                </section>
                <!-- Main content -->
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer class="main-footer">
            <p>&copy; @DateTime.Now.Year - @Application.Name</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/plugins/moment.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/plugins/toastr.min.js"></script>
    <script src="~/Scripts/plugins/icheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/jquery.popupWindow.js"></script>
    <script src="~/Scripts/plugins/jplugin.js"></script>
    <script src="~/Scripts/plugins/chance.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>