﻿<ul class="nav navbar-nav">
    <li class="">
        <a href="/">
            <i class="fa fa-home"></i> <span></span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-newspaper-o"></i>
            Văn bản<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thư viện pháp luật</a>
                <ul class="dropdown-menu">
                    <li><a href="/lawdocument">Văn bản</a></li>
                    <li class="divider"></li>
                    <li><a href="/term/?type=law_category">Lĩnh vực pháp luật</a></li>
                    <li><a href="/term/?type=law_doc_type">Loại văn bản pháp luật</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Văn bản Lawsoc</a>
                <ul class="dropdown-menu">
                    <li><a href="/document">Văn bản</a></li>
                    <li class="divider"></li>
                    <li><a href="/term/?type=doc_category">Lĩnh vực văn bản</a></li>
                    <li><a href="/term/?type=doc_type">Loại văn bản</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-newspaper-o"></i>
            Thông tin <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/page/">Trang tĩnh</a></li>
            <li><a href="/post/">Bài viết tin tức</a></li>
            <li class="divider"></li>
            <li><a href="/term/?type=category">Chuyên mục tin tức</a></li>
            @*<li><a href="/term/?type=tag">Danh mục tag</a></li>*@
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i>
            Tài khoản <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/usersadmin">Danh sách tài khoản</a></li>
            <li><a href="/rolesadmin">Danh sách nhóm tài khoản</a></li>
        </ul>
    </li>
    <li class="">
        <a href="/media">
            <i class="fa fa-picture-o"></i> Quản lý file
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i>
            Cấu hình <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/menumanager">Quản lý menu</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i>
            Test <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" onclick="genPost();">Noi dung post</a></li>
            <li><a href="/rolesadmin">Danh sách nhóm tài khoản</a></li>
        </ul>
    </li>
</ul>
<script>
    function genPost() {
        var title = chance.sentence({ words: 5 });
        title = title.slice(0, -1);
        var slug = framework.Slugify(title);
        var desc = chance.sentence({ words: 12 });
        var content = chance.paragraph({ sentences: 7 });
        var metadesc = chance.sentence({ words: 5 });
        var metakw = chance.sentence({ words: 1 }).slice(0, -1);
        //metakw = metakw.slice(0, -1);

        $('#Title').val(title);
        $('#Slug').val(slug);
        $("#Description").val(desc);
        CKEDITOR.instances.content.setData(content);
        $("#MetaKeyword").val(metakw);
        $("#MetaDescription").val(metadesc);
    }
</script>