﻿@using Microsoft.AspNet.Identity
<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Thư viện pháp luật</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Văn bản</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/lawdocument/"><i class="fa fa-angle-right"></i> Toàn bộ văn bản</a></li>
                        <li><a href="/lawdocument/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/lawdocument/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/lawdocument/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                    
                </li>
                <li><a href="/term/?type=law_category"><i class="fa fa-angle-right"></i> Lĩnh vực pháp luật</a></li>
                <li><a href="/term/?type=law_doc_type"><i class="fa fa-angle-right"></i> Loại văn bản pháp luật</a></li>
                <li><a href="/lawissuedplace/"><i class="fa fa-angle-right"></i> Nơi ban hành</a></li>
                <li><a href="/tag/?type=document"><i class="fa fa-angle-right"></i> Tag</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-briefcase"></i>
                <span>Cơ sở dữ liệu</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Văn bản</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/document/"><i class="fa fa-angle-right"></i> Toàn bộ văn bản</a></li>
                        <li><a href="/document/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/document/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/document/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>

                </li>
                <li><a href="/term/?type=doc_category"><i class="fa fa-angle-right"></i> Lĩnh vực văn bản</a></li>
                <li><a href="/term/?type=doc_type"><i class="fa fa-angle-right"></i> Loại văn bản</a></li>
                <li><a href="/term/?type=doc_subject"><i class="fa fa-angle-right"></i> Chủ đề văn bản</a></li>
                @*<li><a href="/tag"><i class="fa fa-angle-right"></i> Tag</a></li>*@
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-briefcase"></i>
                <span>Án lệ</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Án lệ</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/documentcase/"><i class="fa fa-angle-right"></i> Toàn bộ án lệ</a></li>
                        <li><a href="/documentcase/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/documentcase/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/documentcase/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                </li>
                <li><a href="/term/?type=doc_case_category"><i class="fa fa-angle-right"></i> Lĩnh vực án lệ</a></li>
                <li><a href="/term/?type=doc_case_type"><i class="fa fa-angle-right"></i> Loại án lệ</a></li>
                <li><a href="/term/?type=doc_case_sentence_type"><i class="fa fa-angle-right"></i> Loại bản án</a></li>
                <li><a href="/term/?type=doc_case_subject"><i class="fa fa-angle-right"></i> Chủ đề án lệ</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-briefcase"></i>
                <span>Bài viết học thuật</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Bài viết học thuật</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/documentpost/"><i class="fa fa-angle-right"></i> Toàn bộ bài viết</a></li>
                        <li><a href="/documentpost/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/documentpost/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/documentpost/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                </li>
                
                <li><a href="/term/?type=doc_post_category"><i class="fa fa-angle-right"></i> Lĩnh vực bài viết</a></li>
                <li><a href="/term/?type=doc_post_type"><i class="fa fa-angle-right"></i> Loại bài viết</a></li>
                <li><a href="/term/?type=doc_post_subject"><i class="fa fa-angle-right"></i> Chủ đề bài viết</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-newspaper-o"></i>
                <span>Thông tin</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/page/"><i class="fa fa-angle-right"></i> Trang tĩnh</a></li>
                <li><a href="/textblock/"><i class="fa fa-angle-right"></i> Khối văn bản</a></li>
                <li><a href="/term/?type=page_category"><i class="fa fa-angle-right"></i> Danh mục trang tĩnh</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-newspaper-o"></i>
                <span>Tin tức</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Bài viết tin tức</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/post/"><i class="fa fa-angle-right"></i> Toàn bộ bài viết</a></li>
                        <li><a href="/post/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/post/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/post/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                </li>
                <li><a href="/term/?type=category"><i class="fa fa-angle-right"></i> Danh mục tin tức</a></li>
                <li><a href="/tag/?type=post"><i class="fa fa-angle-right"></i> Tag</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-newspaper-o"></i>
                <span>Hoạt động cho bé</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Bài viết</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/forkid/"><i class="fa fa-angle-right"></i> Toàn bộ bài viết</a></li>
                        <li><a href="/forkid/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/forkid/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/forkid/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                </li>
                <li><a href="/term/?type=hoat-dong-be-chu-de"><i class="fa fa-angle-right"></i> Danh mục chủ đề</a></li>
                <li><a href="/term/?type=hoat-dong-be-nguyen-lieu"><i class="fa fa-angle-right"></i> Danh mục nguyên liệu</a></li>
                <li><a href="/term/?type=hoat-dong-be-linh-vuc"><i class="fa fa-angle-right"></i> Danh mục lỉnh vực</a></li>
                <li><a href="/term/?type=hoat-dong-be-su-kien"><i class="fa fa-angle-right"></i> Danh mục sự kiện</a></li>
                <li><a href="/tag/?type=post"><i class="fa fa-angle-right"></i> Tag</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-newspaper-o"></i>
                <span>Hoạt động cho cô</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Bài viết</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/forteacher/"><i class="fa fa-angle-right"></i> Toàn bộ bài viết</a></li>
                        <li><a href="/forteacher/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/forteacher/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/forteacher/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                </li>
                <li><a href="/term/?type=hoat-dong-teacher-thong-tin-nganh"><i class="fa fa-angle-right"></i> Danh mục thông tin ngành mầm non</a></li>
                <li><a href="/term/?type=hoat-dong-teacher-giao-an-mau"><i class="fa fa-angle-right"></i> Danh mục giáo án mẫu</a></li>
                <li><a href="/term/?type=hoat-dong-teacher-ke-hoach"><i class="fa fa-angle-right"></i> Danh mục kế hoạch tuần tháng năm</a></li>
                <li><a href="/tag/?type=post"><i class="fa fa-angle-right"></i> Tag</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-newspaper-o"></i>
                <span>Hoạt động cho mẹ</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Bài viết</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/formom/"><i class="fa fa-angle-right"></i> Toàn bộ bài viết</a></li>
                        <li><a href="/formom/?status=0"><i class="fa fa-angle-right"></i> Chờ duyệt</a></li>
                        <li><a href="/formom/?status=2"><i class="fa fa-angle-right"></i> Bị trả về</a></li>
                        <li><a href="/formom/?deleted=true"><i class="fa fa-angle-right"></i> Đã xóa</a></li>
                    </ul>
                </li>
                <li><a href="/term/?type=hoat-dong-me-album"><i class="fa fa-angle-right"></i> Danh mục album</a></li>
                <li><a href="/term/?type=hoat-dong-me-nguyen-lieu"><i class="fa fa-angle-right"></i> Danh mục nguyên liệu</a></li>
                <li><a href="/tag/?type=post"><i class="fa fa-angle-right"></i> Tag</a></li>
            </ul>
        </li>
        <li class="treeview">
                <a href="#">
                    <i class="fa fa-flag"></i>
                    <span>Công việc</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/task/?createdby=@User.Identity.GetUserId()"><i class="fa fa-angle-right"></i> Công việc của tôi</a></li>
                    <li><a href="/task/?assignedid=@User.Identity.GetUserId()"><i class="fa fa-angle-right"></i> Công việc được giao</a></li>
                    <li><a href="/task/"><i class="fa fa-angle-right"></i> Toàn bộ công việc</a></li>
                </ul>
            </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span>Thư liên hệ</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/contactmessage/"><i class="fa fa-angle-right"></i> Thư liên hệ</a></li>
                @*<li><a href="/term/?type=contact_type"><i class="fa fa-angle-right"></i> Loại liên hệ</a></li>*@
                <li><a href="/term/?type=contact_tag"><i class="fa fa-angle-right"></i> Tag liên hệ</a></li>
            </ul>
        </li>
        <li>
            <a href="/controltag/">
                <i class="fa fa-thumbs-o-up"></i> <span>Trạng thái văn bản</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Tài khoản</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/usersadmin/"><i class="fa fa-angle-right"></i> Danh sách tài khoản</a></li>
                <li><a href="/rolesadmin/"><i class="fa fa-angle-right"></i> Danh sách nhóm tài khoản</a></li>
                <li><a href="/permission/"><i class="fa fa-angle-right"></i> Phân quyền</a></li>
                <li><a href="/usersadmin/lockedoutusers/"><i class="fa fa-angle-right"></i> Tài khoản bị khoá</a></li>
            </ul>
        </li>
        <li class="">
            <a href="/media">
                <i class="fa fa-picture-o"></i> <span>Quản lý file</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-bar-chart"></i>
                <span>Thống kê</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/statistic/"><i class="fa fa-angle-right"></i> Thống kê truy cập</a></li>
                <li><a href="/statistic/userposts/"><i class="fa fa-angle-right"></i> Thống kê bài viết</a></li>
                <li><a href="/statistic/usercontroltags/"><i class="fa fa-angle-right"></i> Thống kê rà soát</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i>
                <span>Hệ thống</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/setting/"><i class="fa fa-angle-right"></i> Cấu hình hệ thống</a></li>
                <li><a href="/setting/homepagesettings/"><i class="fa fa-angle-right"></i> Cấu hình trang chủ</a></li>
                <li><a href="/menumanager/"><i class="fa fa-angle-right"></i> Quản lý menu</a></li>
                <li><a href="/banner/"><i class="fa fa-angle-right"></i> Quản lý banner</a></li>
                <li><a href="/system/checkbrokenattachments/"><i class="fa fa-angle-right"></i> Kiểm tra file đính kèm</a></li>
                <li><a href="/cachemanager/"><i class="fa fa-angle-right"></i> Quản lý cache</a></li>
            </ul>
        </li>
    </ul>
</section>
<script>
    (function ($) {
        console.log(this.location);
        $('.treeview-menu a').each(function (index, elem) {
            var $this = $(this);
            var href = $(elem).attr('href');
            var queryString = "";
            var pathName = href;
            var queryIndex = href.indexOf('?');
            if (queryIndex >= 0) {                
                queryString = href.substring(queryIndex + 1);
                pathName = href.substring(0, queryIndex);
            }
            if (location.pathname === pathName) {
                if (queryString === "" || location.search.indexOf(queryString) >= 0) {
                    $this.parents('li,ul').addClass('active');
                }
            }
            
        });
    })(jQuery);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>