﻿@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    <li class="dropdown user notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"> </i><span class="hidden-xs">@User.Identity.GetUserName()</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <ul class="menu">
                    <li>
                        <a href="/profile"><i class="glyphicon glyphicon-cog"></i> Thông tin cá nhân </a>
                    </li>
                    <li><a href="/profile/changepassword"><i class="glyphicon glyphicon-lock"></i> Đổi mật khẩu</a></li>
                    <li>
                        <a href="javascript:void();" id="btnLogOff"><i class="glyphicon glyphicon-log-out"></i> Thoát</a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <script>
                        document.getElementById("btnLogOff").addEventListener("click", logOff);
                        function logOff()
                        {
                            document.getElementById('logoutForm').submit();
                        }
                        </script>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i><span class="label label-warning online-users-count">0</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">Đang có <span class="online-users-count">0</span> người online</li>
            <li>
                <ul class="menu" id="online-users-list">
                </ul>
            </li>
        </ul>
    </li>
</ul>
