﻿@using TVG.Core.Helper
@model TermFormModel

@{
    TVG.Data.Domain.Taxonomy taxonomy = Model.Taxonomy;
    var metaList = Model.MetaList != null ? (List<TaxonomyTermMeta>)Model.MetaList : new List<TaxonomyTermMeta>();
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/term/?type=@taxonomy.Name"><i class="fa fa-dashboard"></i> @taxonomy.DisplayName</a></li>
        <li class="active">@Model.Term.Name</li>
    </ol>
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-edit"></i> Thông tin @taxonomy.DisplayName</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Edit", "Term", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Term.Id)
            @Html.HiddenFor(model => model.Term.Taxonomy)

            <div class="form-group">
                <label class="col-md-2 control-label">Tên danh mục</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Term.Name, new { @class = "form-control required", placeholder = "Tên danh mục" })
                    @Html.ValidationMessageFor(model => model.Term.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tên SEO</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Term.Slug, new { @class = "form-control required", placeholder = "Tên SEO" })
                    @Html.ValidationMessageFor(model => model.Term.Slug)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Mô tả</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Term.Description, new { @class = "form-control", placeholder = "Mô tả" })
                </div>
            </div>
            if (taxonomy.HasThumb)
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Icon</label>
                    <div class="col-md-10">
                        <div class="post-thumbnail">
                            @if (!string.IsNullOrEmpty(Model.Term.Image))
                            {
                                <img id="post_image" class="" src="@(ConfigurationManager.AppSettings["ClientDomain"] + "/uploads/" + Model.Term.Image)" />
                            }
                            else
                            {
                                <img id="post_image" class="" src="~/Content/images/noimage-48.png" />
                            }
                            <input type="hidden" id="image" name="Term.Image" class="form-control" value="@Model.Term.Image" />
                        </div>
                        <button class="btn btn-primary btn-flat" id="image-select" type="button">Chọn</button>
                        <button class="btn btn-default btn-flat" id="image-remove" type="button">Xoá</button>
                    </div>
                </div>
            }
            if (Model.TermTree != null)
            {
                <div class="form-group">
                    <label class="col-md-2 control-label">Danh mục cha</label>
                    <div class="col-md-10">
                        <select name="Term.ParentId" id="ParentId" class="form-control">
                            <option value="0">-- Chọn danh mục --</option>
                            @foreach (TVG.Data.Domain.TaxonomyTerm item in Model.TermTree)
                            {
                                if (item.Id != Model.Term.Id)
                                {
                                    if (item.Id == Model.Term.ParentId)
                                    {
                                        <option value="@item.Id" selected>@item.Name.AppendLeft('-', item.Level * 4) </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name.AppendLeft('-', item.Level * 4)</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-md-2 control-label">Meta Keyword</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Term.MetaKeyword, new { @class = "form-control", placeholder = "Meta keyword" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Meta Description</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Term.MetaDescription, new { @class = "form-control", placeholder = "Meta Description" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Thứ tự</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Term.DisplayOrder, new {@type = "number", @class = "form-control", placeholder = "Thứ tự sắp xếp" })
                </div>
            </div>
            if (metaList.Count > 0)
            {
                foreach (var meta in metaList)
                {
                    <div class="form-group">
                        <label class="col-md-2 control-label">@meta.DisplayName</label>
                        <div class="col-md-10">
                            <input type="text" name="@meta.MetaName" placeholder="@meta.DisplayName" class="@meta.MetaType form-control" value="@Model.Term.Metas.GetMetaValue(meta.MetaName)" />
                        </div>
                    </div>
                }
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                    @Html.ActionLink("Quay lại", "Index", new { type = taxonomy.Name }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
@section head {
    <link href="~/Scripts/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
}
@section scripts{

    <script src="~/Scripts/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //tạo url rewrite theo tiêu đề
            $("#Term_Name").blur(function () {
                var text = $(this).val();
                text = framework.Slugify(text);
                $("#Term_Slug").val(text);
            });

            @*nhấn chọn hình ảnh*@
            $('#image-select').click(function () {
                if (typeof (puMedia) == 'undefined' || puMedia.closed) {
                    puMedia = $.popupWindow("/mediamanager/?target=post_image", {
                        height: 490,
                        width: 950,
                        center: 'screen',
                        onFileSelected: processImage
                    });
                } else {
                    puMedia.focus();
                }
            });

            @*//button remove image*@
            $('#image-remove').click(function () {
                $('#post_image').attr('src', "/content/images/noimage-48.png");
                $('#image').val('');
            });

            $(".color").colorpicker({
                format: "hex",
                customClass: 'colorpicker-2x',
                sliders: {
                    saturation: {
                        maxLeft: 200,
                        maxTop: 200
                    },
                    hue: {
                        maxTop: 200
                    },
                    alpha: {
                        maxTop: 200
                    }
                }
            });
        });

        @*xử lý sau khi chọn hình ảnh đại diện*@
        function processImage(event, files, target) {
            var fileUrl = files[0].url;
            var filePath = files[0].path;
            $('#' + target).attr('src', files[0].url);
            $('#image').val(filePath);
            puMedia.close();
        }
    </script>
}