﻿@model NPoco.Page<TVG.Data.Domain.TaxonomyTerm>

@{
    TVG.Data.Domain.Taxonomy taxonomy = ViewBag.Taxonomy;
    ViewBag.Title = "Quản lý " + taxonomy.DisplayName;

    bool canInsert = (bool)ViewBag.CanInsert;
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
}
@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-folder-open-o"></i> @taxonomy.DisplayName</h3>
        <div class="box-tools">
            @if (canInsert)
            {
                @Html.ActionLink("Tạo mới", "Create", new { type = taxonomy.Name }, new { @class = "btn btn btn-sm btn-primary" })
            }            
        </div>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Delete", "Term", FormMethod.Post, new { id = "form1" }))
        {
            <input type="hidden" name="deletedId" id="deletedId" value="" />
            <input type="hidden" name="taxonomyType" id="taxonomyType" value="@taxonomy.Name" />
            //Bảng dữ liệu
            <table class="table table-hover table-data">
                <thead>
                    <tr class="table-header">
                        <th>Tên danh mục</th>
                        <th>Đường dẫn tĩnh</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td data-th="Tên danh mục">
                                @Html.ActionLink(item.Path, "Edit", new { id = item.Id })
                            </td>
                            <td data-th="Đường dẫn tĩnh">
                                @item.Slug
                            </td>
                            <td data-th="">
                                @if (canEdit)
                                {
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                                }
                                @if (canDelete)
                                {
                                    @Html.Raw(" | ") <a href="#" data-id="@item.Id" class="linkDelete">Xoá</a>
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="box-footer clearfix">
        @Html.Pager(Model.TotalPages, Model.CurrentPage, Model.ItemsPerPage, "/term/?type=" + taxonomy.Name)
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @if (!string.IsNullOrEmpty(TempData.SafeGet("status"))){
                @Html.Raw("toastr['" + @TempData.SafeGet("status") + "']('" + @TempData.SafeGet("message") + "');")
            }

            $('.linkDelete').click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                $('#deletedId').val(id);
                confirm("Bạn có chắc muốn xoá?") ? $("#form1").submit() : false;
            });
        });
    </script>
}

